{% load static %}
{% load embed %}

<div class="input-group">
    <input id="stats_depot" type="text" class="form-control" value="{{ texte }}" readonly>
    <div class="input-group-append">
        <a type="button" class="btn btn-default" id="bouton_modifier_reglements" title="Ajouter ou retirer des règlements" onclick="modifier_reglements(only_inclus=false)"><i class="fa fa-pencil margin-r-5"></i> Modifier</a>
        <a type="button" class="btn btn-default" title="Visualiser la liste des règlements inclus" onclick="modifier_reglements(only_inclus=true)"><i class="fa fa-eye margin-r-5"></i> Visualiser</a>
    </div>
</div>
<input name="{{ name }}" id="{{ id }}" type="text" style="display: none;" value="{{ value }}">

{# Modal Sélectionner des règlements #}
{% embed 'core/modal.html' %}
    {% block modal_id %}modal_selection_reglements{% endblock %}
    {% block modal_classe %}modal-lg{% endblock %}
    {% block modal_titre %}Sélectionner des règlements{% endblock %}
    {% block modal_body %}
        <div id="modal_erreurs" class="text-red"></div>
        <div id="div_selection_reglements">
        </div>
    <div class="buttonHolder">
        <div class="modal-footer" style="padding-bottom:0px;padding-right:0px;padding-left:0px;">
            <input type="submit" value="Valider" class="btn btn-primary" id="{{ id }}_bouton_valider"/>
            <button type="button" class="btn btn-danger" data-dismiss="modal"><i class='fa fa-ban margin-r-5'></i>Annuler</button>
        </div>
    </div>
    {% endblock %}

{% endembed %}

<script>

    function afficher_stats() {
        $.ajax({
            type: "POST",
            url: "{% url 'ajax_get_reglements_stats' %}",
            data: {
                liste_reglements: $("#{{ id }}").val(),
                csrfmiddlewaretoken: "{{ csrf_token }}",
            },
            success: function (data) {
                $("#stats_depot").val(data.texte);
            }
        });
    };

    function modifier_reglements(only_inclus=false) {
        $.ajax({
            type: "POST",
            url: "{% url 'ajax_modifier_reglements_depot' %}",
            data: {
                only_inclus: only_inclus,
                liste_reglements: $("#{{ id }}").val(),
                csrfmiddlewaretoken: "{{ csrf_token }}",
            },
            success: function (data) {
                $("#div_selection_reglements").html(data);
                $('#modal_selection_reglements').modal('show');
            }
        });
    };


    $(document).ready(function() {

        // Met à jour le cadre des stats
        afficher_stats();

        // Modal : Validation
        $("#{{ id }}_bouton_valider").on('click', function(e) {
            e.preventDefault();
            var liste_idreglements = [];
            var aujourdhui = new Date();
            $table.bootstrapTable('getSelections').forEach(function (row) {
                if ((row.date_differe) && (new Date(row.date_differe) > aujourdhui)) {
                    toastr.warning("Attention, le règlement par " + row.mode + " de " + row.montant + " € de " + row.payeur + " a une date d'encaissement différée postérieur à aujourd'hui !")
                }
                liste_idreglements.push(row.pk);
            });
            $("#{{ id }}").val(liste_idreglements.join(';'));
            afficher_stats();
            $('#modal_selection_reglements').modal('hide');
        });

    });

</script>






