{% extends "core/box_in_page.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load embed %}

{% block contenu_page %}
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            {% embed 'core/box.html' %}
                {% block box_titre %}{{ box_titre }}{% endblock %}
                {% block box_introduction %}{{ box_introduction|safe }}{% endblock %}
                {% block box_contenu %}

                    <ul class="products-list product-list-in-box">
                        {% for assistant in liste_assistants %}
                            <li class="item">
                                <a href="{% url assistant.url %}" class="product-title">
                                    <div class="product-img">
                                        <i class="fa {{ assistant.icone }} fa-3x fa-fw"></i>
                                    </div>
                                    <div class="product-info">
                                        {{ assistant.label }}
                                        <span class="product-description">{{ assistant.description }}</span>
                                    </div>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>

                    <br>
                <a class="btn btn-danger " href="{% url 'activites_liste' %}"><i class='fa fa-ban margin-r-5'></i>Annuler</a>

                {% endblock box_contenu %}
                {% block box_conclusion %}{{ box_conclusion }}{% endblock %}
            {% endembed %}
        </div>
    </div>
{% endblock contenu_page %}


