{% extends "core/crud/liste_in_box.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load embed %}


{% block contenu_page %}
    {% embed 'core/box.html' %}
        {% block box_titre %}{{ box_titre }}{% endblock %}
        {% block box_introduction %}{{ box_introduction|safe }}{% endblock %}
        {% block box_contenu %}
            {% embed 'core/crud/liste.html' %}
            {% endembed %}
        {% endblock box_contenu %}
        {% block box_conclusion %}{{ box_conclusion|safe }}{% endblock %}
    {% endembed %}

    {# Modal duplication #}
    {% embed 'core/modal.html' with mode_static=True %}
        {% block modal_id %}modal_dupliquer{% endblock %}
        {% block modal_titre %}Dupliquer des classes{% endblock %}
        {% block modal_body %}
            Renseignez ci-dessous les caractéristiques des nouvelles classes.
            {% crispy form_dupliquer %}
        {% endblock %}
    {% endembed %}

    <script>
        function action_classe(num_action) {
            if (num_action === 1) {
                $("#modal_dupliquer").modal('show');
            }
        }

        function valider_form_dupliquer() {
            $.ajax({
                type: "POST",
                url: "{% url 'ajax_classes_dupliquer' %}",
                data: {
                    "date_debut": $("#id_date_debut").val(),
                    "date_fin": $("#id_date_fin").val(),
                    "nom_ancien_texte": $("#id_nom_ancien_texte").val(),
                    "nom_nouveau_texte": $("#id_nom_nouveau_texte").val(),
                    "liste_classes": JSON.stringify(get_coches()),
                },
                datatype: "json",
                success: function (data) {
                    location.reload()
                },
                error: function(data) {
                    toastr.error(data.responseJSON.erreur);
                }
            });
        }
    </script>

{% endblock contenu_page %}
