{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    {% block meta %}
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Noethys">
    {% endblock meta %}

    <title>Noethysweb | Accès bloqué</title>

    {% block styles %}
        {% include 'core/styles.html' %}
    {% endblock %}

    {% block scripts %}
        {% include 'core/scripts.html' %}
    {% endblock %}

    {% block extra_head %}
    {% endblock %}

</head>

<body class="hold-transition login-page">

    <section class="content">
        <div class="error-page">
            <div class="error-content ml-0">
                <h3><i class="fa fa-warning text-red"></i> Blocage de sécurité.</h3>
                <p>
                    L'application a bloqué provisoirement votre accès en raison d'un trop grand nombre de tentatives échouées de connexion.
                    <br><br>Pour débloquer votre accès, patientez 24h ou contactez l'administrateur de l'application.
                </p>
            </div>
        </div>
    </section>

</body>

</html>
