{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    {% block meta %}
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Noethys">
    {% endblock meta %}

    <title>Noethysweb | Connexion</title>

    {% block styles %}
        {% include 'core/styles.html' %}

        <style>
            body {
                color: white;
                background-image: url("{% static 'images/fond.jpg' %}") !important;
            }
        </style>

    {% endblock %}

    {% block scripts %}
        {% include 'core/scripts.html' %}
    {% endblock %}

    {% block extra_head %}
    {% endblock %}

</head>


<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <img src="{% static "images/logo_blanc.png" %}" style="max-height: 25px;padding-bottom: 3px;" alt="Logo Noethys"> <b class="text-primary">Noethys</b><sup style="font-size: 18px; color:white;">web</sup>
        </div>

        <div class="login-box-body">
            <p class="login-box-msg">Saisissez vos codes d'accès</p>

            <form name="LoginForm" method="post">
                {% csrf_token %}

                {% if form.errors %}
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}

                <div class="form-group has-feedback">
                    {{ form.username }}
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                </div>

                <div class="form-group has-feedback">
                    {{ form.password }}
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>

                {% if form.captcha.errors %}
                    <div class="alert alert-danger">
                        Vous devez cocher la case ci-dessous
                    </div>
                {% endif %}

                <div class="form-group">
                    {{ form.captcha }}
                </div>

                <div class="row">
                    <div class="col-xs-8">
                    </div>

                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Connexion</button>
                    </div>

                </div>

            </form>

        </div>

    </div>

</body>

</html>
