{% extends "core/base_login.html" %}
{% load static %}

{% block titre_contenu %}
    Réinitialiser votre mot de passe
{% endblock titre_contenu %}

{% block contenu_page %}

    {% if validlink %}

        <p class="small">Saisissez le nouveau mot de passe de votre choix et cliquez sur Valider :</p>

        <form method="post">
            {% csrf_token %}

            {% if form.errors %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endif %}

            {% if form.new_password1.errors %}
                {% for error in form.new_password1.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endif %}

            {% if form.new_password2.errors %}
                {% for error in form.new_password2.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endif %}

            <div class="form-group has-feedback">
                {{ form.new_password1 }}
                <span class="glyphicon form-control-feedback"></span>
            </div>

            <div class="form-group has-feedback">
                {{ form.new_password2 }}
                <span class="glyphicon form-control-feedback"></span>
            </div>

            {% if form.secquest %}
                <p class="small">Pour des raisons de sécurité, répondez à la question suivante : {{ form.secquest.label }}</p>
                <div class="form-group has-feedback">
                    {{ form.secquest }}
                </div>
            {% endif %}

            <button class="btn btn-block btn-primary login-btn mb-4" type="submit">Valider</button>

        {% else %}

            <p>Le lien que vous venez d'utiliser a expiré. Veuillez renouveler votre demande de réinitialisation.</p>

        {% endif %}

    </form>

    <a class="forgot-password-link" href="{% url 'portail_connexion' %}" title="Cliquez ici pour revenir à la page de connexion">Revenir à la page de connexion</a>

{% endblock contenu_page %}