{% load static %}

<style>
	.organisateur {
		position: relative;
		width: 100%;
		padding: 15px 0px 10px 0px;
		overflow: hidden;
        {#border-bottom: 1px solid #5f5f5f;#}
	}
	.organisateur > .image > img {
		display: block;
		width: 100%;
		max-width: 180px;
		height: auto;
		margin-left: auto;
		margin-right: auto;
	}
	.organisateur > .info {
		padding: 15px 5px 10px 5px;
        margin-bottom: 0px !important;
		line-height: 1.2;
		position: relative;
		left: 0px;
		text-align: center;
		color: #ffffff;
		font-size: 14px;
		word-wrap : break-word;
		white-space: normal;
        display: block;
	}
    .sidebar-collapse > .organisateur > .info {
          animation-name: fadeOut;
          animation-fill-mode: both;
          visibility: hidden;
        }
    .sidebar-collapse .organisateur .info{
        display: none;
    }
    .brand-text {
        FONT-WEIGHT: 500;
        display: block;
        {#font-size: 1.4rem;#}
        {#line-height: 0.5;#}
        margin-left: 10px;
        transition: width .3s ease-in-out;
        white-space: nowrap;
        letter-spacing: 3px;
    }
    .sidebar-no-expand .brand-link .brand-image {
        margin-left: 2.9rem;
        transition: width .3s ease-in-out;
    }
    .sidebar-collapse .brand-link .brand-image {
        margin-left: .95rem;
        transition: width .3s ease-in-out;
    }





</style>

{% get_item_defaut options_interface "sidebar-no-expand" True as sidebar_no_expand %}

<aside class="main-sidebar main-sidebar-custom sidebar-dark-lightblue
    {% if sidebar_no_expand %}sidebar-no-expand{% endif %}
">

    <!-- Logo -->
    <a href="{% url 'accueil' %}" class="brand-link navbar-lightblue">
      <img src="{% static "images/logo_blanc.png" %}" alt="Logo Noethys" class="brand-image" style="opacity: .4">
      <span class="brand-text font-weight-light" style="opacity: .6">Noethysweb</span>
    </a>

    <!-- sidebar: style can be found in sidebar.less -->
    <div class="sidebar">

        <!-- Logo de l'organisateur -->
        <div class="organisateur">
            <div class="image">
                {% if organisateur.logo %}
                    <img src="{{ organisateur.logo.url }}" class="rounded" alt="Logo organisateur">
                {% endif %}
            </div>
            <div class="info">
                <span>{{ organisateur.nom }}</span>
            </div>
        </div>

        <!-- Sélection de la structure -->
{% comment %}
        {% if request.user.structures.all %}
            <div class="form-inline">
                <div class="input-group mt-2">
                    <select class="select form-control form-control-sidebar" id="selection_structure" title="Sélection de la structure">
                        {% for structure in request.user.structures.all %}
                            <option value="{{ structure.pk }}" {% if structure == request.user.structure_actuelle %}selected{% endif %}>{{ structure.nom }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        {% endif %}
{% endcomment %}

        <!-- SidebarSearch Form -->
        <div >
            <form id="form_recherche2" action="{% url 'rechercher' %}" method="GET" role="search">
                {% csrf_token %}
                <div class="input-group">
                    <input class="form-control form-control-sidebar" id="champ-recherche2" name="champ_recherche" title="Rechercher une commande, un individu, une famille, un payeur..." type="search" placeholder="Rechercher..." aria-label="Rechercher...">
                    <div class="input-group-append">
                        <button class="btn btn-sidebar">
                            <i class="fa fa-search fa-fw"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>

        {# Menu Principal #}
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-header">{{ menu_principal.titre|upper }}</li>
                {% for child in menu_principal.GetChildren %}
                    {% if child.toujours_afficher or child.HasChildren %}
                        <li class="nav-item" title="{{ child.titre }}">
                            <a class="nav-link {% if child in breadcrumb %} active{% endif %}" {% if child.code %}href="{% url child.code %}"{% endif %}>
                                <i class="nav-icon fa fa-{{ child.icone }}"></i>
                                <p>{{ child.titre }}</p>
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}

                {# Signaler un bug #}
                {% if mode_demo %}
                    <li class="nav-item" title="{{ child.titre }}">
                        <a class="nav-link text-danger" href="https://assisthys.noethysweb.com/" target="_blank">
                            <i class="nav-icon fa fa-warning"></i><p>Signaler un bug</p>
                        </a>
                    </li>
                {% endif %}

            </ul>
        </nav>

    </div>
    <!-- /.sidebar -->

</aside>


{% block scripts %}
    <script>
        $(document).ready(function() {

            {# Sélection de la structure actuelle #}
{% comment %}
            $("#selection_structure").on("change",function(event) {
                $.ajax({
                    type: "POST",
                    url: "{% url 'ajax_memorise_structure' %}",
                    data: {
                        idstructure: $("#selection_structure").val(),
                        csrfmiddlewaretoken: "{{ csrf_token }}",
                    },
                    success: function(data) {
                        location.reload();
                    },
                });
            });
{% endcomment %}

            $("#form_recherche1").on('submit', function(event) {
                if ($("#champ-recherche1").val().length < 3) {
                    event.preventDefault();
                    toastr.error("Une recherche doit effectuée sur un minimum de 3 caractères");
                };
            });
            $("#form_recherche2").on('submit', function(event) {
                if ($("#champ-recherche2").val().length < 3) {
                    event.preventDefault();
                    toastr.error("Une recherche doit effectuée sur un minimum de 3 caractères");
                };
            });

        });
    </script>
{% endblock scripts %}
