{% extends "core/page.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load embed %}


{% block contenu_page %}

    <form id="form_general" action="{% url 'edition_liste_conso' %}" class="uniForm" method="post">

        <div class="row">

            <div class="col-md-3">

                <!-- Paramètres -->
                <div class="card card-default">
                    <div class="card-header">
                        <h3 class="card-title"><i class="fa fa-calendar margin-r-5"></i> Date</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Réduire"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="card-body">
                        {% crispy form_date %}
                    </div>
                </div>

            </div>

            <div class="col-md-9">

                <div class="card card-default">
                    <div class="card-header">
                        <h3 class="card-title"><i class="fa fa-gear margin-r-5"></i> Paramètres</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Réduire"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="card-body">
                        {% crispy form_parametres %}
                    </div>
                </div>

            </div>
        </div>
    </form>

    {% include 'core/modal_pdf.html' %}

    <script>

        // Générer le PDF
        function generer_pdf(telechargement=false) {
            $.ajax({
                type: "POST",
                url: "{% url 'ajax_edition_liste_conso_generer_pdf' %}",
                data: $("#form_general").serialize(),
                datatype: "json",
                success: function(data){
                    charge_pdf(data, telechargement);
                },
                error: function(data) {
                    toastr.error(data.responseJSON.erreur);
                }
            })
        };

        // Exporter vers Excel
        function exporter_excel() {
            $.ajax({
                type: "POST",
                url: "{% url 'ajax_edition_liste_conso_exporter_excel' %}",
                data: $("#form_general").serialize(),
                datatype: "json",
                success: function(data){
                    charge_pdf(data, true);
                },
                error: function(data) {
                    toastr.error(data.responseJSON.erreur);
                }
            })
        };

    </script>
{% endblock contenu_page %}

