{% extends "core/page.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load embed %}

{% block page_titre %}{{ page_titre }}{% endblock page_titre %}

{% block styles %}
    {{ block.super }}
{% endblock styles %}


{% block contenu_page %}

    <script>
        var dict_options = JSON.parse('{{ data.options_json|escapejs }}');
    </script>

    <div class="row">
        <div class="col-md-3" >
            {% include "consommations/gestionnaire_parametres.html" %}
            {% include "consommations/grille_totaux.html" %}
            {% if data.tarifs_credits_exists %}
                {% include "consommations/grille_forfaits.html" %}
            {% endif %}
            {% include "consommations/grille_facturation.html" %}
        </div>

        <div class="col-md-9">
            {% include "consommations/grille.html" %}
        </div>

    </div>

    {# Importation des modals #}
    {% include 'consommations/grille_ajouter_individu.html' %}

{% endblock contenu_page %}


{% block scripts %}
    {{ block.super }}
    <script>
        function Get_individus() {return []}
        function Get_inscriptions() {return []}
    </script>
{% endblock scripts %}
