{% load crispy_forms_tags %}
{% load static %}
{% load embed %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'lib/clusterize/clusterize.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'consommations/grille.css' %}">
    <style>
        {% for evt in data.liste_images_evenements %}
            .event-img-{{ evt.get_nom_image }}:before {background-image: url("{{ evt.image.url }}");}
        {% endfor %}
        {% for cat in data.liste_categories_evenements %}
            {% if cat.image %}.event-img-{{ cat.get_nom_image }}:before {background-image: url("{{ cat.image.url }}");}{% endif %}
        {% endfor %}
    </style>
{% endblock styles %}

{% block scripts %}
    <script type="text/javascript" src="{% static 'lib/clusterize/clusterize.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/bootbox/bootbox.min.js' %}"></script>
    <script type="text/javascript" src="{% static "consommations/grille.js" %}"></script>
{% endblock scripts %}


{% block contenu_page %}

    <script>
        {# Récupération des données json #}
        var mode = '{{ data.mode }}';
        var selection_activite = {% if data.selection_activite %}{{ data.selection_activite.pk }}{% else %}null{% endif %};
        var activite_validation_type = "{% if data.selection_activite %}{{ data.selection_activite.validation_type }}{% else %}AUTOMATIQUE{% endif %}";
        var selection_groupes = {% if data.selection_groupes %}{{ data.selection_groupes }}{% else %}null{% endif %};
        var selection_classes = {% if data.selection_classes %}{{ data.selection_classes }}{% else %}null{% endif %};
        var idfamille = {% if idfamille %}{{ idfamille }}{% else %}null{% endif %};
        var dict_conso = JSON.parse('{{ data.consommations_json|escapejs }}');
        var dict_memos = JSON.parse('{{ data.memos_json|escapejs }}');
        var dict_prestations = JSON.parse('{{ data.dict_prestations_json|escapejs }}');
        var liste_conso_existantes = JSON.parse('{{ data.liste_conso_json|escapejs }}');
        var liste_memos_existants = JSON.parse('{{ data.liste_memos_json|escapejs }}');
        var liste_unites = JSON.parse('{{ data.liste_unites_json|escapejs }}');
        var liste_evenements = JSON.parse('{{ data.liste_evenements_json|escapejs }}');
        var dict_categories_evenements = JSON.parse('{{ data.dict_categories_evenements_json|escapejs }}');
        var liste_groupes = JSON.parse('{{ data.liste_groupes_json|escapejs }}');
        var dict_places = JSON.parse('{{ data.dict_places_json|escapejs }}');
        var dict_capacite = JSON.parse('{{ data.dict_capacite_json|escapejs }}');
        var dict_unites_remplissage = JSON.parse('{{ data.dict_unites_remplissage_json|escapejs }}');
        var dict_suppressions = JSON.parse('{{ data.dict_suppressions_json|escapejs }}');
        // var liste_idindividus = JSON.parse('{{ data.liste_idindividus_json|escapejs }}');
        var dict_tarifs_speciaux = JSON.parse('{{ data.tarifs_speciaux_json|escapejs }}');
        var liste_vacances = JSON.parse('{{ data.liste_vacances_json|escapejs }}');
        var liste_key_individus = JSON.parse('{{ data.liste_key_individus_json|escapejs }}');
        var periode_json = JSON.parse('{{ data.periode_json|escapejs }}');
        var afficher_facturation = {% if parametres_portail.reservations_afficher_facturation %}true{% else %}false{% endif %};
        if (mode === "individu") {
            Set_periode(periode_json);
        };

        {# Variables générales #}
        var url_facturer = "{% if data.mode == "portail" %}{% url 'portail_ajax_facturer' %}{% else %}{% url 'ajax_facturer' %}{% endif %}";
        var url_impression_pdf = "{% url 'ajax_grille_impression_pdf' %}";
        var url_editeur_email = "{% url 'ajax_get_view_editeur_email' %}";
        var csrf_token = "{{ csrf_token }}";

        {# Bouton Annuler #}
        {% if data.mode == "portail" %}var url_annuler = "{% url 'portail_reservations' %}";{% endif %}
        {% if data.mode == "date" or data.mode == "pointeuse" %}var url_annuler = "{% url 'consommations_toc' %}";{% endif %}
        {% if data.mode == "individu" %}var url_annuler = "{% url 'famille_resume' idfamille=idfamille %}";{% endif %}

        {# Transformation de la liste des groupes en dict #}
        var dict_groupes = {};
        liste_groupes.forEach(function(groupe) {
            dict_groupes[groupe.pk] = groupe.fields;
        });

        {# Transformation de la liste des événements en dict #}
        var dict_evenements = {};
        liste_evenements.forEach(function(evenement) {
            var key_evenement = evenement.fields.date + "_" + evenement.fields.unite;
            if (!(key_evenement in dict_evenements)) {dict_evenements[key_evenement] = []};
            evenement.fields['pk'] = evenement.pk;
            dict_evenements[key_evenement].push(evenement.fields);
        });

        {# Transformation de la liste des unités en dict #}
        var dict_unites = {};
        var dict_touches_raccourcis = {};
        liste_unites.forEach(function(unite) {
            dict_unites[unite.pk] = unite.fields;
            if (unite.fields.touche_raccourci === "WXK_SHIFT") {dict_touches_raccourcis[16] = unite.pk};
            if (unite.fields.touche_raccourci === "WXK_ALT") {dict_touches_raccourcis[18] = unite.pk};
            {#if (unite.fields.touche_raccourci === "WXK_CONTROL") {dict_touches_raccourcis[17] = unite.pk};#}
        });

    </script>

    {# Panneau de commandes #}
    <div id="panneau_commandes">
        {% if data.mode == "portail" %}
            {% include "portail/planning_commandes.html" %}
        {% elif data.mode == "pointeuse" %}
            {% include "consommations/grille_commandes.html" %}
        {% else %}
            {% include "consommations/grille_commandes.html" %}
        {% endif %}
    </div>

    <div class="table noselect masquer" id="table_grille" draggable="false">
        <table cellspacing="0" id="table-grille" class="table table-bordered table-grille bg-white" style="min-width: 400px;">
            <thead>
                <tr>
{% comment %}
                    {% if data.mode == 'pointeuse' %}
                        <th style="width:40px">Photo</th>
                    {% endif %}
{% endcomment %}
                    <th>
                        {% if data.mode == 'jour' or data.mode == 'pointeuse' %}Individu{% else %}Date{% endif %}
                    </th>
                    {% for unite in data.liste_unites_visibles %}
                        <th>{{ unite.nom }}</th>
                    {% endfor %}
                    {% if data.mode != "portail" %}
                        <th>Mémo</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for date in data.liste_dates %}

                    {# Vérifie si la date est modifiable #}
                    {% with date|is_modif_allowed:data as modif_allowed %}

                    {# Regroupement par date #}
                    {% if data.liste_inscriptions|length > 1 and data.mode == "individu" %}
                        <tr>
                            <th class="date_regroupement">{{ date|date:"l j F Y"|title }} {% if not modif_allowed %}<i class='fa fa-lock text-red' title="Date non modifiable"></i>{% endif %}</th>
                                {% for unite in data.liste_unites_visibles %}
                                    <td class="date_regroupement"></td>
                                {% endfor %}
                            <td class="date_regroupement"></td>
                        </tr>
                    {% endif %}

                    {# Ligne par date ou par individu #}
                    {% for inscription in data.liste_inscriptions %}

                        <tr>
{% comment %}
                            {% if data.mode == 'pointeuse' %}
                                <th>
                                    <img src="{{ inscription.individu.Get_photo }}" alt="photo-individu" class="img-circle img-fluid" style="max-width: 40px">
                                </th>
                            {% endif %}
{% endcomment %}

                            <th class="{% if date|est_en_vacances:data.liste_vacances and data.mode == 'individu' %}vacances{% endif %}">
                                {% if data.mode == 'date' or data.mode == 'pointeuse' %}
                                    <div>
                                        {% if data.options.tri|default:"nom" == 'prenom' %}
                                            {{ inscription.individu.prenom|default:"" }}{% if inscription.individu.prenom %} {% endif %}{{ inscription.individu.nom }}
                                        {% else %}
                                            {{ inscription.individu.nom }} {{ inscription.individu.prenom|default:"" }}
                                        {% endif %}
                                    </div>
                                    <div class='infos_inscription'>
                                        {% if inscription.infos %}{{ inscription.infos }}{% endif %}
                                    </div>
                                {% else %}
                                    {% if data.liste_inscriptions|length > 1 %}
                                        <div>{{ inscription.individu.prenom|default:inscription.individu.nom }}</div><div class='infos_inscription'>{% if inscription.infos %}{{ inscription.infos }}{% endif %}</div>
                                    {% else %}
                                        <span class="texte_entete_ligne_large">{{ date|date:"l j F Y"|title }}</span><span class="texte_entete_ligne_court">{{ date|date:"D. d/m/y"|title }}</span>
                                        {% if not modif_allowed %}<i class='fa fa-lock text-red' title="Date non modifiable"></i>{% endif %}
                                    {% endif %}
                                {% endif %}
                            </th>
                            {% for unite in data.liste_unites %}
                                {# Recherche le groupe actif de l'individu #}
                                {% get_groupe data.selection_inscriptions inscription as selection_groupe %}

                                {# Génération de la key d'ouverture #}
                                {% creation_string_key date selection_groupe unite.pk as key_ouverture %}

                                {% if inscription and key_ouverture in data.liste_ouvertures and inscription|is_date_in_inscription:date %}

                                    {# Génération d'une key pour la case #}
                                    {% creation_string_key date inscription.pk unite.pk as key_case %}

                                    {# Création de la case #}
                                    {% if unite in data.liste_unites_visibles %}
                                        <td
                                            class="case {{ unite.type|lower }} {% if not modif_allowed %}fermeture{% else %}{% if unite.type|is_in_list:"Unitaire;Horaire;Quantite" %}ouvert{% endif %}{% endif %}"
                                            id="{{ key_case }}"
                                        ></td>
                                    {% endif %}

                                    {# Mémorisation des infos de la case #}
                                    <script>
                                        var case_tableau = new Case_{{ unite.type|lower }}({
                                            key: "{{ key_case }}",
                                            individu: {{ inscription.individu_id }},
                                            famille: {{ inscription.famille_id }},
                                            date: "{{ date|date:'Y-m-d' }}",
                                            unite: {{ unite.pk }},
                                            activite: {{ inscription.activite_id }},
                                            inscription: {{ inscription.pk }},
                                            groupe: {{ selection_groupe }},
                                            categorie_tarif: {{ inscription.categorie_tarif_id }}
                                        });
                                        dict_cases["{{ key_case }}"] = case_tableau;
                                    </script>
                                {% else %}
                                    {% if unite in data.liste_unites_visibles %}
                                        <td class="case {{ unite.type|lower }} fermeture"></td>
                                    {% endif %}
                                {% endif %}

                            {% endfor %}

                            {# Création de la case mémo #}
                            {% if data.mode != "portail" %}
                                {% creation_string_key date inscription.pk as key_memo %}
                                <td class="memo" id="{{ key_memo }}"></td>
                                <script>
                                    var case_memo = new Case_memo({
                                        key: "{{ key_memo }}",
                                        inscription: {{ inscription.pk }},
                                        date: "{{ date|date:'Y-m-d' }}",
                                    });
                                    dict_cases_memos["{{ key_memo }}"] = case_memo;
                                </script>
                            {% endif %}

                        </tr>
                    {% endfor %}
                    {% endwith %}
                {% endfor %}
            </tbody>
        </table>
    </div>

    {# MAJ de la page #}
    <form method="post" id="form-maj">
        {% csrf_token %}
        <input type="hidden" id="donnees" name="donnees" value="">
        <input type="hidden" id="donnees_ajouter_individu" name="donnees_ajouter_individu" value="">
    </form>

    {# Modal Outils #}
    {% embed 'core/modal.html' with modal_footer=True %}
        {% block modal_id %}modal_outils{% endblock %}
        {% block modal_titre %}Outils{% endblock %}
        {% block modal_body %}
            <p>Cliquez sur l'outil souhaité.</p>
            <div>
                {% if data.mode == "individu" %}
                    <a class="btn btn-app" onclick="$('#modal_outils').modal('hide');$('#modal_traitement_lot').modal('show');"><i class="fa fa-magic"></i> Traitement par lot</a>
                    <a class="btn btn-app" onclick="$('#modal_outils').modal('hide');$('#modal_appliquer_semaine_type').modal('show');"><i class="fa fa-calendar-check-o"></i> Appliquer une semaine-type</a>
                    <a class="btn btn-app" onclick="$('#modal_outils').modal('hide');impression_pdf();"><i class="fa fa-file-pdf-o"></i> Imprimer</a>
                    <a class="btn btn-app" onclick="$('#modal_outils').modal('hide');impression_pdf(true);"><i class="fa fa-send-o"></i> Envoyer par email</a>
                {% endif %}
                <a class="btn btn-app" onclick="$('#modal_outils').modal('hide');$('#modal_saisir_pointage').modal('show');"><i class="fa fa-check-square-o"></i> Pointage par lot</a>
                <a class="btn btn-app" onclick="$('#modal_outils').modal('hide');tout_recalculer();"><i class="fa fa-refresh"></i> Recalculer les prestations</a>
            </div>
        {% endblock %}
        {% block modal_footer %}
            <button type="button" class="btn btn-danger" data-dismiss="modal"><i class='fa fa-ban margin-r-5'></i>Annuler</button>
        {% endblock %}
    {% endembed %}

    {# Modal Suggestions de recherche #}
    {% if data.mode == "date" or data.mode == "pointeuse" %}
        {% embed 'core/modal.html' with modal_footer=True %}
            {% block modal_id %}modal_suggestions{% endblock %}
            {% block modal_titre %}Suggestions de recherche{% endblock %}
            {% block modal_body_classe %}p-0{% endblock %}
            {% block modal_body %}
                <div class="btn-group-vertical btn-block">
                    {% if data.options.afficher_classe == "oui" %}
                        {% for classe in data.liste_classes %}
                            <button class="btn btn-default btn-block btn-flat suggestion" style="text-align: left;" data-suggestion="{{ classe.nom }}">{{ classe.ecole.nom|truncatechars:15 }} | {{ classe.nom }}</button>
                        {% endfor %}
                    {% endif %}
                </div>
            {% endblock %}
            {% block modal_footer %}
                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class='fa fa-close margin-r-5'></i>Fermer</button>
            {% endblock %}
        {% endembed %}
    {% endif %}

{% endblock contenu_page %}
