{% load embed %}

    <div class="commandes_grille d-flex flex-wrap">
        {% if data.mode != "pointeuse" %}
            <button type="submit" title="Enregistrer" form="form-maj" class='btn btn-primary btn-sm' value="Sauvegarde"><i class="fa fa-check margin-r-5"></i>Enregistrer</button>
        {% endif %}
        {% if data.mode == "date" %}
            <button type='button' id="annuler" name="bouton_annuler" title="Annuler" class='btn btn-danger btn-sm'><i class="fa fa-ban margin-r-5"></i>Annuler</button>
        {% endif %}
        {% if data.mode == "pointeuse" %}
            <button type='button' id="annuler" name="bouton_annuler" title="Fermer" class='btn btn-danger btn-sm'><i class="fa fa-times margin-r-5"></i>Fermer</button>
        {% endif %}
        {% if data.mode == "date" or data.mode == "pointeuse" %}
            <button type="button" id="ajouter_individu" class="btn btn-default btn-sm" onclick="$('#modal_ajouter_individu').modal('show');" title="Ajouter un individu"><i class="fa fa-plus margin-r-5"></i>Individu</button>
        {% endif %}
        {% if data.mode == "individu" %}
            <button type='button' id="annuler" name="bouton_annuler" title="Annuler" class='btn btn-danger btn-sm'><i class="fa fa-ban margin-r-5"></i>Annuler</button>
        {% endif %}

        <button type="button" id="outils" class="btn btn-default btn-sm" onclick="$('#modal_outils').modal('show');" title="Accéder aux outils"><i class="fa fa-wrench margin-r-5"></i>Outils</button>

        <div>
            <div class="input-group input-group-sm " style="width: 140px;">
                <div class="input-group-prepend">
                    <button type="submit" class="input-group-text"><i class="fa fa-search"></i></button>
                </div>
                <input type="text" id="rechercher" class="form-control form-control-sm text-sm" title="Rechercher une date ou un individu" placeholder="Rechercher...">
            </div>
        </div>

        <div>
            <div class="input-group input-group-sm" style="width: 140px;">
                <div class="input-group-prepend">
                    <button type="submit" class="input-group-text"><i class="fa fa-pencil"></i></button>
                </div>
                <select class="select form-control form-control-sm text-sm" id="mode_saisie" title="Sélection du mode de saisie">
                    <option value="reservation">Réservation</option>
                    <option value="attente">Attente</option>
                    <option value="refus">Refus</option>
                    <option value="present">Présent</option>
                    <option value="absentj">Absence justifiée</option>
                    <option value="absenti">Absence injustifiée</option>
                </select>
            </div>
        </div>

    </div>

    {# Modal Outils #}
    {% embed 'core/modal.html' with modal_footer=True %}
        {% block modal_id %}modal_outils{% endblock %}
        {% block modal_titre %}Outils{% endblock %}
        {% block modal_body %}
            <p>Cliquez sur l'outil souhaité.</p>
            <div>
                {% if data.mode == "individu" %}
                    <a class="btn btn-app" onclick="$('#modal_outils').modal('hide');$('#modal_traitement_lot').modal('show');"><i class="fa fa-magic"></i> Traitement par lot</a>
                    <a class="btn btn-app" onclick="$('#modal_outils').modal('hide');impression_pdf();"><i class="fa fa-file-pdf-o"></i> Imprimer</a>
                    <a class="btn btn-app" onclick="$('#modal_outils').modal('hide');impression_pdf(true);"><i class="fa fa-send-o"></i> Envoyer par email</a>
                {% endif %}
                <a class="btn btn-app" onclick="$('#modal_outils').modal('hide');$('#modal_saisir_pointage').modal('show');"><i class="fa fa-check-square-o"></i> Pointage par lot</a>
                <a class="btn btn-app" onclick="$('#modal_outils').modal('hide');tout_recalculer();"><i class="fa fa-refresh"></i> Recalculer les prestations</a>
            </div>
        {% endblock %}
        {% block modal_footer %}
            <button type="button" class="btn btn-danger" data-dismiss="modal"><i class='fa fa-ban margin-r-5'></i>Annuler</button>
        {% endblock %}
    {% endembed %}
