{% load crispy_forms_tags %}
{% load static %}

{% block contenu_page %}

    <!-- Box Facturation -->
    <div class="card card-default">
        <div class="card-header with-border">
            <h3 class="card-title"><i class="fa fa-euro margin-r-5"></i>Prestations</h3>
                <div class="card-tools">
                    
                    {% if data.mode != "portail" %}
                        <div class="btn-group">
                            <button href="#" class="btn btn-tool" title="Ajuster les options" data-toggle="dropdown"><i class="fa fa-gear"></i></button>
                            <div class="dropdown-menu dropdown-menu-right" role="menu">
                                <h6 class="dropdown-header"><strong>Options</strong></h6>
                                <a href="#" id="afficher_quantites" class="dropdown-item option_affichage_facturation {% if data.options.afficher_quantites %}menu-checked{% endif %}" title="Afficher les quantités">Afficher les quantités</a>
                            </div>
                        </div>
                    {% endif %}

                </div>
        </div>
        <div class="card-body p-0">

            <table id="table_facturation" class="table table-sm">

                {% get_liste_individus_coches data as liste_individus_coches %}
                {% for key_individu in liste_individus_coches %}
                    <tr class="ligne_total">
                        <th class='individu_prestation'>{{ key_individu.0.Get_nom }}</th>
                        <th id="total_facturation_individu_{{ key_individu.0.pk }}_{{ key_individu.1 }}" class='montant_prestation'>0.00 €</th>
                    </tr>
                    <tbody id="detail_facturation_individu_{{ key_individu.0.pk }}_{{ key_individu.1 }}"></tbody>
                {% endfor %}

                {% if liste_individus_coches|length > 1 %}
                    <tfoot>
                        <tr class="ligne_total">
                            <th class='individu_prestation'>Total</th>
                            <th id="total_facturation_individus" class="montant_prestation">0.00 €</th>
                        </tr>
                    </tfoot>
                {% endif %}

            </table>

        </div>

        <div id="loader_facturation" class="masquer">
            <i class="fa fa-2x fa-refresh fa-spin"></i>
        </div>

    </div>

    <script>
        $(document).ready(function() {
    
            // Click sur l'option Afficher les quantités
            $(".option_affichage_facturation").on("click",function(event){
                event.preventDefault();
                $(this).hasClass("menu-checked") ? $(this).removeClass("menu-checked") : $(this).addClass("menu-checked");
                dict_options.afficher_quantites = $(this).hasClass("menu-checked");
                memorise_options_grille();
                maj_box_facturation();
            });
    
        });
    
        function memorise_options_grille() {
            $.ajax({
                type: "POST",
                url: "{% url 'ajax_grille_memoriser_options' %}",
                data: {
                    afficher_quantites: $("#afficher_quantites").hasClass("menu-checked"),
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                },
                success: function (data) {
                    toastr.success("Cette option a été mémorisée");
                }
            });
        };
    
    </script>

{% endblock contenu_page %}
