{% load static %}

<table class='table table-bordered no-margin tableau_semaine_type'>
    <tbody>
        <tr>
            <th></th>
            {% for unite in data.liste_unites_visibles %}
                <th class="align-middle">{{ unite.nom }}</th>
            {% endfor %}
        </tr>

        {% for num_jour, label_jour in jours_complets_semaine %}
            {% if num_jour in data.jours_semaine_modifiables %}
                <tr>
                    <td class="align-middle">{{ label_jour }}</td>
                    {% for unite in data.liste_unites_visibles %}
                        <td class="align-middle">
                            <div class="form-inline justify-content-center" style="gap: 8px">
                                <input type="checkbox" name="case_semaine_type" data-semaine="{{ num_semaine }}" data-jour="{{ num_jour }}" data-unite="{{ unite.pk }}" title="Cochez cette case pour réserver">
                                {% if unite.imposer_saisie_valeur and unite.type == "Horaire" %}
                                    {% if not unite.heure_debut_fixe %}
                                        <div class="input-group input-group-sm">
                                            <div class="input-group-prepend"><span class="input-group-text">Début</span></div>
                                            <input name="unite_{{ num_semaine }}_{{ unite.pk }}_{{ num_jour }}_debut" type="time" value="{{ unite.heure_debut }}" class="form-control" disabled/>
                                        </div>
                                    {% endif %}
                                    {% if not unite.heure_fin_fixe %}
                                        <div class="input-group input-group-sm">
                                            <div class="input-group-prepend"><span class="input-group-text">Fin</span></div>
                                            <input name="unite_{{ num_semaine }}_{{ unite.pk }}_{{ num_jour }}_fin" type="time" value="{{ unite.heure_fin }}" class="form-control" disabled/>
                                        </div>
                                    {% endif %}
                                {% endif %}
                                {% if unite.imposer_saisie_valeur and unite.type == "Quantite" %}
                                    <div class="input-group input-group-sm">
                                        <div class="input-group-prepend"><span class="input-group-text">Quantité</span></div>
                                        <input type="number" name="unite_{{ num_semaine }}_{{ unite.pk }}_{{ num_jour }}_quantite" value="1" min="1" class="numberinput form-control" disabled/>
                                    </div>
                                {% endif %}
                            </div>
                        </td>
                    {% endfor %}
                </tr>
            {% endif %}
        {% endfor %}

    </tbody>
</table>
