{% load crispy_forms_tags %}
{% load static %}
{% load embed %}


{% block contenu_page %}

    <div class="card">

        <div class="card-header with-border">
            <h3 class="card-title">{{ data.titre_grille }}</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="maximize" title="Agrandir/Réduire"><i class="fa fa-expand"></i></button>
            </div>
        </div>

        <div id="in_progress" class="overlay">
            <i class="fa fa-2x fa-refresh fa-spin"></i>
        </div>

        <div class="card-body p-2">
            {% include "consommations/grille_tableau.html" %}
        </div>

        {# Importation des modals #}
        {% include 'consommations/grille_saisie_detail.html' %}
        {% include 'consommations/grille_saisie_horaires.html' %}
        {% include 'consommations/grille_saisie_quantite.html' %}
        {% include 'consommations/grille_saisie_memo.html' %}
        {% include 'consommations/grille_saisie_pointage.html' %}
        {% include 'consommations/grille_saisie_questionnaire.html' %}

        {% if data.mode == "individu" %}
            {% include 'consommations/grille_traitement_lot.html' %}
            {% include 'consommations/grille_appliquer_semaine_type.html' %}
            {% include 'core/modal_pdf.html' %}
        {% endif %}

        {# Menu contextuel des consommations #}
        <div id="contextMenu" class="dropdown clearfix">
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="display:block;position:static;margin-bottom:5px;">
                {% if data.tarifs_credits_exists %}
                    <li class="dropdown-item"><a tabindex="-1" href="#" id="contextmenu_forfait">Appliquer un forfait crédit</a></li>
                    <li class="dropdown-divider"></li>
                {% endif %}
                <li class="dropdown-item"><a tabindex="-1" href="#" id="contextmenu_modifier">Modifier</a></li>
                <li class="dropdown-item"><a tabindex="-1" href="#" id="contextmenu_supprimer">Supprimer</a></li>
                <li class="dropdown-divider"></li>
                <li class="dropdown-item"><a tabindex="-1" href="#" data-etat="reservation" id="contextmenu_reservation">Réservation</a></li>
                <li class="dropdown-item"><a tabindex="-1" href="#" data-etat="attente" id="contextmenu_attente">Attente</a></li>
                <li class="dropdown-item"><a tabindex="-1" href="#" data-etat="refus" id="contextmenu_refus">Refus</a></li>
                <li class="dropdown-item"><a tabindex="-1" href="#" data-etat="demande" id="contextmenu_demande">Demande</a></li>
                <li class="dropdown-divider"></li>
                <li class="dropdown-item"><a tabindex="-1" href="#" data-etat="present" id="contextmenu_present">Présent</a></li>
                <li class="dropdown-item"><a tabindex="-1" href="#" data-etat="absentj" id="contextmenu_absentj">Absence justifiée</a></li>
                <li class="dropdown-item"><a tabindex="-1" href="#" data-etat="absenti" id="contextmenu_absenti">Absence injustifiée</a></li>
                <li class="dropdown-divider"></li>
            </ul>
        </div>

    </div>

{% endblock contenu_page %}
