{% extends "core/page.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load embed %}

{% block page_titre %}{{ page_titre }}{% endblock page_titre %}

{% block styles %}
    {{ block.super }}
{% endblock styles %}

{% block contenu_page %}

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            {% embed 'core/box.html' %}

                {% block box_theme %}box-danger{% endblock %}
                {% block box_titre %}{{ box_titre }}{% endblock %}
                {% block box_introduction %}{{ box_introduction|safe }}{% endblock %}

                {% block box_contenu %}
                    {% if selection_multiple %}
                        {% embed 'core/crud/delete_many.html' %}{% endembed %}
                    {% else %}
                        {% embed 'core/crud/delete.html' %}{% endembed %}
                    {% endif %}
                {% endblock %}

            {% endembed %}
        </div>
    </div>

{% endblock contenu_page %}

{% block scripts %}
    {{ block.super }}
{% endblock scripts %}