{% load static %}
{% load crispy_forms_tags %}

{% block box_contenu %}

    {% if erreurs_protection %}

        <div class="alert alert-danger alert-dismissible">
            <h5><i class="icon fa fa-ban"></i> {{ nom_action }} impossible</h5>
            <div class="p-1">{{ verbe_action }} ces {{ liste_objets|length }} {{ model|verbose_name_plural }} est impossible :</div>
            <ul>
                {% for erreur in erreurs_protection %}
                    <li class="p-1">{{ erreur }}</li>
                {% endfor %}
            </ul>
        </div>
        <a class="btn btn-default float-right" href="{% if request.GET.next %}{{ request.GET.next }}{% else %}{{ view.get_success_url }}{% endif %}"><i class='fa fa-reply margin-r-5'></i>Revenir à la page précédente</a>

    {% else %}

        <form method="post">{% csrf_token %}
            <p>Voulez-vous vraiment {{ verbe_action|lower }} ces {{ liste_objets|length }} {{ model|verbose_name_plural }} ?
            <ul>
                {% for objet in liste_objets %}
                    <li>{{ objet }}</li>
                {% endfor %}
            </ul><br>
            {% if form %}
                {% crispy form %}
            {% endif %}
            <div class="pull-right">
                <button type="submit" title="{{ verbe_action }}" class='btn btn-warning'><i class="fa fa-trash margin-r-5"></i>{{ verbe_action }}</button>
                <input type='hidden' name='next' value='{{ request.GET.next }}'>
                <a class="btn btn-danger" href="{% if request.GET.next %}{{ request.GET.next }}{% else %}{{ view.get_success_url }}{% endif %}"><i class='fa fa-ban margin-r-5'></i>Annuler</a>
            </div>
        </form>

    {% endif %}

{% endblock %}
