{% extends "core/crud/liste_in_box.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load embed %}


{% block contenu_page %}
    {% embed 'core/box.html' %}
        {% block box_titre %}{{ box_titre }}{% endblock %}
        {% block box_introduction %}{{ box_introduction|safe }}{% endblock %}
        {% block box_contenu %}

            {# Sélection de la catégorie #}
            <p>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">{{ label_categorie }}</span>
                    </div>
                    <select id="choix_categorie" class="form-control">
                        {% for code, label in liste_categories %}
                            <option {% if code == categorie %}selected{% endif %} value="{% if not code %}{% url url_liste %}{% else %}{% url url_liste categorie=code %}{% endif %}">{{ label }}</option>
                        {% endfor %}
                    </select>
                </div>
            </p>

            <script>
                function On_change_categorie() {
                    window.location.href=$(this).val();
                }
                $(document).ready(function() {
                    $('#choix_categorie').change(On_change_categorie);
                });
            </script>

            {% embed 'core/crud/liste.html' %}
            {% endembed %}

        {% endblock box_contenu %}
        {% block box_conclusion %}{{ box_conclusion|safe }}{% endblock %}
    {% endembed %}
{% endblock contenu_page %}
