{% extends "core/box_in_page.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load embed %}


{% block contenu_page %}
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            {% embed 'core/box.html' %}

                {% block box_titre %}
                    {{ box_titre }}
                {% endblock %}

                {% block box_introduction %}
                    {{ box_introduction|safe }}
                {% endblock %}

                {% block box_contenu %}
                    {% embed 'core/crud/liste.html' %}
                    {% endembed %}
                {% endblock box_contenu %}

                {% block box_conclusion %}
                    {{ box_conclusion }}
                {% endblock %}

            {% endembed %}
        </div>
    </div>
{% endblock contenu_page %}
