{% extends "core/page.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load embed %}

{% block page_titre %}{{ page_titre }}{% endblock page_titre %}

{% block styles %}
    {{ block.super }}
{% endblock styles %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'lib/fullcalendar/dist/index.global.min.js' %}"></script>
    <script src="{% static 'lib/moment/moment.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'lib/select2/js/select2.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'lib/select2/js/i18n/fr.js' %}" type="text/javascript"></script>
{% endblock scripts %}

{% block contenu_page %}
    <div style="height: 75vh;">
        <div id="calendar"></div>
    </div>

    <script>
        var calendar;

        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
            calendar = new FullCalendar.Calendar(calendarEl, {
                schedulerLicenseKey: 'GPL-My-Project-Is-Open-Source',
                height: window.innerHeight - 165,
                windowResize: function(arg) {
                    calendar.setOption("height", window.innerHeight - 165);
                },
                themeSystem: 'bootstrap',
                editable: true,
                selectable: true,
                nowIndicator: true,
                customButtons: {
                    bouton_parametres: {
                        text: "Paramètres",
                        click: function() {
                            ouvre_modal_parametres();
                        }
                    }
                },
                headerToolbar: {
                    left: 'today prev,next bouton_parametres',
                    center: 'title',
                    right: 'resourceTimelineDay,resourceTimelineWeek,dayGridMonth,multiMonthYear,timeGridWeek,listWeek'
                },
                buttonText: {
                    today: "Aujourd'hui",
                    month: "Mois",
                    week: "Agenda",
                    day: "Jour",
                    multiMonthYear: "Année",
                    resourceTimelineWeek: "Semaine",
                    list: "Liste"
                },
                slotDuration: "{{ parametres.graduations_duree }}",
                slotMinWidth: {{ parametres.graduations_largeur }},
                slotMinTime: "{{ parametres.heure_min }}",
                slotMaxTime: "{{ parametres.heure_max }}",
                initialView: "{{ parametres.vue_favorite }}",
                firstDay: 1,
                allDaySlot: false,
                displayEventTime: {% if parametres.barre_afficher_heure %}true{% else %}false{% endif %},
                defaultRangeSeparator: "-",
                resourceAreaHeaderContent: 'Produits',
                resourceAreaWidth: '25%',
                resourceGroupField: 'categorie',
                resources: function (fetchInfo, successCallback, failureCallback) {
                    $.ajax({
                        url: "{% url 'ajax_planning_locations_get_produits' %}",
                        type: "POST",
                        data: {
                            csrfmiddlewaretoken: "{{ csrf_token }}"
                        }
                    }).done(function(data) {
                        successCallback(data.produits);
                    });
                },
                events: function (fetchInfo, successCallback, failureCallback) {
                    $.ajax({
                        url: "{% url 'ajax_planning_locations_get_locations' %}",
                        type: "POST",
                        data: {
                            date_debut: moment(fetchInfo.start).format('YYYY-MM-DD HH:mm'),
                            date_fin: moment(fetchInfo.end).format('YYYY-MM-DD HH:mm'),
                            csrfmiddlewaretoken: "{{ csrf_token }}"
                        }
                    }).done(function(data) {
                        successCallback(data.locations);
                    });
                },
                select: function(selectionInfo) {
                    $(".popover").popover("dispose");
                    if (selectionInfo.resource.id.indexOf("categorie") >= 0) {
                        return false;
                    }
                    data_event = {
                        "produit": selectionInfo.resource.id,
                        "date_debut": moment(selectionInfo.start).format('YYYY-MM-DD HH:mm'),
                        "date_fin": moment(selectionInfo.end).format('YYYY-MM-DD HH:mm')
                    }
                    ouvre_modal_detail(null, data_event);
                },
                eventClick: function(event) {
                    $(".popover").popover("dispose");
                    ouvre_modal_detail(event.event.id);
                },
                eventAllow: function(dropInfo, draggedEvent) {
                    return dropInfo.resource.id.indexOf("categorie") < 0;
                },
                eventDrop: function(eventDropInfo) {
                    $(".popover").popover("dispose");
                    modifier_event({
                        "idlocation": eventDropInfo.event.id,
                        "produit": eventDropInfo.newResource ? eventDropInfo.newResource.id: 0,
                        "date_debut": moment(eventDropInfo.event.start).format('YYYY-MM-DD HH:mm'),
                        "date_fin": moment(eventDropInfo.event.end).format('YYYY-MM-DD HH:mm')
                    })
                },
                eventResize: function (eventResizeInfo) {
                    $(".popover").popover("dispose");
                    modifier_event({
                        "idlocation": eventResizeInfo.event.id,
                        "date_debut": moment(eventResizeInfo.event.start).format('YYYY-MM-DD HH:mm'),
                        "date_fin": moment(eventResizeInfo.event.end).format('YYYY-MM-DD HH:mm')
                    })
                },
                eventDidMount: function(info) {
                    if (!info.isMirror) {
                        $(info.el).popover({
                            title: info.event.extendedProps.tooltip_titre,
                            placement: 'top',
                            trigger: 'hover',
                            content: info.event.extendedProps.tooltip_description,
                            container: 'body',
                            html: true
                        });
                    }
                },
            });
            calendar.setOption('locale', 'fr');
            calendar.render();
        });

        function modifier_event(data_event) {
            //if (isOverlapping(data_event.idlocation, data_event.date_debut, data_event.date_fin)) {
            //    alert("La location que vous essayez de modifier chevauche une autre location !");
            //    return false
            //};
            $.ajax({
                type: "POST",
                url: "{% url 'ajax_planning_locations_modifier_location' %}",
                data: {
                    "data_event": JSON.stringify(data_event),
                    "csrfmiddlewaretoken": "{{ csrf_token }}"
                },
                datatype: "json",
                success: function(data){
                    calendar.refetchEvents();
                },
                error: function(data) {
                    toastr.error(data.responseJSON.erreur);
                }
            });
        }

        function ouvre_modal_detail(idlocation, data_event) {
            $("#modal_detail_location").off('submit');
            $.ajax({
                url: "{% url 'ajax_planning_locations_get_form_detail_location' %}",
                type: "POST",
                data: {
                    idlocation: idlocation,
                    data_event: JSON.stringify(data_event),
                    csrfmiddlewaretoken: "{{ csrf_token }}"
                },
                success: function (data) {
                    $("#id_div_form_detail_location").html(data['form_html']);
                    $("#modal_detail_location").modal("show");
                    $('#id_selection_periode').on('change', On_change_selection_periode);
                    On_change_selection_periode.call($('#id_selection_periode').get(0));
                    $("#modal_detail_location").on('submit', submit_form_detail);
                }
            });
        }

        function submit_form_detail(event) {
            event.preventDefault();
            $.ajax({
                type: "POST",
                url: "{% url 'ajax_planning_locations_valid_form_detail_location' %}",
                data: $("#famille_locations_form").serialize(),
                datatype: "json",
                success: function(data){
                    $("#modal_detail_location").modal("hide");
                    calendar.refetchEvents();
                },
                error: function(data) {
                    toastr.error(data.responseJSON.erreur);
                }
            });
        }

        function supprimer_location(idlocation) {
            $.ajax({
                type: "POST",
                url: "{% url 'ajax_planning_locations_supprimer_location' %}",
                data: {"idlocation": idlocation},
                datatype: "json",
                success: function(data){
                    if (data.succes) {
                        $("#modal_detail_location").modal("hide");
                        calendar.refetchEvents();
                    } else {
                        $("#id_div_form_supprimer_occurences").html(data["form_html"]);
                        $("#modal_supprimer_occurences").modal("show");
                    }
                },
                error: function(data) {
                    toastr.error(data.responseJSON.erreur);
                }
            });
        }

        function supprimer_occurences() {
            $.ajax({
                type: "POST",
                url: "{% url 'ajax_planning_locations_supprimer_occurences' %}",
                data: $("#form_parametres_supprimer_occurences").serialize(),
                datatype: "json",
                success: function(data){
                    $("#modal_supprimer_occurences").modal("hide");
                    $("#modal_detail_location").modal("hide");
                    calendar.refetchEvents();
                },
                error: function(data) {
                    toastr.error(data.responseJSON.erreur);
                }
            });
        }

        //function isOverlapping(id, start, end, resourceId){
        //    var array = calendar.getEvents();
        //    for (i in array) {
        //        console.log("i=", array[i], array[i].start, array[i].end, array[i].id, array[i].getResources()[0].id)
        //        if (array[i].id != id && array[i].resourceId == resourceId) {
        //            if ((array[i].end > start) && (array[i].start < end)) {
        //                return true;
        //            }
        //        }
        //    }
        //    return false;
        //};

        function ouvre_modal_parametres() {
            $("#modal_parametres").off('submit');
            $.ajax({
                url: "{% url 'ajax_planning_locations_get_form_parametres' %}",
                type: "POST",
                data: {
                    csrfmiddlewaretoken: "{{ csrf_token }}"
                },
                success: function (data) {
                    $("#id_div_form_parametres").html(data['form_html']);
                    $("#modal_parametres").modal("show");
                    $("#modal_parametres").on('submit', submit_form_parametres);
                }
            });
        }

        function submit_form_parametres(event) {
            event.preventDefault();
            $.ajax({
                type: "POST",
                url: "{% url 'ajax_planning_locations_valid_form_parametres' %}",
                data: $("#form_planning_locations_parametres").serialize(),
                datatype: "json",
                success: function(data){
                    $("#modal_parametres").modal("hide");
                    location.reload();
                },
                error: function(data) {
                    toastr.error(data.responseJSON.erreur);
                }
            });
        }

    </script>

    {# Modal Détail d'une location #}
    {% embed 'core/modal.html' %}
        {% block modal_id %}modal_detail_location{% endblock %}
        {% block modal_titre %}Détail d'une location{% endblock %}
        {% block modal_classe %}modal-lg{% endblock %}
        {% block modal_body %}
            <div id="id_div_form_detail_location">
            </div>
        {% endblock %}
    {% endembed %}

    {# Fonctions liées au form de saisie d'une location #}
    {% include 'locations/extra_form_location.html' %}

    {# Modal Paramètres #}
    {% embed 'core/modal.html' %}
        {% block modal_id %}modal_parametres{% endblock %}
        {% block modal_titre %}Paramètres{% endblock %}
        {% block modal_classe %}modal-lg{% endblock %}
        {% block modal_body %}
            <div id="id_div_form_parametres">
            </div>
        {% endblock %}
    {% endembed %}

    {# Modal Supprimer occurences #}
    {% embed 'core/modal.html' %}
        {% block modal_id %}modal_supprimer_occurences{% endblock %}
        {% block modal_titre %}Supprimer{% endblock %}
        {% block modal_body %}
            <p>Cette location fait partie d'une série de plusieurs occurences.</p>
            <div id="id_div_form_supprimer_occurences">
            </div>
        {% endblock %}
    {% endembed %}

{% endblock contenu_page %}
