Django<4
Pillow
django-anymail
django-axes
django-cryptography
django-crispy-forms
django-csp
django-datatable-view
django-debug-toolbar
django-formtools
django-multiselectfield
django-simple-captcha
django-resized
django-select2
django-sn
django-extensions
django-upload-form
django-dbbackup
django-storages
django-crontab
django-cleanup
numpy
opencv-python
pycryptodome
python-dateutil
python-gnupg
reportlab
bleach
mysqlclient
jellyfish
lxml
eopayment
colorhash
feedparser
beautifulsoup4
pystrich
docx-mailmerge2
xlrd
xlsxwriter
pcloud
crispy-bootstrap4
openpyxl
py7zr