Django
Pillow
django-anymail
django-axes
django-crispy-forms
django-csp
django-datatable-view
django-formtools
django-multipleselectfield
django-recaptcha
django-resized
django-select2
django-summernote
django-extensions
numpy
opencv-python
pycryptodome
python-dateutil
reportlab