{% extends "portail/base_login.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block contenu_cadre %}
    <div class="card-body">
        <p class="titre_contenu">Créer un nouveau compte</p>

        <p class="small">{% blocktrans %}Complétez les renseignements suivants puis cliquez sur Valider pour recevoir immédiatement un email d'activation.{% endblocktrans %}</p>

        <form name="reset_password" method="post">
            {% csrf_token %}

            {% if form.errors %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                        {{ error|escape }}
                    </div>
                {% endfor %}
            {% endif %}

            {% if form.captcha.errors %}
                <div class="alert alert-danger">
                    {% blocktrans %}Vous devez recopier le code de sécurité{% endblocktrans %}
                </div>
            {% endif %}

            {% crispy form %}

            <button name="creer_compte_valider" id="creer_compte_valider" class="btn w-100 btn-primary login-btn mb-3 mt-0" type="submit" title="{% trans "Cliquez ici pour valider" %}">
                <i class="fa fa-fw fa-check me-1" aria-hidden="true"></i>
                {% trans "Valider" %}
            </button>

        </form>

        <a class="" href="{% url 'portail_connexion' %}" title="{% trans "Revenir à la page de connexion" %}"><i class="fa fa-arrow-circle-o-left me-1" aria-hidden="true"></i>{% blocktrans %}Revenir à la page de connexion{% endblocktrans %}</a>
    </div>

{% endblock contenu_cadre %}
