{% load static %}
{% load embed %}

<table class="table table-bordered">
    <thead>
        <tr class="text-center">
            <th>Acheté</th>
            <th>Fournisseur</th>
            <th>Catégorie</th>
            <th>Libellé</th>
            <th>Quantité</th>
            <th>Observations</th>
            <th style="width: 90px;">Actions</th>
        </tr>
    </thead>
    <tbody id="contenu_tableau">
    </tbody>
</table>

<input type="text" id="articles" name="articles" hidden>

<button type="button" class="btn btn-success btn-sm" onclick="Ajouter_article()"><i class="fa fa-plus"></i> Ajouter une ligne</button>
<div class="pull-right">
    <button type="button" class="btn btn-default btn-sm" onclick="Cocher_ou_decocher(true)"><i class="fa fa-check"></i> Tout cocher</button>
    <button type="button" class="btn btn-default btn-sm" onclick="Cocher_ou_decocher(false)"><i class="fa fa-times"></i> Tout décocher</button>
</div>

{# Modal article #}
{% embed 'core/modal.html' %}
    {% block modal_id %}modal_article{% endblock %}
    {% block modal_titre %}{% endblock %}
    {% block modal_classe %}modal-lg{% endblock %}
    {% block modal_body %}
        <div id="id_div_form_article">
        </div>
        <div class="buttonHolder">
            <div class="modal-footer" style="padding-bottom:0px;padding-right:0px;padding-left:0px;">
                <button type="button" class="btn btn-primary" onclick="valider_form_article(ajouter=false)"><i class="fa fa-check margin-r-5"></i>Valider</button>
                <button type="button" class="btn btn-primary" onclick="valider_form_article(ajouter=true)"><i class="fa fa-check margin-r-5"></i>Valider & Ajouter</button>
                <button type="button" class="btn btn-danger" onclick="$('#modal_article').modal('hide');"><i class='fa fa-ban margin-r-5'></i>Annuler</button>
            </div>
        </div>
    {% endblock %}
{% endembed %}

<script type="text/javascript" src="{% static 'lib/bootbox/bootbox.min.js' %}"></script>

<script>

    var valeurs = JSON.parse("{{ value|escapejs }}");
    var dict_fournisseurs = JSON.parse("{{ fournisseurs|escapejs }}");
    var dict_categories = JSON.parse("{{ categories|escapejs }}");

    $(document).ready(function() {
        maj_tableau();
        
        // Pour le mode planing contre le bug de perte de focus
        if ($("#modal_detail_achat").length) {
            $("#modal_article").on("hidden.bs.modal", function (e) {
                $("body").addClass("modal-open");
            });
        }
            
    })

    function set_event_checkbox() {
        $(".check_article").on("change", function() {
            var index = $(this).data("index")
            valeurs[index]["achete"] = $(this).is(":checked");
            $("#articles").val(JSON.stringify(valeurs))
        })
    }

    function maj_tableau() {
        var html = "";
        $.each(valeurs, function (index, dict_article) {
            var colonnes = [];
            colonnes.push("<input name='article' value='" + JSON.stringify(dict_article) + "' hidden>");
            if (dict_article["achete"] == true) {var coche="checked"} else {var coche=""}
            colonnes.push("<td><input data-index='" + index + "' class='check_article' type='checkbox' " + coche + "></td>");
            colonnes.push("<td>" + (dict_fournisseurs[dict_article["fournisseur"]] || "") + "</td>");
            colonnes.push("<td>" + (dict_categories[dict_article["categorie"]] || "") + "</td>");
            colonnes.push("<td>" + dict_article["libelle"] + "</td>");
            colonnes.push("<td>" + (dict_article["quantite"] || "")  + "</td>");
            colonnes.push("<td>" + dict_article["observations"] + "</td>");
            html += "<tr class='text-center'>" + colonnes.join() + "<td>";
            html += "<a type='button' class='btn btn-default btn-xs' onclick='Modifier_article(" + index + ")' title='Modifier'><i class='fa fa-fw fa-pencil'></i></a> ";
            html += "<a type='button' class='btn btn-default btn-xs' onclick='Supprimer_article(" + index + ")' title='Supprimer'><i class='fa fa-fw fa-trash'></i></a>";
            html += "</td>";
        })
        $("#contenu_tableau").html(html);
        $("#articles").val(JSON.stringify(valeurs));
        set_event_checkbox();
    }

    function Ajouter_article() {
        $('#modal_article .modal-title').html("Ajouter un article");
        get_form_article("ajouter", null)
    }

    function Modifier_article(index) {
        $('#modal_article .modal-title').html("Modifier un article");
        get_form_article("modifier", index)
    }

    function Supprimer_article(index) {
        bootbox.dialog({
            title: "Confirmation",
            message: "Confirmez-vous la suppression de cet article ?",
            buttons: {
                ok: {
                    label: "<i class='fa fa-trash'></i> Supprimer",
                    className: 'btn-warning',
                    callback: function(){
                        valeurs.splice(index, 1);
                        maj_tableau();
                    }
                },
                cancel: {
                    label: "<i class='fa fa-ban'></i> Annuler",
                    className: 'btn-danger',
                }
            }
        });
    }

    function get_form_article(action, index) {
        $.ajax({
            url: "{% url 'ajax_achats_demandes_form_article' %}",
            type: "POST",
            data: {
                csrfmiddlewaretoken: "{{ csrf_token }}",
                action: action,
                valeur: JSON.stringify(valeurs[index]),
                index: index,
            },
            success: function (data) {
                $("#article_form").remove();
                $("#id_div_form_article").append(data['form_html']);
                $("#modal_article").modal("show");
            }
        });
    }

    function valider_form_article(ajouter) {
        $.ajax({
            type: "POST",
            url: "{% url 'ajax_achats_demandes_form_article' %}",
            data: $("#article_form").serialize(),
            datatype: "json",
            success: function(data){
                if (data.index) {
                    valeurs[data.index] = data.valeur;
                } else {
                    valeurs.push(data.valeur);
                }
                maj_tableau();
                if (ajouter === true) {
                    Ajouter_article();
                } else {
                    $("#modal_article").modal("hide");
                }
            },
            error: function(data) {
                toastr.error(data.responseJSON.erreur);
            }
        });
    }
    
    function Cocher_ou_decocher(etat) {
        $(".check_article").prop("checked", etat);
        $(".check_article").trigger("change");
    }

</script>
