{% extends "fiche_famille/famille.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load embed %}



{% block detail_famille %}
    <div class="col-md-9">

        {# Caractéristiques #}
        {% embed 'core/box.html' %}
            {% block box_theme %}card-outline card-lightblue{% endblock %}
            {% block box_titre %}Composition de la famille{% endblock %}
            {% block box_outils %}
                <a type="button" class="btn btn-success btn-xs" style="margin-right: 10px;" title="Ajouter un individu" href="{% url 'individu_ajouter' idfamille=idfamille %}"><i class="fa fa-plus"></i> Ajouter</a>
            {% endblock %}
            {% block card_body_classe %}
                p-0
            {% endblock %}
            {% block box_contenu %}
                {% embed 'fiche_famille/famille_composition.html' %}
                {% endembed %}
            {% endblock %}
        {% endembed %}

        {# Rubriques #}
{% comment %}
        {% embed 'core/box.html' %}
            {% block box_theme %}card-outline card-lightblue{% endblock %}
            {% block box_titre %}Rubriques{% endblock %}
            {% block box_contenu %}
                {% for onglet in liste_onglets|slice:"1:" %}
                    <a class="btn btn-app" href="{% url onglet.url idfamille=famille.idfamille %}" style="font-size: 12px !important;">
                        <i class="fa {{ onglet.icone }}"></i> {{ onglet.label }}
                    </a>
                {% endfor %}
            {% endblock %}
        {% endembed %}
{% endcomment %}

        {# Widgets informations #}
        <div class="row">

            <div class="col-md-3">
                <div class="info-box" title="Ce solde prend en compte toutes les prestations et règlements passés ou futurs">
                    <span class="info-box-icon bg-{% if solde_global < 0 %}red{% else %}gray-light{% endif %}"><i class="fa fa-euro"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Solde global</span>
                        <span class="info-box-number {% if solde_global < 0 %}text-red{% endif %}">{{ solde_global|montant }}</span>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="info-box" title="Ce solde prend en compte uniquement les prestations facturées et les règlements associés">
                    <span class="info-box-icon bg-{% if solde_facture < 0 %}red{% else %}gray-light{% endif %}"><i class="fa fa-euro"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Solde facturé</span>
                        <span class="info-box-number {% if solde_facture < 0 %}text-red{% endif %}">{{ solde_facture|montant }}</span>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="info-box" title="Le détail des alertes se trouve dans le cadre ci-dessous">
                    <span class="info-box-icon bg-{% if nbre_alertes %}orange{% else %}gray-light{% endif %}"><i class="fa fa-warning"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Alertes</span>
                        <span class="info-box-number">{{ nbre_alertes }}</span>
                    </div>
                </div>
            </div>

{% comment %}
            <div class="col-md-3">
                <div class="info-box">
                    <span class="info-box-icon bg-{% if notes|length %}orange{% else %}gray-light{% endif %}"><i class="fa fa-sticky-note-o"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Notes</span>
                        <span class="info-box-number">{{ notes|length }}</span>
                    </div>
                </div>
            </div>
{% endcomment %}

            <div class="col-md-3">
                <div class="info-box" title="Messages envoyés par la famille via le portail">
                    <span class="info-box-icon bg-{% if nbre_messages_non_lus %}orange{% else %}gray-light{% endif %}"><i class="fa fa-comments-o"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Messages</span>
                        <span class="info-box-number">{{ nbre_messages_non_lus }}</span>
                    </div>
                </div>
            </div>

        </div>

        {# Alertes #}
        {% if nbre_alertes %}
            {% embed 'core/box.html' %}
                {% block box_theme %}box-warning{% endblock %}
                {% block box_titre %}Alertes{% endblock %}
                {% block box_contenu %}

                    {# Pièces à fournir #}
                    {% if pieces_fournir %}
                        {% embed "individus/alerte.html" with items=pieces_fournir titre="Pièces à fournir"%}{% endembed %}
                    {% endif %}

                    {# Cotisations manquantes #}
                    {% if cotisations_manquantes %}
                        {% embed "individus/alerte.html" with items=cotisations_manquantes titre="Adhésions manquantes"%}{% endembed %}
                    {% endif %}

                {% endblock %}
            {% endembed %}
        {% endif %}

        {# Notes #}
        {% embed 'core/box.html' %}
            {% block box_theme %}card-outline card-lightblue{% endblock %}
            {% block box_titre %}Notes{% endblock %}
            {% block box_outils %}
                <a type="button" class="btn btn-success btn-xs" style="margin-right: 10px;" title="Ajouter une note" href="{% url 'famille_notes_ajouter' idfamille=famille.idfamille %}"><i class="fa fa-plus"></i> Ajouter</a>
            {% endblock %}
            {% block card_body_classe %}p-0{% endblock %}
            {% block box_contenu %}
                    {% embed "outils/notes.html" with mode_notes='famille' %}
                    {% endembed %}
            {% endblock %}
        {% endembed %}

    </div>
{% endblock %}
