{% extends "fiche_famille/famille_liste.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load embed %}


{% block styles %}
    {{ block.super }}
    <style>
        .boutons_actions > a {
            margin-bottom: 5px;
        }
    </style>
{% endblock %}


{% block detail_famille %}
    <div class="col-md-9">

        {# Liste des règlements de la famille #}
        {% embed 'core/box.html' %}
            {% block box_theme %}card-outline card-lightblue{% endblock %}
            {% block box_titre %}{{ box_titre }}{% endblock %}
            {% block box_introduction %}{{ box_introduction|safe }}{% endblock %}
            {% block box_contenu %}

                <div class="boutons_actions">

                    {% if perms.core.famille_reglements_modifier %}
                        <a class="btn btn-success" href="{% url 'famille_reglements_ajouter' idfamille=idfamille %}"><i class="fa fa fa-plus margin-r-5"></i>Ajouter</a>
                        <a class="btn btn-default" onclick="$('#regler_facture_idfamille').val({{ idfamille }});$('#modal_regler_facture').modal('show');"><i class="fa fa fa-plus margin-r-5"></i>Régler une facture</a>
                    {% endif %}

                    <a class="btn btn-default {% if not perms.core.famille_reglements_modifier %}disabled{% endif %}" href="{% url 'famille_abo_recus_email' idfamille=idfamille %}"
                        title="Cliquez ici pour activer ou désactiver l'abonnement au service d'envoi des reçus par Email">
                        <i class="fa fa-envelope margin-r-5"></i>Reçus par Email
                        {% if famille.email_recus %}
                            <span class="badge bg-success">ON</span>
                        {% else %}
                            <span class="badge bg-danger">OFF</span>
                        {% endif %}
                    </a>

                    <a class="btn btn-default {% if not perms.core.famille_reglements_modifier %}disabled{% endif %}" href="{% url 'famille_abo_depots_email' idfamille=idfamille %}"
                        title="Cliquez ici pour activer ou désactiver l'abonnement au service d'envoi des avis d'encaissement par Email">
                        <i class="fa fa-envelope margin-r-5"></i>Avis de dépôt par Email
                        {% if famille.email_depots %}
                            <span class="badge bg-success">ON</span>
                        {% else %}
                            <span class="badge bg-danger">OFF</span>
                        {% endif %}
                    </a>

                    <a class="btn btn-default {% if not perms.core.famille_reglements_modifier %}disabled{% endif %}" href="{% url 'famille_mandats_liste' idfamille=idfamille %}"
                        title="Cliquez ici pour accéder aux paramètres de prélèvement de la famille">
                        <i class="fa fa-euro margin-r-5"></i>Prélèvement
                        {% if nbre_mandats_actifs %}
                            <span class="badge bg-success">ON</span>
                        {% else %}
                            <span class="badge bg-danger">OFF</span>
                        {% endif %}
                    </a>

                    <a class="btn btn-default {% if not perms.core.famille_reglements_modifier %}disabled{% endif %}" href="{% url 'famille_remboursement_ajouter' idfamille=idfamille %}"
                        title="Créer un remboursement"><i class="fa fa fa-money margin-r-5"></i>Remboursement
                    </a>

                    <a class="btn btn-default {% if not perms.core.famille_reglements_modifier %}disabled{% endif %}" href="{% url 'famille_recus_liste' idfamille=idfamille %}"
                        title="Liste des reçus de règlements"><i class="fa fa fa-file-text-o margin-r-5"></i>Liste des reçus
                    </a>
                </div>

                {% embed 'core/crud/liste.html' %}{% endembed %}
            {% endblock box_contenu %}

            {% block box_conclusion %}{{ box_conclusion }}{% endblock %}
        {% endembed %}

    </div>
{% endblock %}
