{% extends "fiche_famille/famille_liste.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load embed %}


{% block detail_famille %}
    <div class="col-md-9">

        {# Liste des factures de la famille #}
        {% embed 'core/box.html' %}
            {% block box_theme %}card-outline card-lightblue{% endblock %}
            {% block box_titre %}{{ box_titre }}{% endblock %}
            {% block box_introduction %}{{ box_introduction|safe }}{% endblock %}

            {% block box_contenu %}
                {% embed 'core/crud/liste.html' %}{% endembed %}
            {% endblock box_contenu %}

            {% block box_conclusion %}{{ box_conclusion }}{% endblock %}
        {% endembed %}

        {# Autres outils #}
        {% embed 'core/box.html' with box_introduction=False box_titre=False %}
            {% block box_theme %}card-outline{% endblock %}
            {% block box_contenu %}
                <div class="mt-2">

                    {# Abonnement à l'envoi des factures par Email #}
                    <a class="btn btn-app" href="{% url 'famille_abo_factures_email' idfamille=idfamille %}" title="Cliquez ici pour activer ou désactiver l'abonnement au service d'envoi des factures par Email" style="font-size: 12px !important;">
                        {% if famille.email_factures %}
                            <span class="badge bg-success">Activé</span>
                        {% else %}
                            <span class="badge bg-danger">Désactivé</span>
                        {% endif %}
                        <i class="fa fa-envelope"></i>Factures par Email
                    </a>

                </div>
            {% endblock box_contenu %}
        {% endembed %}

    </div>
{% endblock %}

