{% extends "fiche_famille/famille_liste.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load embed %}


{% block detail_famille %}
    <div class="col-md-9">

        {# Liste des règlements de la famille #}
        {% embed 'core/box.html' %}
            {% block box_theme %}card-outline card-lightblue{% endblock %}
            {% block box_titre %}{{ box_titre }}{% endblock %}
            {% block box_introduction %}{{ box_introduction|safe }}{% endblock %}

            {% block box_contenu %}
                {% embed 'core/crud/liste.html' %}{% endembed %}
            {% endblock box_contenu %}

            {% block box_conclusion %}{{ box_conclusion }}{% endblock %}
        {% endembed %}

        {# Autres outils #}
        {% embed 'core/box.html' with box_introduction=False box_titre=False %}
            {% block box_theme %}card-outline{% endblock %}
            {% block box_contenu %}
                <div class="mt-2">

                    {# Créer un remboursement #}
                    <a class="btn btn-app {% if not perms.core.famille_reglements_modifier %}disabled{% endif %}" href="{% url 'famille_remboursement_ajouter' idfamille=idfamille %}" 
                       title="Créer un remboursement" style="font-size: 12px !important;">
                        <i class="fa fa-money"></i>Remboursement
                    </a>

                    {# Liste des reçus #}
                    <a class="btn btn-app {% if not perms.core.famille_reglements_modifier %}disabled{% endif %}" href="{% url 'famille_recus_liste' idfamille=idfamille %}" 
                       title="Liste des reçus de règlements" style="font-size: 12px !important;">
                        <i class="fa fa-file-text-o"></i>Liste des reçus
                    </a>

                    {# Abonnement à l'envoi des reçus par Email #}
                    <a class="btn btn-app {% if not perms.core.famille_reglements_modifier %}disabled{% endif %}" href="{% url 'famille_abo_recus_email' idfamille=idfamille %}" 
                       title="Cliquez ici pour activer ou désactiver l'abonnement au service d'envoi des reçus par Email" style="font-size: 12px !important;">
                        {% if famille.email_recus %}
                            <span class="badge bg-success">Activé</span>
                        {% else %}
                            <span class="badge bg-danger">Désactivé</span>
                        {% endif %}
                        <i class="fa fa-envelope"></i>Reçus par Email
                    </a>

                    {# Abonnement à l'envoi des avis de dépôt par Email #}
                    <a class="btn btn-app {% if not perms.core.famille_reglements_modifier %}disabled{% endif %}" href="{% url 'famille_abo_depots_email' idfamille=idfamille %}" 
                       title="Cliquez ici pour activer ou désactiver l'abonnement au service d'envoi des avis d'encaissement par Email" style="font-size: 12px !important;">
                        {% if famille.email_depots %}
                            <span class="badge bg-success">Activé</span>
                        {% else %}
                            <span class="badge bg-danger">Désactivé</span>
                        {% endif %}
                        <i class="fa fa-envelope"></i>Avis de dépôt par Email
                    </a>

                    {# Prélèvements #}
                    <a class="btn btn-app {% if not perms.core.famille_reglements_modifier %}disabled{% endif %}" href="{% url 'famille_mandats_liste' idfamille=idfamille %}" 
                       title="Cliquez ici pour accéder aux paramètres de prélèvement de la famille" style="font-size: 12px !important;">
                        {% if nbre_mandats_actifs %}
                            <span class="badge bg-success">Activé</span>
                        {% else %}
                            <span class="badge bg-danger">Désactivé</span>
                        {% endif %}
                        <i class="fa fa-euro"></i>Prélèvement
                    </a>

                </div>
            {% endblock box_contenu %}
        {% endembed %}


    </div>
{% endblock %}
