{% extends "fiche_famille/famille_liste.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load embed %}


{% block styles %}
    {{ block.super }}
{% endblock styles %}


{% block scripts %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'lib/jquery-serialize-object/jquery.serialize-object.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/bootbox/bootbox.min.js' %}"></script>
{% endblock scripts %}


{% block detail_famille %}

    <div class="col-md-9">
        {% embed 'core/box.html' %}
            {% block box_theme %}card-outline card-lightblue{% endblock %}
            {% block box_titre %}{{ box_titre }}{% endblock %}
            {% block box_introduction %}{{ box_introduction|safe }}{% endblock %}
            {% block box_contenu %}

                {% include 'outils/editeur_sms_express.html' %}

            {% endblock box_contenu %}
            {% block box_conclusion %}{{ box_conclusion }}{% endblock %}
        {% endembed %}

    </div>

{% endblock %}
