{% extends "fiche_famille/famille_liste.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load embed %}


{% block detail_famille %}
    <div class="col-md-9">

        {# Liste des factures de la famille #}
        {% embed 'core/box.html' %}
            {% block box_theme %}card-outline card-lightblue{% endblock %}
            {% block box_titre %}{{ box_titre }}{% endblock %}
            {% block box_introduction %}{{ box_introduction|safe }}{% endblock %}

            {% block box_contenu %}
                {% embed 'core/crud/liste.html' %}{% endembed %}
            {% endblock box_contenu %}

            {% block box_conclusion %}{{ box_conclusion }}{% endblock %}
        {% endembed %}

        {# Envoi des factures par Email #}
        {% embed 'core/box.html' %}
            {% block box_theme %}{% if famille.email_factures %}box-success{% else %}box-danger{% endif %}{% endblock %}
            {% block box_titre %}Envoi des factures par Email{% endblock %}
            {% block box_introduction %}Cliquez sur le bouton Modifier pour activer ou désactiver l'abonnement au service d'envoi des factures par Email.{% endblock %}
            {% block box_contenu %}
                {% if famille.email_factures %}
                    <span class='text-green'><i class='fa fa-check'></i> L'envoi des factures par Email est activé.</span>
                {% else %}
                    <span class='text-red'><i class='fa fa-close'></i> L'envoi des factures par Email n'est pas activé.</span>
                {% endif %}
                <div class="pull-right">
                    <a type='button' class='btn btn-default btn-sm' href="{% url 'famille_abo_factures_email' idfamille=idfamille %}"><i class="fa fa-pencil"></i></a>
                </div>
            {% endblock box_contenu %}
        {% endembed %}


    </div>
{% endblock %}

