{% extends "fiche_famille/famille_liste.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load embed %}


{% block detail_famille %}
    <div class="col-md-9">

        {# Liste des factures de la famille #}
        {% embed 'core/box.html' %}
            {% block box_theme %}card-outline card-lightblue{% endblock %}
            {% block box_titre %}{{ box_titre }}{% endblock %}
            {% block box_introduction %}{{ box_introduction|safe }}{% endblock %}
            {% block box_contenu %}
                {% embed 'core/crud/liste.html' %}{% endembed %}
            {% endblock box_contenu %}
            {% block box_conclusion %}{{ box_conclusion }}{% endblock %}
        {% endembed %}

        {# Autres outils #}
        {% embed 'core/box.html' with box_introduction=False box_titre=False %}
            {% block box_theme %}card-outline{% endblock %}
            {% block box_contenu %}
                <div class="mt-2">

                    {# Abonnement à l'envoi des factures par Email #}
                    <a class="btn btn-app {% if not perms.core.famille_factures_modifier %}disabled{% endif %}" href="{% url 'famille_abo_factures_email' idfamille=idfamille %}" 
                       title="Cliquez ici pour activer ou désactiver l'abonnement au service d'envoi des factures par Email" style="font-size: 12px !important;"
                    >
                        {% if famille.email_factures %}
                            <span class="badge bg-success">Activé</span>
                        {% else %}
                            <span class="badge bg-danger">Désactivé</span>
                        {% endif %}
                        <i class="fa fa-envelope"></i>Factures par Email
                    </a>

                </div>
            {% endblock box_contenu %}
        {% endembed %}

        {# Modal Suppression #}
        {% include 'facturation/factures_modal_suppression.html' %}

        <script>
            function ouvrir_modal_supprimer_facture(idfacture) {
                $("#id_factures_supprimer").attr("href", "{% url 'famille_factures_supprimer' idfamille=idfamille pk=9999999 %}".replace("9999999", idfacture));
                $("#id_factures_annuler").attr("href", "{% url 'famille_factures_annuler' idfamille=idfamille pk=9999999 %}".replace("9999999", idfacture));
                $('#modal_suppression_facture').modal('show');
            }
            function tout_annuler() {
                window.location.href="{% url 'famille_factures_annuler_plusieurs' idfamille=idfamille listepk='xxx' %}".replace("xxx", get_coches().join(";"));
            }
        </script>

    </div>
{% endblock %}
