{% extends "fiche_famille/famille_liste.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load embed %}


{% block scripts %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'lib/jquery-serialize-object/jquery.serialize-object.min.js' %}"></script>
{% endblock scripts %}


{% block detail_famille %}
    <div class="col-md-9">
        {% embed 'core/box.html' %}
            {% block box_theme %}card-outline card-lightblue{% endblock %}
            {% block box_titre %}{{ box_titre }}{% endblock %}
            {% block box_introduction %}{{ box_introduction|safe }}{% endblock %}
            {% block box_contenu %}

                <div>
                    <ul class="nav nav-tabs">
                        <li class="nav-item active">
                            <a class="nav-link active" href="#tab_1" data-toggle="tab">Modèle de document</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#tab_2" data-toggle="tab">Options d'impression</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active p-2" id="tab_1">
                            {% crispy form_modele %}
                        </div>
                        <div class="tab-pane p-2" id="tab_2">
                            {% crispy form_parametres %}
                        </div>
                    </div>
                </div>

                {# Boutons de commandes #}
                <div class="buttonHolder pull-right">
                    <button class="btn btn-primary" onclick="impression_pdf()" title="Aperçu PDF de l'attestation fiscale'"><i class='fa fa-file-pdf-o margin-r-5'></i> Aperçu PDF</button>
                    <button class="btn btn-primary" onclick="impression_pdf(true)" title="Envoyer l'attestation fiscale' par Email"><i class='fa fa-envelope-o margin-r-5'></i> Envoyer par Email</button>
                    <a class="btn btn-danger" href="{% url 'famille_attestations_fiscales_liste' idfamille=idfamille %}"><i class='fa fa-ban margin-r-5'></i>Annuler</a>
                </div>


            {% endblock box_contenu %}
            {% block box_conclusion %}{{ box_conclusion }}{% endblock %}
        {% endembed %}

    </div>

    {# Insertion des modals #}
    {% include 'outils/modal_editeur_emails.html' %}
    {% include 'core/modal_pdf.html' %}

    <script>

        // Impression du PDF
        function impression_pdf(email=false) {
            $.ajax({
                type: "POST",
                url: "{% url 'ajax_attestation_fiscale_impression_pdf' %}",
                data: {
                    form_modele: JSON.stringify($("#choix_modele_form").serializeObject()),
                    form_parametres: JSON.stringify($("#options_impression_form").serializeObject()),
                    idattestation: {{ idattestation }},
                    idfamille: {{ idfamille }},
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                },
                datatype: "json",
                success: function(data){
                    if (email) {
                        envoyer_email(data);
                    } else {
                        charge_pdf(data);
                    }
                },
                error: function(data) {
                    toastr.error(data.responseJSON.erreur);
                }
            })
        };

    </script>

{% endblock %}
