{% extends "fiche_famille/famille_liste.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load embed %}

{% block detail_famille %}
    <div class="col-md-9">

        {% embed 'core/box.html' %}
            {% block box_titre %}{{ box_titre }}{% endblock %}
            {% block box_introduction %}{{ box_introduction|safe }}{% endblock %}
            {% block box_contenu %}

                <form id="form_selections" method="POST">
                    <input type="hidden" name="selections" value="">
                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

                    <div class="buttonHolder" style="margin-top: 20px;">
                        <div>
                            <button class="btn btn-primary btn-primary" id="bouton_valider"><i class="fa fa-check margin-r-5"></i>Ajouter les prestations cochées</button>
                            <a class="btn btn-danger" href="{% url 'famille_factures_consulter' idfamille=idfamille pk=idfacture %}"><i class='fa fa-ban margin-r-5'></i>Annuler</a>
                        </div>
                    </div>
                </form>

                <script>
                    $("#bouton_valider").on("click",function(event) {
                        $("[name=selections]").val(JSON.stringify(get_coches()));
                        $('#form_selections').submit();
                    });
                </script>

                {% embed 'core/crud/liste.html' %}
                {% endembed %}

            {% endblock box_contenu %}
        {% endembed %}
    </div>

{% endblock detail_famille %}
