{% extends "core/page.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load embed %}


{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'lib/js-year-calendar/js-year-calendar.min.css' %}">
{% endblock styles %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'lib/js-year-calendar/js-year-calendar.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/js-year-calendar/js-year-calendar.fr.js' %}"></script>
{% endblock scripts %}

{% block contenu_page %}

    {% embed 'core/box.html' %}

        {% block box_theme %}card-outline card-lightblue{% endblock %}
        {% block box_titre %}{{ box_titre }}{% endblock %}
        {% block box_introduction %}{{ box_introduction|safe }}{% endblock %}
        {% block box_contenu %}
            <div class="mt-4">
                <div id="calendar"></div>
                <script>
                    let calendar = new Calendar('#calendar', {
                        language: 'fr',
                        style: 'background',
                        dataSource: [],
                        yearChanged: function(e) {
                            e.preventRendering = true;
                            $.ajax({
                                method: "POST",
                                url: "{% url 'ajax_get_calendrier_annuel' %}",
                                data: {
                                    annee: e.currentYear,
                                    csrfmiddlewaretoken: '{{ csrf_token }}',
                                },
                                success: function(data) {
                                    var events = [];
                                    for (var i = 0; i < data.length; i++) {
                                        events.push({
                                            name: data[i].name,
                                            startDate: new Date(data[i].debut[0], data[i].debut[1], data[i].debut[2]),
                                            endDate: new Date(data[i].fin[0], data[i].fin[1], data[i].fin[2]),
                                            color: data[i].color
                                            });
                                        }
                                        e.calendar.setDataSource(events);
                                    }
                                });
                            },
                        })
                </script>
            </div>
        {% endblock %}

    {% endembed %}

{% endblock %}
