{% extends "core/box_in_page.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load embed %}


{% block contenu_page %}
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            {% embed 'core/box.html' %}
                {% block box_titre %}{{ box_titre }}{% endblock %}
                {% block box_introduction %}{{ box_introduction|safe }}{% endblock %}
                {% block box_contenu %}
                    <div class="custom-control custom-checkbox custom-control-inline">
                        <input type="checkbox" class="custom-control-input" id="id_check_attente" {% if afficher_renseignements_attente %}checked{% endif %}>
                        <label class="custom-control-label" for="id_check_attente">Afficher uniquement les modifications en attente de lecture ou de validation</label>
                    </div>
                    {% embed 'core/crud/liste.html' %}
                    {% endembed %}
                {% endblock box_contenu %}
                {% block box_conclusion %}{{ box_conclusion }}{% endblock %}
            {% endembed %}
        </div>
    </div>
{% endblock contenu_page %}

{% block scripts %}
    {{ block.super }}
    <script>

        $(document).ready(function() {
            $("#id_check_attente").on('change', function () {
                var etat = $(this)[0].checked;
                $.ajax({
                    type: "POST",
                    url: "{% url 'ajax_memorise_parametre' %}",
                    data: {
                        nom: "afficher_renseignements_attente",
                        categorie: "renseignements_attente",
                        valeur: etat,
                        csrfmiddlewaretoken: "{{ csrf_token }}",
                    },
                    datatype: "json",
                    success: function (data) {
                        // Recharge la liste
                        var table = $('.datatable').DataTable()
                        table.ajax.reload();
                    }
                });
            });
        });

        function traiter_demande(iddemande, etat) {
            // Modifie la donnée
            $.ajax({
                type: "POST",
                url: "{% url 'ajax_appliquer_modification_portail' %}",
                data: {
                    "iddemande": iddemande,
                    "etat": etat
                },
                datatype: "json",
                success: function(data){
                    if (data.redirection) {
                        // Redirection
                        window.location.href = data.redirection;
                    } else {
                        // Recharge la liste
                        var table = $('.datatable').DataTable()
                        table.ajax.reload(null, false);
                    }
                },
                error: function(data) {
                    toastr.error("Erreur");
                }
            })
        };

        function tout_valider() {
            var listepk = get_coches();
            $.ajax({
                type: "POST",
                url: "{% url 'ajax_tout_valider_portail' %}",
                data: {
                    "liste_demandes": JSON.stringify(listepk),
                },
                datatype: "json",
                success: function (data) {
                    var table = $('.datatable').DataTable()
                    table.ajax.reload(null, false);
                },
                error: function(data) {
                    var table = $('.datatable').DataTable()
                    table.ajax.reload(null, false);
                    toastr.error(data.responseJSON.erreur);
                }
            });
        }

    </script>

{% endblock scripts %}
