{% extends "core/box_in_page.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load embed %}


{% block styles %}
    {{ block.super }}
    <style>
    #div_id_html {
        margin-bottom: 0px;
    }
    html body div.badge-container {
            position: relative;
            display: inline-block;
            padding: 10px;
            background-color: #f8f9fa;
            border-radius: 5px;
            width: 100%;
    }

    </style>
{% endblock styles %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'lib/bootbox/bootbox.min.js' %}"></script>
{% endblock scripts %}


{% block contenu_page %}
{% load get_item %}

    <div class="row">
        <div class="col-md-3">
            <!-- Box Destinataires -->
            <div class="card card-default">
                <div class="card-header">
                    <h3 class="card-title">Destinataires</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" onclick="exporter_excel(mode='destinataires')" title="Exporter la liste des destinataires sélectionnés au format Excel"><i class="fa fa-file-excel-o"></i></button>
                    </div>
                </div>
                <div class="card-footer p-0">
                       {% if mail.verrouillage_destinataires %}
                        <div style="padding-left: 8px;padding-top: 2px;padding-bottom: 2px;font-size: 12px;color: #acacac;background-color: #fafafa;">Sélection verrouillée</div>
                    {% endif %}
                    <ul class="list-group list-group-flush" {% if mail.verrouillage_destinataires %}style="background-color: #fafafa;"{% endif %}>
                        {% if mail.verrouillage_destinataires %}
                            {% if parametres.emails_individus_afficher_page and categories.individu%}
                                <a class="list-group-item list-group-item-action">
                                    <i class="fa fa-user fa-fw margin-r-5"></i>Individus
                                    <span class="float-right badge bg-blue">{{ categories.individu }}</span>
                                </a>
                            {% endif %}
                            {% if parametres.emails_familles_afficher_page and categories.famille %}
                                <a class="list-group-item list-group-item-action"><i class="fa fa-users fa-fw margin-r-5"></i>Familles
                                    <span class="float-right badge bg-blue">{{ categories.famille }}</span>
                                </a>
                            {% endif %}
                            {% if parametres.emails_activites_afficher_page and categories.activites %}
                               <a class="list-group-item list-group-item-action"><i class="fa fa-theater-masks fa-fw margin-r-5"></i>Activites
                                  <span class="float-right badge bg-blue">{{ categories.activites }}</span>
                               </a>
                            {% endif %}
                            {% if parametres.emails_inscriptions_afficher_page and categories.inscription %}
                               <a class="list-group-item list-group-item-action"><i class="fa fa-file-text-o fa-fw margin-r-5"></i>Inscriptions
                                  <span class="float-right badge bg-blue">{{ categories.inscription }}</span>
                               </a>
                            {% endif %}

                            {% if parametres.emails_collaborateurs_afficher_page and categories.collaborateur %}
                              <a class="list-group-item list-group-item-action"><i class="fa fa-users fa-fw margin-r-5"></i>Collaborateurs
                                 <span class="float-right badge bg-blue">{{ categories.collaborateur }}</span>
                              </a>
                            {% endif %}
                            {% if categories.contact %}<a class="list-group-item list-group-item-action"><i class="fa fa-phone-square fa-fw margin-r-5"></i>Contacts <span class="float-right badge bg-blue">{{ categories.contact }}</span></a>{% endif %}

                            {% if categories.liste_diffusion %}<a class="list-group-item list-group-item-action"><i class="fa fa-list-ul fa-fw margin-r-5"></i>Listes de diffusion <span class="float-right badge bg-blue">{{ categories.liste_diffusion }}</span></a>{% endif %}

                            {% if parametres.emails_liste_diffusion_afficher_page and categories.liste_diffusion %}
                              <a class="list-group-item list-group-item-action"><i class="fa fa-list-ul fa-fw margin-r-5"></i>Listes de diffusion
                                 <span class="float-right badge bg-blue">{{ categories.liste_diffusion }}</span>
                              </a>
                            {% endif %}
                        {% else %}
                            {% if parametres.emails_individus_afficher_page %}
                                <a class="list-group-item list-group-item-action" href="#" onclick="$('[name=action]').val('ajouter_individus');$('#form_editeur_emails').submit();" title="Sélectionner des individus">
                                    <i class="fa fa-user fa-fw margin-r-5"></i> Individus
                                    <span class="float-right badge bg-blue">{{ categories.individu }}</span>
                                </a>
                            {% endif %}

                            {% if parametres.emails_familles_afficher_page %}
                                <a class="list-group-item list-group-item-action" href="#" onclick="$('[name=action]').val('ajouter_familles');$('#form_editeur_emails').submit();" title="Sélectionner des familles">
                                    <i class="fa fa-users fa-fw margin-r-5"></i>Familles
                                    <span class="float-right badge bg-blue">{{ categories.famille }}</span>
                                </a>
                            {% endif %}
                            {% if parametres.emails_activites_afficher_page %}
                                <a class="list-group-item list-group-item-action" href="#" onclick="$('[name=action]').val('ajouter_activites');$('#form_editeur_emails').submit();" title="Sélectionner des activites">
                                    <i class="fa fa-book fa-fw margin-r-5"></i>Inscrits aux Activites
                                    <span class="float-right badge bg-blue">{{ categories.activites }}</span>
                                </a>
                            {% endif %}
                            {% if parametres.emails_inscriptions_afficher_page %}
                                <a class="list-group-item list-group-item-action" href="#" onclick="$('[name=action]').val('ajouter_inscription');$('#form_editeur_emails').submit();" title="Sélectionner des inscriptions">
                                    <i class="fa fa-file-text-o fa-fw margin-r-5"></i>Inscriptions
                                    <span class="float-right badge bg-blue">{{ categories.inscription }}</span>
                                </a>
                            {% endif %}
                            {% if parametres.emails_collaborateurs_afficher_page %}
                                <a class="list-group-item list-group-item-action" href="#" onclick="$('[name=action]').val('ajouter_collaborateurs');$('#form_editeur_emails').submit();" title="Sélectionner des collaborateurs">
                                    <i class="fa fa-users fa-fw margin-r-5"></i>Collaborateurs
                                    <span class="float-right badge bg-blue">{{ categories.collaborateur }}</span>
                                </a>
                            {% endif %}
                            <a class="list-group-item list-group-item-action" href="#" onclick="$('[name=action]').val('ajouter_contacts');$('#form_editeur_emails').submit();" title="Sélectionner des contacts"><i class="fa fa-phone-square fa-fw margin-r-5"></i>Contacts <span class="float-right badge bg-blue">{{ categories.contact }}</span></a>

                            {% if parametres.emails_liste_diffusion_afficher_page %}
                                <a class="list-group-item list-group-item-action" href="#" onclick="$('[name=action]').val('ajouter_diffusion');$('#form_editeur_emails').submit();" title="Sélectionner des listes de diffusion">
                                    <i class="fa fa-list-ul fa-fw margin-r-5"></i>Listes de diffusion
                                    <span class="float-right badge bg-blue">{{ categories.liste_diffusion }}</span>
                                </a>
                            {% endif %}
                            <a class="list-group-item list-group-item-action" href="#" onclick="$('[name=action]').val('ajouter_saisie_libre');$('#form_editeur_emails').submit();" title="Saisir des adresses mail"><i class="fa fa-edit fa-fw margin-r-5"></i>Saisie libre <span class="float-right badge bg-blue">{{ categories.saisie_libre }}</span></a>
                        {% endif %}
                    </ul>
                </div>

            </div>
            <!-- Box Envois -->
            <div class="card card-default">
                <div class="card-header">
                    <h3 class="card-title">Envois</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" onclick="exporter_excel(mode='envois')" title="Exporter la liste des envois au format Excel"><i class="fa fa-file-excel-o"></i></button>
                    </div>
                </div>

                <div class="card-footer p-0">
                    <div style="padding-left: 5px;padding-top: 2px;padding-bottom: 2px;font-size: 12px;color: #acacac;background-color: #fafafa;">{{ intro_envoi }}</div>
                    <div {% if destinataires|length > 5 %}style="overflow: scroll;max-height: 300px;"{% endif %}>
                        <table class="table m-0">
                            {% for destinataire in destinataires %}
                                <tr>
                                    <td style="padding: 5px;">
                                        <div {% if destinataire.date_envoi %}title="Envoyé le {{ destinataire.date_envoi|date:"l j F Y H:i:s" }} {% if destinataire.resultat_envoi != "ok" %}&#10;Erreur : {{ destinataire.resultat_envoi }}{% endif %}"{% endif %}>
                                            {% if destinataire.date_envoi and destinataire.resultat_envoi == "ok" %}<i class='fa fa-check-circle margin-r-5 text-green'></i>{% endif %}
                                            {% if destinataire.date_envoi and destinataire.resultat_envoi != "ok" %}<i class='fa fa-times-circle margin-r-5 text-red'></i>{% endif %}
                                            {{ destinataire.adresse }}
                                        </div>
                                        <div><span style="color: #d2d2d2;font-size: 12px;">
                                            {% if destinataire.categorie == "expediteur" %} Expéditeur en copie : {{ destinataire.adresse }}{% endif %}
                                            {% if destinataire.famille %} Famille: {{ destinataire.famille.nom }}{% endif %}
                                            {% if destinataire.collaborateur %} Collaborateur: {{ destinataire.collaborateur.Get_nom }}{% endif %}
                                            {% if destinataire.individu %} Individu: {{ destinataire.individu.Get_nom }}{% endif %}
                                            {% if destinataire.inscription %} Inscriptions: {{ destinataire.inscription.Get_activite }}{% endif %}
                                            {% if destinataire.activites %} Activites: {{ destinataire.activites.nom }}{% endif %}
                                            {% if destinataire.contact %} Contact: {{ destinataire.contact.Get_nom }}{% endif %}
                                        </span></div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>

            </div>


        </div>

        <div class="col-md-9">

            <!-- Box Message -->
            {% embed 'core/box.html' %}
                {% block box_theme %}card-outline card-lightblue{% endblock %}
                {% block box_titre %}Message{% endblock %}
                {% block box_contenu %}
                    {% crispy form %}
                {% endblock %}
            {% endembed %}

        </div>

    </div>

    <script>
        $(document).ready(function() {

            $("#bouton_envoyer").on('click', function(event) {
                if ($('#id_selection').val() == "TOUS") {
                    var nbre_destinataires = {{ destinataires|length }};
                } else {
                    var nbre_destinataires = {{ nbre_envois_attente|add:nbre_envois_echec }};
                }
                if (nbre_destinataires === 0) {
                    toastr.error("Vous devez sélectionner au moins un destinataire");
                    return false;
                }
                if (nbre_destinataires === 1) {
                    var texte_message = "Confirmez-vous l'envoi de ce message à 1 destinataire ?";
                } else {
                    var texte_message = "Confirmez-vous l'envoi de ce message à " + nbre_destinataires + " destinataires ?";
                }

                bootbox.dialog({
                    title: "Confirmation de l'envoi",
                    message: texte_message,
                    buttons: {
                        ok: {
                            label: "<i class='fa fa-check'></i> Envoyer",
                            className: 'btn-primary',
                            callback: function(){
                                bootbox.dialog({
                                    message: "<p class='text-center mb-0'><i class='fa fa-spin fa-cog'></i> L'envoi peut durer plusieurs minutes. Veuillez patienter...</p>",
                                    closeButton: false
                                });
                                $('[name=action]').val('envoyer');
                                $('#form_editeur_emails').submit();
                            }
                        },
                        cancel: {
                            label: "<i class='fa fa-ban'></i> Annuler",
                            className: 'btn-danger',
                        }
                    }
                });
            });

        });

        // Exporter vers Excel des destinataires
        function exporter_excel(mode) {
            $.ajax({
                type: "POST",
                url: "{% url 'ajax_editeur_emails_exporter_excel' %}",
                data: {
                    idmail: "{{ mail.pk }}",
                    mode: mode,
                    csrfmiddlewaretoken: "{{ csrf_token }}"
                },
                datatype: "json",
                success: function(data){
                    window.location = "{{ MEDIA_URL }}" + data.nom_fichier;
                },
                error: function(data) {
                    toastr.error(data.responseJSON.erreur);
                }
            })
        };

    </script>

{% endblock contenu_page %}
