{% load crispy_forms_tags %}
{% load static %}
{% load embed %}


{% block styles %}
    <style>
    #div_id_html {
        margin-bottom: 0px;
    }
    </style>
{% endblock styles %}

{% block scripts %}
    <script type="text/javascript" src="{% static 'lib/bootbox/bootbox.min.js' %}"></script>
{% endblock scripts %}


{# Modal Envoyer un Email #}
{% embed 'core/modal.html' %}
    {% block modal_id %}modal_editeur_emails{% endblock %}
    {% block modal_classe %}modal-lg{% endblock %}
    {% block modal_titre %}Envoyer un Email{% endblock %}
    {% block modal_body %}
        <div id="modal_erreurs" class="text-red"></div>
        <div id="div_editeur_emails">
        </div>
    {% endblock %}
{% endembed %}
