<style>
    .tableau_notes td {
        padding: 6px !important;
    }
</style>

<table class="tableau_notes table">
    <tbody>
        {% for note in notes %}
            <tr class="text-center" style="padding: 10px !important;">
                <td style="width: 90px;color: #9c9c9c;padding: 6px !important;">{{ note.date_saisie|date:"d/m/Y" }}</td>
                <td style="text-align: left;padding: 6px !important;">
                    {% if note.priorite == "HAUTE" %}
                        <i class="fa fa-exclamation-triangle text-danger"></i>
                    {% endif %}
                    {% if mode_notes == 'accueil' %}
                        {% if note.famille %}<span class="badge bg-info">{{ note.famille }}</span>{% endif %}
                        {% if note.individu %}<span class="badge bg-info">{{ note.individu }}</span>{% endif %}
                        {% if note.collaborateur %}<span class="badge bg-warning">{{ note.collaborateur }}</span>{% endif %}
                    {% endif %}
                    {{ note.texte }}
                </td>
                <td style="width: 90px;text-align: right;padding: 6px !important;">
                    {% if mode_notes == 'accueil' %}
                        <a type="button" class="btn-xs" href="{% url 'notes_modifier' pk=note.pk %}?next={{ request.path|urlencode }}" title="Modifier"><i class="fa fa-fw fa-pencil"></i></a>
                        <a type="button" class="btn-xs" href="{% url 'notes_supprimer' pk=note.pk %}?next={{ request.path|urlencode }}" title="Supprimer"><i class="fa fa-fw fa-trash"></i></a>
                    {% endif %}
                    {% if mode_notes == 'famille' %}
                        <a type="button" class="btn-xs" href="{% url 'famille_notes_modifier' idfamille=note.famille_id pk=note.pk %}" title="Modifier"><i class="fa fa-fw fa-pencil"></i></a>
                        <a type="button" class="btn-xs" href="{% url 'famille_notes_supprimer' idfamille=note.famille_id pk=note.pk %}" title="Supprimer"><i class="fa fa-fw fa-trash"></i></a>
                    {% endif %}
                    {% if mode_notes == 'individu' %}
                        <a type="button" class="btn-xs" href="{% url 'individu_notes_modifier' idfamille=idfamille idindividu=note.individu_id pk=note.pk %}" title="Modifier"><i class="fa fa-fw fa-pencil"></i></a>
                        <a type="button" class="btn-xs" href="{% url 'individu_notes_supprimer' idfamille=idfamille idindividu=note.individu_id pk=note.pk %}" title="Supprimer"><i class="fa fa-fw fa-trash"></i></a>
                    {% endif %}
                    {% if mode_notes == 'collaborateur' %}
                        <a type="button" class="btn-xs" href="{% url 'collaborateur_notes_modifier' idcollaborateur=note.collaborateur_id pk=note.pk %}" title="Modifier"><i class="fa fa-fw fa-pencil"></i></a>
                        <a type="button" class="btn-xs" href="{% url 'collaborateur_notes_supprimer' idcollaborateur=note.collaborateur_id pk=note.pk %}" title="Supprimer"><i class="fa fa-fw fa-trash"></i></a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
