{% load crispy_forms_tags %}
{% load static %}
{% load embed %}


{% block contenu_page %}

    <div class="card card-outline">

        <div class="card-header">
            <h3 class="card-title"><i class="fa fa-history margin-r-5"></i> Suivi des réservations</h3>
            <div class="card-tools">

                <button type="button" id="bouton_maj_affichage_reservations" title="Actualiser l'affichage" class="btn btn-tool"><i class="fa fa-refresh"></i></button>

                <div class="btn-group">
                    <button href="#" class="btn btn-tool" title="Ajuster les options" data-toggle="dropdown"><i class="fa fa-gear"></i></button>
                    <div id="choix_affichage" class="dropdown-menu dropdown-menu-right" role="menu">
                        <li><h6 class="dropdown-header"><strong>Données</strong></h6></li>
                        <a class="dropdown-item" style="padding-left: 22px;" href="#" id="selection_activites_reservations" title="Sélectionner les activités à afficher">Sélectionner les activités</a>
                        <li class="dropdown-divider"></li>
                        <li><h6 class="dropdown-header"><strong>Période</strong></h6></li>
                        <li><a href="#" data-valeur="3"><i class="fa fa-check"></i> <span>3 heures</span></a></li>
                        <li><a href="#" data-valeur="6"><i class="fa fa-check"></i> <span>6 heures</span></a></li>
                        <li><a href="#" data-valeur="12"><i class="fa fa-check"></i> <span>12 heures</span></a></li>
                        <li><a href="#" data-valeur="24"><i class="fa fa-check"></i> <span>24 heures</span></a></li>
                        <li><a href="#" data-valeur="48"><i class="fa fa-check"></i> <span>48 heures</span></a></li>
                        <li><a href="#" data-valeur="72"><i class="fa fa-check"></i> <span>72 heures</span></a></li>
                    </div>
                </div>

                <button type="button" class="btn btn-tool" data-card-widget="maximize" title="Agrandir/Réduire"><i class="fa fa-expand"></i></button>

                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Réduire"><i class="fa fa-minus"></i></button>

            </div>
        </div>

        <div>
            <table id="table-suivi_reservations" class="table mb-0">
            </table>
        </div>

        <style>
            #choix_affichage > li{
                margin-left: 5px;
            }
            #choix_affichage > li > a > .fa{
                visibility:hidden;
            }
            #choix_affichage > li > a.selected > .fa{
                visibility:visible;
            }
        </style>
    </div>

    {# Ajout de la modal sélection des activités #}
    <div id="div_modal_selection_activites_reservations"></div>

<script>
    $(document).ready(function() {

        $('#choix_affichage > li > a').click(function(e){
            $('#choix_affichage > li > a').removeClass('selected');
            $(this).addClass('selected');
            maj_affichage_reservations(update_parametres=true);
        });

        // Bouton MAJ affichage
        $("#bouton_maj_affichage_reservations").on('click', function(event) {
            event.preventDefault();
            maj_affichage_reservations();
        });

        $("#selection_activites_reservations").on("click", function(event){
            var affichage = $("#choix_affichage .selected").data("valeur");
            event.preventDefault();
            $.ajax({
                type: "POST",
                url: "{% url 'ajax_reservations_get_form_activites' %}",
                data: {
                    activites: JSON.stringify(activites_reservations_json),
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                },
                success: function (data) {
                    $("#div_modal_selection_activites_reservations").html(data);
                    $('#modal_selection_activites_reservations').modal('show');
                }
            });
        });

        // MAJ de l'affichage au chargement de la page
        maj_affichage_reservations();

        // MAJ de la valeur affichage dans le menu dropdown
        $("#choix_affichage [data-valeur='{{ suivi_reservations_parametres.affichage }}']").addClass("selected");

    });

    function maj_affichage_reservations(update_parametres=false) {
        var parametres = null;
        if (update_parametres) {
            parametres = {
                activites: activites_reservations_json,
                affichage: $("#choix_affichage .selected").data("valeur"),
            };
        }
        $.ajax({
            type: "POST",
            url: "{% url 'ajax_get_suivi_reservations' %}",
            data: {
                parametres: JSON.stringify(parametres),
                csrfmiddlewaretoken: "{{ csrf_token }}",
            },
            success: function (data) {
                $("#table-suivi_reservations").html(data);
            }
        });
    };

</script>

{% endblock contenu_page %}
