<table id="table_exemple" class="display custom-datatable table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            {% for colonne in datatable.colonnes %}
                {% if colonne.code == "check" %}
                    <th data-name="{{ colonne.label|slugify }}" data-config-sortable="false" data-config-visible="true" class="select-checkbox sorting_disabled" style="padding: 12px;width: 25px;text-align: center;vertical-align: middle;"><input id='checkbox_all' type='checkbox'></th>
                {% else %}
                    <th class="text-center">{{ colonne.label }}</th>
                {% endif %}
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for ligne in datatable.lignes %}
            <tr>
            {% for valeur in ligne %}
                <td class="text-center">{{ valeur|safe }}</td>
            {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>

