<script>
$(function () {
    $('.datetimepickerwidget').datetimepicker({
        language: 'fr',
    });
});
</script>
<div class="input-group date">
    <div class="input-group-prepend">
        <i class="fa {% if icon %}{{ icon }}{% else %}fa-calendar{% endif %} input-group-text"></i>
    </div>
    <input type="text" class="{{ class }}" data-date-format="{{ format }}" name="{{ name }}" id="{{ id }}" value="{{ value|date:'d/m/Y H:i' }}" autocomplete="off" autocorrect="off" autocapitalize="off"/>
</div>