<script>

    // Données du calendrier (vacances et fériés), chargées en différé
    var calendrier_{{ id }} = {vacances: {}, feries: {}};

    function get_vacance_{{ id }}(date_iso) {
        for (var idvacance in calendrier_{{ id }}.vacances) {
            var vacance = calendrier_{{ id }}.vacances[idvacance];
            if ((date_iso >= vacance.date_debut) && (date_iso <= vacance.date_fin)) {
                return vacance;
            }
        }
        return null;
    }

    function est_ferie_{{ id }}(date) {
        return calendrier_{{ id }}.feries.hasOwnProperty(date.format('YYYY-MM-DD')) || calendrier_{{ id }}.feries.hasOwnProperty(date.format('0-MM-DD'));
    }

    $(document).ready(function() {
        $("#{{ id }}").daterangepicker({
            autoApply: {{ auto_application }},
            showDropdowns: false,
            alwaysShowCalendars: true,
            applyButtonClasses: "btn-primary",
            isCustomDate: function (date) {
                var classes = [];
                if (get_vacance_{{ id }}(date.format('YYYY-MM-DD'))) {
                    classes.push("calendrier_vacances");
                    if (!get_vacance_{{ id }}(date.clone().subtract(1, 'days').format('YYYY-MM-DD'))) {classes.push("vacances_debut")}
                    if (!get_vacance_{{ id }}(date.clone().add(1, 'days').format('YYYY-MM-DD'))) {classes.push("vacances_fin")}
                }
                if (est_ferie_{{ id }}(date)) {
                    classes.push("calendrier_feries");
                }
                return classes;
            },
            {% if afficher_periodes_predefinies %}
            ranges: {
                "Aujourd'hui": [moment(), moment()],
                "Cette semaine": [moment().startOf('isoweek'), moment().endOf('isoweek')],
                "Ce mois": [moment().startOf('month'), moment().endOf('month')],
                "Le mois dernier": [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')],
                "Cette année": [moment().startOf('year'), moment().endOf('year')],
                "L'année dernière": [moment().subtract(1, 'year').startOf('year'), moment().subtract(1, 'year').endOf('year')]
            },
            {% endif %}
            locale: {
                "format": "DD/MM/YYYY",
                "separator": " - ",
                "applyLabel": "Valider",
                "cancelLabel": "Annuler",
                "fromLabel": "De",
                "toLabel": "à",
                "weekLabel": "N°",
                "customRangeLabel": "Période personnalisée",
                "daysOfWeek": ["D", "L", "M", "M", "J", "V", "S"],
                "monthNames": [
                    "Janvier",
                    "Février",
                    "Mars",
                    "Avril",
                    "Mai",
                    "Juin",
                    "Juillet",
                    "Août",
                    "Septembre",
                    "Octobre",
                    "Novembre",
                    "Décembre"
                ],
                "firstDay": 1
                }
        });

        // Rendu enrichi : numéro du jour dans une pastille + infobulle vacances/férié
        var picker_{{ id }} = $("#{{ id }}").data('daterangepicker');
        var renderCalendar_origine_{{ id }} = picker_{{ id }}.renderCalendar;
        picker_{{ id }}.renderCalendar = function (side) {
            renderCalendar_origine_{{ id }}.call(this, side);
            var calendrier = this[side + 'Calendar'].calendar;
            this.container.find('.drp-calendar.' + side + ' tbody td').each(function () {
                var td = $(this);
                var position = /r(\d+)c(\d+)/.exec(td.attr('data-title'));
                if (!position) {return}
                var date = calendrier[position[1]][position[2]];
                var infos = [];
                var vacance = get_vacance_{{ id }}(date.format('YYYY-MM-DD'));
                if (vacance) {infos.push(vacance.nom ? vacance.nom : "Vacances")}
                if (est_ferie_{{ id }}(date)) {infos.push(calendrier_{{ id }}.feries[date.format('YYYY-MM-DD')] || calendrier_{{ id }}.feries[date.format('0-MM-DD')] || "Jour férié")}
                td.html('<span class="jour">' + td.text() + '</span>');
                if (infos.length) {td.attr('title', infos.join(" - "))}
            });
        };

        // Légende
        picker_{{ id }}.container.find('.drp-buttons').prepend(
            '<div class="drp-legende">' +
                '<span><i class="drp-pastille drp-pastille-vacances"></i>Vacances</span>' +
                '<span><i class="drp-pastille drp-pastille-feries"></i>Férié</span>' +
                '<span><i class="drp-pastille drp-pastille-today"></i>Aujourd\'hui</span>' +
            '</div>'
        );
        picker_{{ id }}.updateView();

        // Chargement des vacances et fériés
        {% include 'core/csrftoken.html' %}
        $.ajax({
            type: "POST",
            url: "{% url 'ajax_get_calendrier' %}",
            datatype: "json",
            success: function (data) {
                calendrier_{{ id }} = data;
                picker_{{ id }}.updateView();
            }
        });

        {% if afficher_check %}
            // On radio change
            $('#checkbox_{{ id }}').on('change', function(){
                if ($("#checkbox_{{ id }}").prop("checked")) {
                    $("#{{ id }}").prop('disabled', false);
                    $('input[name=checkbox_{{ name }}]').val("false");
                } else {
                    $("#{{ id }}").prop('disabled', true);
                    $('input[name=checkbox_{{ name }}]').val("true");
                };
            });
            $('#checkbox_{{ id }}').trigger('change');
        {% endif %}

        $("#{{ id }}").on("keydown", function(event) {
            if (event.keyCode === 13) {
                event.preventDefault(); // Empêche l'action par défaut (soumission du formulaire)
            }
        });

    });

</script>

{% include 'core/widgets/daterangepicker_styles.html' %}

<div class="input-group">
    <div class="input-group-prepend">
        {% if afficher_check %}
            <span class="input-group-text">
                <input name="checkbox_{{ name }}" type="text" value="{% if value %}true{% else %}false{% endif %}" hidden>
                <input id="checkbox_{{ id }}" type="checkbox" {% if value %}checked{% endif %}><span style="vertical-align: middle">{{ label_checkbox }}</span>
            </span>
        {% endif %}
        <i class="fa {% if icon %}{{ icon }}{% else %}fa-calendar{% endif %} input-group-text" aria-hidden="true"></i>
    </div>
    <input type="text" autocomplete="off" class="{{ class }}" name="{{ name }}" id="{{ id }}" value="{{ value }}" />
</div>