{% load static %}
{% load embed %}
{% load crispy_forms_tags %}

<div class="input-group">
    <div class="input-group-prepend">
        <span class="input-group-text">Profil de configuration</span>
    </div>

    <input type="hidden" id="{{ id }}_application_profil" name="application_profil" value="">

    <select id="{{ id }}" name="{{ name }}" class="form-control">
        {% for choix in choices %}
            <option value="{{ choix.0 }}" {% if value == choix.0 %}selected{% endif %}>{{ choix.1 }}</option>
        {% endfor %}
    </select>

    <div class="input-group-append">
        <button id="{{ id }}_appliquer_profil" title="Appliquer" class="btn btn-default" type="button">Appliquer</button>
        <button title="Menu" data-toggle="dropdown" class="btn btn-default" type="button"><i class="fa fa-ellipsis-v"></i></button>
        <ul class="dropdown-menu">
            <li class="dropdown-item"><a href="#" id="{{ id }}_ajouter_profil"><i class="fa fa-plus"></i> Créer un nouveau profil</a></li>
            <li class="dropdown-divider"></li>
            <li class="dropdown-item"><a href="#" id="{{ id }}_enregistrer_profil"><i class="fa fa-save"></i> Enregistrer le profil sélectionné</a></li>
            <li class="dropdown-divider"></li>
            <li class="dropdown-item"><a href="#" id="{{ id }}_modifier_profil"><i class="fa fa-pencil"></i> Modifier le profil sélectionné</a></li>
            <li class="dropdown-item"><a href="#" id="{{ id }}_supprimer_profil"><i class="fa fa-trash"></i> Supprimer le profil sélectionné</a></li>
        </ul>
    </div>

</div>


{# Modal de modification d'un profil #}
{% embed 'core/modal.html' %}
    {% block modal_id %}{{ id }}_modal_modification{% endblock %}
    {% block modal_titre %}{% endblock %}
    {% block modal_body %}
        <div id="modal_erreurs" class="text-red"></div>
        <input type="hidden" id="profil_id" value=""/>

        {% crispy form_profil %}

        <div class="buttonHolder">
            <div class="modal-footer" style="padding-bottom:0px;padding-right:0px;padding-left:0px;">
                <button type="submit" class='btn btn-primary' value="Valider" id="{{ id }}_bouton_valider"><i class="fa fa-check margin-r-5"></i>Valider</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class='fa fa-ban margin-r-5'></i>Annuler</button>
            </div>
        </div>

    {% endblock %}
{% endembed %}

<script>

    $(document).ready(function() {

        // using jQuery
        var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        // set csrf header
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        $('#{{ id }}_modal_modification').on('shown.bs.modal', function () {
            $("#id_profil_nom").focus();
        });

        $('#{{ id }}_modal_modification').on('keypress', function(e) {
            if (e.keyCode === 13) {
                e.preventDefault();
                $('#{{ id }}_bouton_valider').click();
            };
        });

        // Ajouter un profil
        $("#{{ id }}_ajouter_profil").on("click",function(event){
            $('#id_profil_nom').val("");
            $('#id_profil_utilisateurs').val("moi");
            $("#id_profil_utilisateurs").trigger('change');
            $('#profil_id').val("");
            $('#{{ id }}_modal_modification .modal-title').html("Ajouter un profil");
            $('#{{ id }}_modal_modification').modal('show');
        });

        // Modifier un profil
        $("#{{ id }}_modifier_profil").on("click",function(event){
            var selection = $('#{{ id }}').find('option:selected');
            if (selection.val() === '') {
                toastr.error("Vous n'avez sélectionné aucun profil à modifier");
                return false;
            }
            $('#profil_id').val(selection.val());
            $('#{{ id }}_modal_modification .modal-title').html("Modifier un profil");
            appel_ajax("ouvrir", selection.val(), null);
        });

        // Supprimer un profil
        $("#{{ id }}_supprimer_profil").on("click",function(event){
            var selection = $('#{{ id }}').find('option:selected');
            if (selection.val() === '') {
                toastr.error("Vous n'avez sélectionné aucun profil à supprimer");
                return false;
            }
            appel_ajax("supprimer", selection.val(), null);
        });

        // Enregistrer le profil
        $("#{{ id }}_enregistrer_profil").on("click",function(event){
            var selection = $('#{{ id }}').find('option:selected');
            if (selection.val() === '') {
                toastr.error("Vous devez d'abord sélectionner un profil dans la liste ou en créer un nouveau");
                return false;
            }
            appel_ajax("enregistrer", selection.val(), null);
        });

        // Appliquer le profil
        $("#{{ id }}_appliquer_profil").on("click",function(event){
            var selection = $('#{{ id }}').find('option:selected');
            if (selection.val() === '') {
                toastr.error("Vous devez d'abord sélectionner le profil à appliquer dans la liste");
                return false;
            }
            $("#{{ id }}_application_profil").val("oui");
            appliquer_profil(selection.val());
        });

        // Modal : Validation
        $("#{{ id }}_bouton_valider").on('click', function(e) {
            e.preventDefault();
            var action = null;
            id = $('#profil_id').val();
            if ($('#id_profil_nom').val() === '') {
                toastr.error("Veuillez saisir un nom valide");
                return false;
            }
            if (($('#id_profil_utilisateurs').val() === 'structure' && ($('#id_profil_structure').val() === ''))) {
                toastr.error("Veuillez sélectionner une structure dans la liste proposée");
                return false;
            }
            if (id === '') {
                action = "ajouter";
            } else {
                action = "modifier";
            }
            appel_ajax(action, id);
        });

        function appel_ajax(action="ajouter", id=null) {
            var donnees_profil = {
                profil_nom: $('#id_profil_nom').val(),
                profil_utilisateurs: $('#id_profil_utilisateurs').val(),
                profil_structure: $('#id_profil_structure').val(),
            };
            var donnees = get_parametres_profil();
            $.ajax({
                type: "POST",
                url: "{% url "ajax_modifier_profil_configuration" %}",
                data: {
                    action: action,
                    categorie: '{{ categorie }}',
                    module: '{{ module }}',
                    id: id,
                    donnees_profil: JSON.stringify(donnees_profil),
                    donnees: donnees,
                },
                datatype: "json",
                success:function(data){
                    if (data.action === "ouvrir") {
                        $('#id_profil_nom').val(data.profil_nom);
                        $('#id_profil_utilisateurs').val(data.profil_utilisateurs);
                        $("#id_profil_utilisateurs").trigger('change');
                        $('#id_profil_structure').val(data.profil_structure);
                        $('#{{ id }}_modal_modification').modal('show');
                    };
                    if (data.action === "ajouter") {
                        $("#{{ id }}").append("<option value='" + data.id + "'>" + data.profil_nom + "</option>");
                        $("#{{ id }}").val(data.id);
                        toastr.success("Le nouveau profil a bien été créé")
                    };
                    if (data.action === "modifier") {
                        $('#{{ id }}').find('option:selected').text(data.profil_nom);
                        $("#{{ id }}").trigger('change');
                        toastr.success("Le profil a bien été modifié")
                    };
                    if (data.action === "supprimer") {
                        toastr.success("Le profil a bien été supprimé")
                        $("#{{ id }} option[value='" + data.id + "']").remove();
                    };
                    if (data.action === "enregistrer") {
                        toastr.success("Les paramètres associés au profil ont bien été enregistrés")
                    };
                    $('#{{ id }}_modal_modification').modal('hide');
                },
                error: function(data) {
                    toastr.error(data.responseJSON.erreur);
                }
            })
        };

    });

</script>
