{% load static %}
{% load embed %}
{% load crispy_forms_tags %}

<style>
    .input-group-nowrap {
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }
</style>

<div class="input-group input-group-nowrap">
    {% if icon %}
        <div class="input-group-prepend">
            <i class="fa {{ icon }} input-group-text"></i>
        </div>
    {% endif %}
    <select id="{{ id }}" name="{{ name }}" data-minimum-input-length="0" data-width="100%" data-allow-clear="true" lang="fr" class="select2widget form-control django-select2" {% if disabled %}disabled{% endif %} {% if required %}required{% endif %}>
        {% for choix in choices %}
            <option value="{{ choix.0 }}" {% if value == choix.0 %}selected{% endif %}>{{ choix.1 }}</option>
        {% endfor %}
    </select>
    {% if not disabled and afficher_bouton_ajouter %}
        <div class="input-group-append">
            <button id="{{ id }}_bouton_ajouter" title="{{ textes.ajouter }}" class="ajouter_element btn btn-success input-group-text" type="button"><i class="fa fa-plus"></i></button>
        </div>
    {% endif %}
</div>

<script type="text/javascript" src="{% static 'lib/jquery-serialize-object/jquery.serialize-object.min.js' %}"></script>

<script>

    {% include 'core/csrftoken.html' %}

    $(document).ready(function() {
        $('#{{ id }}_modal_ajout').on('shown.bs.modal', function() {
            $("#{{ id }}_modal_ajout input").first().focus();
        });

        // Ajouter un élément
        $(".ajouter_element").on("click", function(event) {
            bootbox.dialog({
                title: "{{ textes.ajouter }}",
                message: "Souhaitez-vous vraiment {{ textes.ajouter|lower }} à la liste déroulante ?<br><small>Merci de bien vérifier que cette proposition n'existe pas déjà.</small>",
                buttons: {
                    ok: {
                        label: "<i class='fa fa-check'></i> Oui",
                        className: 'btn-primary',
                        callback: function(){
                            $("#{{ id }}_modal_ajout input, #{{ id }}_modal_ajout textarea").val("");
                            $('#{{ id }}_modal_ajout .modal-title').html('{{ textes.ajouter }}');
                            $('#{{ id }}_modal_ajout').modal('show');
                        }
                    },
                    cancel: {
                        label: "<i class='fa fa-ban'></i> Non",
                        className: 'btn-danger',
                    }
                }
            });
        });

        // Modal : Validation
        $("#{{ id }}_bouton_valider").on('click', function(e) {
            e.preventDefault();
            $.ajax({
                type: "POST",
                url: "{% url url_ajax %}",
                data: {
                    valeurs: JSON.stringify($('#{{ id_form }}').serializeObject()),
                },
                datatype: "json",
                success: function(data) {
                    var newOption = new Option(data.nom, data.id, false, false);
                    $("#{{ id }}").append(newOption).trigger('change');
                    $("#{{ id }}").val(data.id);
                    $('#{{ id }}_modal_ajout').modal('hide');
                },
                error: function(data) {
                    toastr.error(data.responseJSON.erreur);
                }
            })
        });

    });

</script>
