{% load static %}

{% block styles %}

<style>
    .div_table_activites {
        display: inline-block;
        height: 180px;
        overflow-y: scroll;
        width: 100%;
        border: solid 1px #e5e5e5;
    }
    .table_activites th, td{
        /*font-size: 12px;*/
        padding: 5px !important;
    }
    .table_activites th {
        background-color: #e0e0e0;
        font-weight: bold;
    }
    .boutons_radios {
        margin-bottom: 8px;
        margin-left: 5px;
    }
    .masquer {
        display: none;
    }
    #table_groupes th, td {
        padding: 5px;
    }
    .obsolete {
        display: none;
    }
</style>

{% endblock styles %}

<div class="boutons_radios">
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="choix_activites" id="radio_choix_groupes_activites_{{ id }}" title="Sélectionner des groupes d'activités" value="groupes_activites" checked>
        <label class="form-check-label" for="radio_choix_groupes_activites_{{ id }}" >Groupes d'activités</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="choix_activites" id="radio_choix_activites_{{ id }}" title="Sélectionner des activités" value="activites" {% if selection.type == "activites" %}checked{% endif %}>
        <label class="form-check-label" for="radio_choix_activites_{{ id }}">Activités</label>
    </div>
    {% if afficher_groupes %}
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="choix_activites" id="radio_choix_groupes_{{ id }}" title="Sélectionner des groupes" value="groupes" {% if selection.type == "groupes" %}checked{% endif %}>
        <label class="form-check-label" for="radio_choix_groupes_{{ id }}">Groupes</label>
    </div>
    {% endif %}
    <div id="div_activites_obsoletes" class="pull-right masquer">
        <span class="custom-switch custom-switch-on-primary" title="Afficher les activités obsolètes">
            <input type="checkbox" class="custom-control-input case_switch" id="switch_activites_obsoletes">
            <label class="custom-control-label" for="switch_activites_obsoletes"></label>
        </span>
    </div>
</div>

<div id="div_table_groupes_activites_{{ id }}" class="div_table_activites {% if selection.type != "groupes_activites" %}masquer{% endif %}">
    <table id="table_groupes_activites_{{ id }}" class="table table-bordered table_activites">
        {% for groupe in groupes_activites %}
            <tr>
                <td style="padding: 5px !important;">
                    <div class="form-inline">
                        <input name="liste_groupes_activites" type="checkbox" value="{{ groupe.pk }}" {% if selection.type == "groupes_activites" and groupe.pk in selection.ids %}checked{% endif %}>
                        <span style="margin-left: 5px;margin-right:20px;">{{ groupe.nom }}</span>
                    </div>
                </td>
            </tr>
        {% endfor %}
    </table>
</div>

<div id="div_table_activites_{{ id }}" class="div_table_activites {% if selection.type != "activites" %}masquer{% endif %}">
    <table id="table_activites_{{ id }}" class="table table-bordered table_activites">
        {% for activite in activites %}
            <tr class="{% if not activite.Is_active %}obsolete{% endif %}">
                <td style="padding: 5px !important;">
                    <div class="form-inline">
                        <input name="liste_activites" type="checkbox" value="{{ activite.pk }}" {% if selection.type == "activites" and activite.pk in selection.ids %}checked{% endif %}>
                        <span style="margin-left: 5px;margin-right:20px;">{{ activite.nom }}</span>
                    </div>
                </td>
                {% if afficher_colonne_detail %}
                    <td style="padding: 5px !important;">
                        <span style="font-size: 12px; color: #cbcbcb;">{{ activite.Get_validite_str }}</span>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
</div>

{% if afficher_groupes %}

    <div id="div_table_groupes_{{ id }}" class="div_table_activites {% if selection.type != "groupes" %}masquer{% endif %}">
        <table id="table_groupes_{{ id }}" class="table table-bordered table_activites">
            {% for activite in activites %}
                {% for groupe in groupes|get_item:activite %}
                    <tr class="{% if not groupe.activite.Is_active %}obsolete{% endif %}">
                        <td>
                            <div class="form-inline">
                                <input name="liste_groupes" type="checkbox" value="{{ groupe.pk }}" {% if selection.type == "groupes" and groupe.pk in selection.ids %}checked{% endif %}>
                                <span style="margin-left: 5px;margin-right:20px;">{{ groupe.nom }}</span>
                            </div>
                        </td>
                        {% if afficher_colonne_detail %}
                            <td>
                                <span style="font-size: 12px; color: #cbcbcb;">{{ activite.nom }}</span>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            {% endfor %}
        </table>
    </div>

{% endif %}

<script>

$(document).ready(function() {

    // On radio change
    $('input[name=choix_activites]').on('change', function(){
        $("#div_table_groupes_activites_{{ id }}").addClass("masquer");
        $("#div_table_activites_{{ id }}").addClass("masquer");
        $("#div_activites_obsoletes").hide();
        {% if afficher_groupes %}
            $("#div_table_groupes_{{ id }}").addClass("masquer");
        {% endif %}
        if ($("#radio_choix_groupes_activites_{{ id }}").prop("checked")) {
            $("#div_table_groupes_activites_{{ id }}").removeClass("masquer");
        };
        if ($("#radio_choix_activites_{{ id }}").prop("checked")) {
            $("#div_table_activites_{{ id }}").removeClass("masquer");
            $("#div_activites_obsoletes").show();
        };
            {% if afficher_groupes %}
            if ($("#radio_choix_groupes_{{ id }}").prop("checked")) {
                $("#div_table_groupes_{{ id }}").removeClass("masquer");
                $("#div_activites_obsoletes").show();
            };
        {% endif %}
    });

    $("#switch_activites_obsoletes").on("change", function(e) {
        $(".obsolete").toggle();
    })

    $("input[name=choix_activites]").trigger("change");

});

</script>