{% load static %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.1.60/inputmask/jquery.inputmask.js"></script>

<input type="text" class="{{ class }}" data-date-format="{{ format }}" name="{{ name }}" id="{{ id }}" value="{{ value }}" {% if disabled %}disabled="disabled"{% endif %}/>

{% if TELEPHONE_FORMAT_FR %}
    <script>
        $(function () {
            $('#{{ id }}').inputmask('99.99.99.99.99.', { 'placeholder': '__.__.__.__.__.' })
        });
    </script>
{% endif %}
