{% load static %}

<style type="text/css" media="screen">
    .ui-autocomplete {
      position: absolute;
      z-index: 2150000000 !important;
      cursor: default;
      top: 100%;
      left: 0;
      z-index: 1000;
      float: left;
      display: none;
      min-width: 160px;
      _width: 160px;
      padding: 10px 10px 10px 10px;
      margin: 2px 0 0 0;
      list-style: none;
      background-color: #ffffff;
      border-color: #ccc;
      border-color: rgba(0, 0, 0, 0.2);
      border-style: solid;
      border-width: 1px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;is
      -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
      -webkit-background-clip: padding-box;
      -moz-background-clip: padding;
      background-clip: padding-box;
      *border-right-width: 2px;
      *border-bottom-width: 2px;

      .ui-menu-item > a.ui-corner-all {
        display: block;
        padding: 3px 15px;
        clear: both;
        font-weight: normal;
        line-height: 18px;
        color: #555555;
        white-space: nowrap;

        &.ui-state-hover, &.ui-state-active {
          color: #ffffff;
          text-decoration: none;
          background-color: #0088cc;
          border-radius: 0px;
          -webkit-border-radius: 0px;
          -moz-border-radius: 0px;
          background-image: none;
        }
      }
    }
</style>


<input type="text" autocomplete="off" class="{{ class }}" data-date-format="{{ format }}" name="{{ name }}" id="{{ id }}" value="{{ value }}" {% if disabled %}disabled{% endif %}/>

<script>

    $(function () {
        $("#{{ id }}").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "https://api-adresse.data.gouv.fr/search/?city="+$("input[id={{ id }}]").val()+"&type=municipality&limit=7",
                    data: { q: request.term },
                    dataType: "json",
                    success: function (data) {
                        var cities = [];
                        response($.map(data.features, function (item) {
                            // Ici on est obligé d'ajouter les villes dans un array pour ne pas avoir plusieurs fois la même
                            if ($.inArray(item.properties.postcode, cities) == -1) {
                                cities.push(item.properties.postcode);
                                var nom_ville = replaceSpec(item.properties.city).toUpperCase();
                                return { label: item.properties.postcode + " - " + nom_ville,
                                         postcode: item.properties.postcode,
                                         value: nom_ville
                                };
                            }
                        }));
                    }
                });
            },
            // On remplit aussi le CP
            select: function(event, ui) {
                $('#{{ id_codepostal }}').val(ui.item.postcode);
            }
        });
});
</script>
