{% load static %}
{% load embed %}

<style>
    .alerte {
        background: {{ couleur_fond|default:"#e4e4e4" }};
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 0.25rem;
    }
    .dark-mode .alerte {
        background: #6c757d;
    }
    .alerte ul {
        margin-bottom: 0px;
    }
    .alerte li {
        display: inline;
        white-space: nowrap;
        margin-right: 8px;
    }
</style>

{% if items or titre_uniquement %}
    <div class="alerte">
        <b>{{ titre }}</b>
        <ul class="list-unstyled">
            {% for item in items %}
                <li>
                    {% if item.valide %}
                        <i class='fa fa-check text-green'></i>
                    {% else %}
                        <i class='fa fa-close text-red'></i>
                    {% endif %}
                    {% if item.href %}
                        <a href="{{ item.href }}" {% if item.titre %}title="{{ item.titre }}"{% endif %}>{{ item.label }}</a>
                    {% else %}
                        {{ item.label }}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
