{% extends "core/box_in_page.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load embed %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'lib/jquery-serialize-object/jquery.serialize-object.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/bootbox/bootbox.min.js' %}"></script>
{% endblock scripts %}

{% block contenu_page %}
    <div class="row">

        <div class="col-md-12 col-sm-12 col-xs-12">
            {% embed 'core/box.html' %}
                {% block box_titre %}{{ box_titre }}{% endblock %}
                {% block box_introduction %}{{ box_introduction|safe }}{% endblock %}
                {% block box_contenu %}

                    {# Options #}
                    {% crispy form_options %}

                    {# Liste des rattachements #}
                    {% embed 'core/crud/liste.html' %}
                    {% endembed %}

                {% endblock box_contenu %}
                {% block box_conclusion %}{{ box_conclusion }}{% endblock %}
            {% endembed %}
        </div>

        {# Insertion des modals #}
        {% include 'core/modal_pdf.html' %}

        <script>

            // Générer le PDF
            function generer_pdf() {
                var box = bootbox.dialog({
                        message: "<p class='text-center mb-0'><i class='fa fa-spin fa-cog'></i> <b>Génération du PDF en cours</b><br><br>Veuillez patienter...</p>",
                        closeButton: false
                    });
                $.ajax({
                    type: "POST",
                    url: "{% url 'ajax_edition_renseignements_generer_pdf' %}",
                    data: {
                        form_options: JSON.stringify($("#form_parametres").serializeObject()),
                        rattachements: JSON.stringify(get_coches()),
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                    datatype: "json",
                    success: function(data){
                        bootbox.hideAll();
                        charge_pdf(data);
                    },
                    error: function(data) {
                        bootbox.hideAll();
                        toastr.error(data.responseJSON.erreur);
                    }
                })
            };

        </script>

    </div>

{% endblock contenu_page %}
