{% extends "core/page.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load embed %}


{% block scripts %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'lib/jquery-serialize-object/jquery.serialize-object.min.js' %}"></script>
{% endblock scripts %}



{% block contenu_page %}

    <div class="row">
        <div class="col-md-3" >

            <form id="form_general" action="{% if categorie == "famille" %}{% url 'etiquettes_familles' %}{% else %}{% url 'etiquettes_individus' %}{% endif %}" class="uniForm" method="post">

                <!-- Catégorie -->
                <div class="card card-default">
                    <div class="card-header with-border">
                        <h3 class="card-title"><i class="fa fa-gear margin-r-5"></i> Catégorie</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Réduire"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="card-body">
                        {% crispy form_categorie %}
                    </div>
                </div>

                <!-- Paramètres -->
                <div class="card card-default">
                    <div class="card-header with-border">
                        <h3 class="card-title"><i class="fa fa-gear margin-r-5"></i> Paramètres</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Réduire"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="card-body">
                        {% crispy form_parametres %}
                    </div>
                </div>

            </form>

        </div>

        <div class="col-md-9">

            <div class="card card-default">
                <div class="card-header with-border">
                    <h3 class="card-title"><i class="fa fa-caret-square-o-right margin-r-5"></i> Sélection des {{ categorie }}s</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Réduire"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="card-body">

                    {# Boutons de commandes #}
                    <div class="buttonHolder">
                        <button class="btn btn-primary" onclick="impression_pdf()" title="Aperçu PDF"><i class='fa fa-file-pdf-o margin-r-5'></i>Aperçu PDF</button>
                        <a class="btn btn-danger" href="{% url 'individus_toc' %}"><i class='fa fa-ban margin-r-5'></i>Annuler</a>
                    </div>

                    {% embed 'core/crud/liste.html' %}
                    {% endembed %}

                </div>
            </div>

        </div>
    </div>

    {# Insertion des modals #}
    {% include 'core/modal_pdf.html' %}


    <script>

        // Impression du PDF
        function impression_pdf() {
            $.ajax({
                type: "POST",
                url: "{% url 'ajax_etiquettes_impression_pdf' %}",
                data: {
                    form_general: JSON.stringify($("#form_general").serializeObject()),
                    coches: JSON.stringify(get_coches()),
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                },
                datatype: "json",
                success: function(data){
                    charge_pdf(data);
                },
                error: function(data) {
                    toastr.error(data.responseJSON.erreur);
                }
            })
        };

    </script>

{% endblock contenu_page %}
