{% extends "core/box_in_page.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load embed %}

{% block contenu_page %}
{% embed 'core/box.html' %}
    {% block box_theme %}card-outline card-lightblue{% endblock %}
    {% block box_titre %}{{ box_titre }}{% endblock %}
    {% block box_introduction %}{{ box_introduction|safe }}{% endblock %}

    {% block box_contenu %}
        {% crispy form %}
    {% endblock %}

{% endembed %}

    {% include 'core/modal_pdf.html' %}

    <script>

        // Générer le PDF
        function generer_pdf() {
            $.ajax({
                type: "POST",
                url: "{% url 'ajax_liste_anniversaires_generer_pdf' %}",
                data: $("#form_parametres").serialize(),
                datatype: "json",
                success: function(data){
                    charge_pdf(data);
                },
                error: function(data) {
                    toastr.error(data.responseJSON.erreur);
                }
            })
        };

    </script>

{% endblock contenu_page %}