{% extends "core/box_in_page.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load embed %}


{% block contenu_page %}
    <div class="row">

        <div class="col-md-12 col-sm-12 col-xs-12">
            {% embed 'core/box.html' %}
                {% block box_titre %}{{ box_titre }}{% endblock %}
                {% block box_introduction %}{{ box_introduction|safe }}{% endblock %}
                {% block box_contenu %}

                    {# Boutons de commandes #}
                    <div class="buttonHolder">
                        <button class="btn btn-primary" onclick="generer_tiers_solidaires()" title="Générer les tiers solidaires manquants"><i class="fa fa-bolt margin-r-5"></i>Générer les tiers solidaires manquants</button>
                    </div>

                    {# Liste des titulaires hélios #}
                    {% embed 'core/crud/liste.html' %}
                    {% endembed %}

                {% endblock box_contenu %}
                {% block box_conclusion %}{{ box_conclusion }}{% endblock %}
            {% endembed %}
        </div>

        {# Dialogbox Réinitialisation mdp #}
        {% embed "core/dialogbox_confirm.html" with id="generer_tiers_solidaires" titre="Générer les tiers solidaires manquants" message="Confirmez-vous la génération des tiers solidaires manquants ?" label_bouton="Générer" url_exec="ajax_liste_titulaires_helios_generer_tiers_solidaires" %}{% endembed %}

    </div>

{% endblock contenu_page %}

