{% extends "core/page.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load embed %}

{% block page_titre %}{{ page_titre }}{% endblock page_titre %}

{% block styles %}
    {{ block.super }}

    <link rel="stylesheet" href="{% static 'css/menu_chips.css' %}">
    <link rel="stylesheet" href="{% static 'css/detail_fiche.css' %}">

    <style>
        /* ============== Thème ============== */
        .card-informations {
            background-color: {% if individu.Get_sexe == "F" %}#FBEAF0{% else %}#E6F1FB{% endif %} !important;
            border: none;
        }
    </style>

{% endblock styles %}

{% block contenu_page %}

    <div class="row">
        <div class="col-md-3">

            <a type='button' title="Retour à la fiche famille" class='btn btn-block btn-default' style="margin-bottom: 20px;background-color: #7B9A5C;color: #fff" href="{% url 'famille_resume' idfamille=idfamille %}">
                <i class="fa fa-arrow-circle-o-left"></i> Retour à la fiche famille
            </a>

            <div class="card card-widget widget-user-2 card-chips {% if individu.Get_sexe == "F" %}mauve{% else %}bleu{% endif %}">

                {# Nom de l'individu #}
                <div class="widget-user-header">
                    <h3 class="widget-user-username">{{ individu.nom }} {% if individu.prenom %}{{ individu.prenom }}{% endif %}</h3>
                </div>

                {# Menu de la fiche individuelle #}
                <div class="card-footer p-0">
                    <div class="liste-chips">
                        {% for onglet in liste_onglets %}
                            <a class="{% if onglet_actif == onglet.code %}item_actif{% endif %}" href="{% url onglet.url idfamille=idfamille idindividu=idindividu %}">
                                <i class="fa {{ onglet.icone }} fa-fw"></i> {{ onglet.label }}
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <!-- Box PHOTO -->
            {% if individu.photo %}
                <div class="card card-informations d-none d-sm-block">
                    <div class="card-body">
                        {% if individu.photo %}<center><img class="img-fluid img-thumbnail rounded-circle" src="{{ MEDIA_URL }}{{ individu.photo }}"></center>{% endif %}
                    </div>
                </div>
            {% endif %}

            {# Box Informations sur l'individu #}
            <div class="card card-informations d-none d-sm-block">
                <div class="card-body">

                    <div class="details-fiche">
                        {% if individu.date_naiss %}
                            <div class="detail-item detail-pleine-largeur">
                                <i class="fa fa-birthday-cake"></i>
                                <div>
                                    <p class="detail-label">Naissance</p>
                                    <p class="detail-valeur">{{ individu.date_naiss }} ({{ individu.Get_age }} ans)</p>
                                </div>
                            </div>
                        {% endif %}
                        <div class="detail-item detail-pleine-largeur">
                            <i class="fa fa-map-marker"></i>
                            <div>
                                <p class="detail-label">Adresse</p>
                                <p class="detail-valeur">{{ individu.Get_adresse_complete }}</p>
                            </div>
                        </div>
                        <div class="details-fiche-ligne">
                            <div class="detail-item">
                                <i class="fa fa-calendar-check-o"></i>
                                <div>
                                    <p class="detail-label">Créée le</p>
                                    <p class="detail-valeur">{{ individu.date_creation|date:"j F Y" }}</p>
                                </div>
                            </div>
                            <div class="detail-item">
                                <i class="fa fa-hashtag"></i>
                                <div>
                                    <p class="detail-label">ID Individu</p>
                                    <p class="detail-valeur">{{ individu.pk }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        {% block detail_individu %}
            <div class="col-md-9">
                {% embed 'core/box.html' %}
                    {% block box_theme %}card-outline card-lightblue{% endblock %}
                    {% block box_titre %}{{ box_titre }}{% endblock %}
                    {% block box_introduction %}{{ box_introduction|safe }}{% endblock %}
                    {% block box_contenu %}
                    {% endblock %}
                {% endembed %}
            </div>
        {% endblock %}

    </div>

{% endblock contenu_page %}

{% block scripts %}
    {{ block.super }}
{% endblock scripts %}
