{% extends "fiche_individu/individu.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load embed %}



{% block detail_individu %}
    <div class="col-md-9">

        {# Caractéristiques #}
        {% embed 'core/box.html' %}
            {% block box_theme %}card-outline card-lightblue{% endblock %}
            {% block box_titre %}Caractéristiques{% endblock %}
            {% block box_contenu %}
                <dl class="row caracteristiques">
                    <dt class="col-sm-4">Nom</dt><dd class="col-sm-8">{{ individu.nom }}</dd>
                    {% if individu.prenom %}<dt class="col-sm-4">Prénom</dt><dd class="col-sm-8">{{ individu.prenom|default:"" }}</dd>{% endif %}
                    {% if individu.date_naiss %}<dt class="col-sm-4">Date de naissance</dt><dd class="col-sm-8">{{ individu.date_naiss }} ({{ individu.Get_age }} ans)</dd>{% endif %}
                    {% if individu.Get_adresse_complete %}<dt class="col-sm-4">Adresse</dt><dd class="col-sm-8">{{ individu.Get_adresse_complete }}</dd>{% endif %}
                    <dt class="col-sm-4">Date de création</dt><dd class="col-sm-8">{{ individu.date_creation|date:"j F Y" }}</dd>
                    <dt class="col-sm-4">ID Individu</dt><dd class="col-sm-8">{{ individu.pk }}</dd>
                    {% if individu.deces %}
                        <dt class="col-sm-4">Décès</dt><dd class="col-sm-8 text-bold text-red">{% if individu.annee_deces %}Individu décédé en {{ individu.annee_deces }}{% else %}Individu décédé{% endif %}</dd>
                    {% endif %}
                    {% if inscriptions %}
                        <dt class="col-sm-4">Inscriptions actuelles</dt><dd class="col-sm-8">{{ inscriptions }}</dd>
                    {% endif %}
                </dl>
            {% endblock %}
        {% endembed %}

        {# Rubriques #}
{% comment %}
        {% embed 'core/box.html' %}
            {% block box_theme %}card-outline card-lightblue{% endblock %}
            {% block box_titre %}Rubriques{% endblock %}
            {% block box_contenu %}
                {% for onglet in liste_onglets|slice:"1:" %}
                    <a class="btn btn-app" href="{% url onglet.url idfamille=idfamille idindividu=idindividu %}" style="font-size: 12px !important;">
                        <i class="fa {{ onglet.icone }}"></i> {{ onglet.label }}
                    </a>
                {% endfor %}
            {% endblock %}
        {% endembed %}
{% endcomment %}

{% comment %}
        {# Alertes #}
        {% embed 'core/box.html' %}
            {% block box_theme %}card-outline card-lightblue{% endblock %}
            {% block box_titre %}Alertes{% endblock %}
            {% block box_contenu %}
                Alertes de l'individu...
            {% endblock %}
        {% endembed %}
{% endcomment %}

        {# Notes #}
        <style>
            .todo-list > li .text {
                display: inline;
                margin-left: 0px;
                font-weight: 400;
            }
        </style>
        {% embed 'core/box.html' %}
            {% block box_theme %}card-outline card-lightblue{% endblock %}
            {% block box_titre %}Notes{% endblock %}
            {% block box_outils %}
                <a type="button" class="btn btn-success btn-xs" title="Ajouter une note" style="margin-right: 10px;" href="{% url 'individu_notes_ajouter' idfamille=idfamille idindividu=idindividu %}"><i class="fa fa-plus"></i> Ajouter</a>
            {% endblock %}
            {% block card_body_classe %}p-0{% endblock %}
            {% block box_contenu %}
                    {% embed "outils/notes.html" with mode_notes='individu' %}
                    {% endembed %}
            {% endblock %}
        {% endembed %}

    </div>
{% endblock %}


