{% extends "core/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load embed %}

{% block page_titre %}{{ page_titre }}{% endblock page_titre %}


{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'lib/chartjs/Chart.min.css' %}">
    <style>
    .info-box-text {
        font-weight: bold;
    }
    .info-box-number {
        font-size: 12px;
        font-weight: 400 !important;
    }
    .info-box .info-box-icon {
        width: 80px;
    }
    </style>
{% endblock styles %}

{% block page %}

    <div class="content-wrapper">

        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">
                            Tableau de bord
                        </h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="{% url 'accueil' %}"><i class="fa fa-home"></i> Accueil</a></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <section class="content">
            <div class="container-fluid">

                {% block messages %}
                    {% include 'core/messages.html' %}
                {% endblock %}

                {% block contenu_page %}

                    {# Nouvelle version disponible #}
                    {% if super_utilisateur and nouvelle_version %}
                        <div class="alert alert-warning">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                            <h5><i class="icon fa fa-download"></i> Mise à jour</h5>
                            Une nouvelle version de Noethysweb est disponible. <a href='{% url 'update' %}'>Cliquez ici pour l'installer maintenant.</a>
                        </div>
                    {% endif %}

                    {# Si aucune structure associée à cet utilisateur #}
                    {% if not request.user.structures.all %}
                        <div class="alert alert-warning">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                            <h5><i class="icon fa fa-exclamation-triangle"></i> Droits de l'utilisateur</h5>
                            Aucune structure n'est associée à votre profil. Demandez à l'administrateur de modifier votre compte utilisateur. A défaut, il vous sera impossible d'accéder aux activités.
                        </div>
                    {% endif %}

                    {# Mode démo #}
                    {% if mode_demo %}
                        <div class="card card-outline card-warning">
                            <div class="ribbon-wrapper ribbon-lg">
                                <div class="ribbon bg-warning">Démo</div>
                            </div>
                            <div class="card-header">
                                <h3 class="card-title">Version démo de Noethysweb</h3>
                            </div>
                            <div class="card-body">
                                Vous utilisez actuellement une version de démonstration de Noethysweb destinée à découvrir les fonctionnalités de l'application et à débusquer les bugs restants. Remarques :
                                <ul>
                                    <li>Seules les fonctionnalités de base sont actuellement disponibles ; de nouvelles fonctionnalités seront développées une fois la base stabilisée.</li>
                                    <li>Toutes les données de ce fichier sont fictives. Ne saisissez aucune donnée personnelle, elle serait visible par les autres testeurs.</li>
                                    <li>Merci de signaler les bugs rencontrés et suggestions sur le portail <a href="https://assisthys.noethysweb.com/" target="_blank">Assisthys</a>.</li>
                                </ul>
                            </div>
                        </div>
                    {% endif %}

                    {# Intégration des widgets #}
                    {% for ligne in configuration_accueil %}
                        <div class="row">
                            {% for colonne in ligne %}
                                <div class="col-md-{{ colonne.0 }}">
                                {% for item in colonne|slice:"1:" %}
                                    {% with nom_template="core/accueil/widgets/"|add:item|add:".html" %}
                                        {% if nom_template|template_exists %}
                                            {% include nom_template %}
                                        {% endif %}
                                    {% endwith %}
                                {% endfor %}
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}

                    <div class="text-left pb-2"><a href="{% url 'accueil_configuration' %}"><i class="fa fa-gear margin-r-5"></i>Configurer le tableau de bord</a></div>

                {% endblock contenu_page %}
            </div>
        </section>

    </div>
{% endblock page %}


{% block scripts %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'lib/jquery-slimscroll/jquery.slimscroll.min.js' %}"></script>

    <script>
        $(document).ready(function() {
            // Active la slimscroll sur les petits cadres
            $('.info-box-number').slimScroll({
                height: '55px'
            });
        });
    </script>

{% endblock scripts %}
