{% extends "core/page.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load embed %}


{% block contenu_page %}

    <div class="row">
        <div class="col-md-3" >

            <!-- Paramètres -->
            <div class="card card-default">
                <div class="card-header with-border">
                    <h3 class="card-title"><i class="fa fa-gear margin-r-5"></i> Paramètres</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Réduire"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="card-body">
                    <button type="submit" form="form_parametres" class="btn btn-primary btn-block mb-3" name="type_submit" title="Actualiser les résultats"><i class="fa fa-refresh margin-r-5"></i> Actualiser les résultats</button>
                    {% crispy form_parametres %}
                </div>
            </div>

        </div>

        <div class="col-md-9">

            <div class="card card-default">
                <div class="card-header with-border">
                    <h3 class="card-title"><i class="fa fa-caret-square-o-right margin-r-5"></i> Résultats</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Réduire"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="card-body">

                    <script>
                        var contenu_table = JSON.parse('{{ liste_lignes|escapejs }}');
                    </script>

                    <style>
                        .case_regroupement {
                            background-color: #efefef;
                            font-weight: bold;
                        }
                    </style>

                    <table id="table" class="table-sm" data-tree-show-field='label'>
                        <thead>
                            <tr>
                                <th data-field="label" data-halign="center" data-align="left" data-cell-style="formate_case">Catégorie budgétaire</th>
                                <th data-field="realise" data-halign="center" data-align="right" data-formatter="formate_montant" data-cell-style="formate_case">Réalisé</th>
                                <th data-field="budgete" data-halign="center" data-align="right" data-formatter="formate_montant" data-cell-style="formate_case">Budgété</th>
                                <th data-field="pourcentage" data-halign="center" data-align="right" data-formatter="formate_pourcentage" data-cell-style="formate_case">%</th>
                                <th data-field="ecart" data-halign="center" data-align="right" data-formatter="formate_montant_avec_signe" data-cell-style="formate_case">Ecart</th>
                            </tr>
                        </thead>
                    </table>

                    <script>
                        function formate_case(value, row, index) {
                            if (row.regroupement === true) {
                                return {classes: 'case_regroupement'};
                            };
                            return {};
                        };

                        function formate_montant(value, row, index) {
                            try {
                                return value.toFixed(2);
                            } catch (error) {
                                return ""
                            };
                        };

                        function formate_montant_avec_signe(value, row, index) {
                            var signe = value > 0 ? "+" : "";
                            try {
                                return signe + value.toFixed(2);
                            } catch (error) {
                                return ""
                            };
                        };

                        function formate_pourcentage(value, row, index) {
                            try {
                                return value.toFixed(1) + " %";
                            } catch (error) {
                                return ""
                            };
                        };

                    </script>

                </div>
            </div>

        </div>
    </div>

    {% include 'core/widgets/bootstrap-table.html' %}

{% endblock contenu_page %}
