{% extends "portail/page.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load static %}
{% load embed %}


{% block contenu_page %}

    <style>
        {# Désactive l'agrandissement de l'icône car ça fait clignoter certains articles #}
        .small-box:hover .icon > i, .small-box:hover .icon > i.fa {
            -webkit-transform: none !important;
            transform: none !important;
        }
        .card-img-top {
            border-top-left-radius: .25rem;
            border-top-right-radius: .25rem;
        }
        @media (min-width: 1400px) {
            #div_articles {
                -webkit-column-count: 4;
                -moz-column-count: 4;
                column-count: 4;
            }
        }
        @media (max-width: 1400px) {
            #div_articles {
                -webkit-column-count: 3;
                -moz-column-count: 3;
                column-count: 3;
            }
        }
        @media (max-width: 800px) {
            #div_articles {
                -webkit-column-count: 2;
                -moz-column-count: 2;
                column-count: 2;
            }
        }
        @media (max-width: 600px) {
            #div_articles {
                -webkit-column-count: 1;
                -moz-column-count: 1;
                column-count: 1;
            }
        }
    </style>

    {# Texte bienvenue #}
    {% if parametres_portail.accueil_texte_bienvenue or parametres_portail.accueil_url_video %}
        <h5 class="mb-2 text-secondary">{% trans "Bienvenue" %}</h5>
        <div class="card mb-4">
            <div class="card-body p-3">
                {{ parametres_portail.accueil_texte_bienvenue|safe }}
                {% if parametres_portail.accueil_url_video %}
                    {% if parametres_portail.accueil_texte_bienvenue %}<p></p>{% endif %}
                    <a href="#" class="video-btn btn btn-outline-primary btn-sm" data-src="{{ parametres_portail.accueil_url_video }}" data-toggle="modal" data-target="#modal_video" title="{% trans "Cliquez ici pour lancer la vidéo" %}"><i class='fa fa-film margin-r-5'></i>{{ parametres_portail.accueil_titre_video }}</a>
                    {% embed 'core/accueil/video.html' %}{% endembed %}
                {% endif %}
            </div>
        </div>
    {% endif %}


    {# En attente #}
    {% if nbre_approbations_requises or nbre_messages_non_lus or nbre_pieces_manquantes or nbre_informations_manquantes or nbre_vaccinations_manquantes or nbre_assurances_manquantes or cotisations_manquantes %}
        <h5 class="mb-2 text-secondary">{% blocktrans %}En attente{% endblocktrans %}</h5>
        <div class="row mb-2">

            {# Messages #}
            {% if nbre_messages_non_lus %}
                <div class="col-lg-3 col-6">
                    <div class="small-box bg-success">
                        <div class="inner">
                            <h3>{{ nbre_messages_non_lus }}</h3>
                            <p>
                                {% blocktranslate count counter=nbre_messages_non_lus %}Nouveau message{% plural %}Nouveaux messages{% endblocktranslate %}
                            </p>
                        </div>
                        <div class="icon"><i class="fa fa-comments"></i></div>
                        <a href="{% url 'portail_contact' %}" class="small-box-footer">{% trans "Consulter" %} <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            {% endif %}

            {# Informations manquantes #}
            {% if nbre_informations_manquantes %}
                <div class="col-lg-3 col-6">
                    <div class="small-box bg-danger">
                        <div class="inner">
                            <h3>{{ nbre_informations_manquantes }}</h3>
                            <p>
                                {% blocktranslate count counter=nbre_informations_manquantes %}Information manquante{% plural %}Informations manquantes{% endblocktranslate %}
                            </p>
                        </div>
                        <div class="icon"><i class="fa fa-folder-open-o"></i></div>
                        <a href="{% url 'portail_renseignements' %}" class="small-box-footer">{% trans "Corriger" %} <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            {% endif %}

            {# Pièces manquantes #}
            {% if nbre_pieces_manquantes %}
                <div class="col-lg-3 col-6">
                    <div class="small-box bg-danger">
                        <div class="inner">
                            <h3>{{ nbre_pieces_manquantes }}</h3>
                            <p>
                                {% blocktranslate count counter=nbre_pieces_manquantes %}Pièce manquante{% plural %}Pièces manquantes{% endblocktranslate %}
                            </p>
                        </div>
                        <div class="icon"><i class="fa fa-file-text-o"></i></div>
                        <a href="{% url 'portail_documents' %}" class="small-box-footer">{% trans "Consulter" %} <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            {% endif %}

            {# Vaccinations manquantes #}
            {% if nbre_vaccinations_manquantes %}
                <div class="col-lg-3 col-6">
                    <div class="small-box bg-danger">
                        <div class="inner">
                            <h3>{{ nbre_vaccinations_manquantes }}</h3>
                            <p>
                                {% blocktranslate count counter=nbre_vaccinations_manquantes %}Vaccination manquante{% plural %}Vaccinations manquantes{% endblocktranslate %}
                            </p>
                        </div>
                        <div class="icon"><i class="fa fa-medkit"></i></div>
                        <a href="{% url 'portail_renseignements' %}" class="small-box-footer">{% trans "Corriger" %} <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            {% endif %}

            {# Assurances manquantes #}
            {% if nbre_assurances_manquantes %}
                <div class="col-lg-3 col-6">
                    <div class="small-box bg-danger">
                        <div class="inner">
                            <h3>{{ nbre_assurances_manquantes }}</h3>
                            <p>
                                {% blocktranslate count counter=nbre_assurances_manquantes %}Assurance manquante{% plural %}Assurances manquantes{% endblocktranslate %}
                            </p>
                        </div>
                        <div class="icon"><i class="fa fa-shield"></i></div>
                        <a href="{% url 'portail_renseignements' %}" class="small-box-footer">{% trans "Corriger" %} <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            {% endif %}

            {# Adhésions manquantes #}
            {% if cotisations_manquantes %}
                <div class="col-lg-3 col-6">
                    <div class="small-box bg-danger">
                        <div class="inner">
                            <h3>{{ cotisations_manquantes|length }}</h3>
                            <p>
                                {% blocktranslate count counter=cotisations_manquantes|length %}Adhésion manquante{% plural %}Adhésions manquantes{% endblocktranslate %}
                            </p>
                        </div>
                        <div class="icon"><i class="fa fa-file-text-o"></i></div>
                        <a href="{% url 'portail_cotisations' %}" class="small-box-footer">{% trans "Consulter" %} <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            {% endif %}

            {# Approbations #}
            {% if nbre_approbations_requises %}
                <div class="col-lg-3 col-6">
                    <div class="small-box bg-info">
                        <div class="inner">
                            <h3>{{ nbre_approbations_requises }}</h3>
                            <p>
                                {% blocktranslate count counter=nbre_approbations_requises %}Approbation en attente{% plural %}Approbations en attente{% endblocktranslate %}
                            </p>
                        </div>
                        <div class="icon"><i class="fa fa-edit"></i></div>
                        <a href="{% url 'portail_renseignements' %}" class="small-box-footer">{% trans "Corriger" %} <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            {% endif %}

        </div>
    {% endif %}


    {# Actualités #}
    {% if articles %}
        <h5 class="mb-2 text-secondary">{% trans "Actualités" %}</h5>
        <div id="div_articles" class="card-columns">
            {% for article in articles %}
                {% include 'portail/article.html' %}
            {% endfor %}
        </div>
    {% endif %}

    {# Modal : Articles popups #}
    {% if articles_popups %}
        <div class="modal" id="modal_popup" data-backdrop="static">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header bg-lightblue">
                        <h5 class="modal-title"><i class="fa fa-info-circle margin-r-5"></i>{% trans "Informations" %}</h5>
                    </div>
                    <div class="modal-body">
                        {% for article in articles_popups %}
                            <span>{{ article.texte_popup|safe }}</span>
                        {% endfor %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">{% trans "Fermer" %}</button>
                    </div>
                </div>
            </div>
        </div>
        <script>
            $(document).ready(function() {
                $('#modal_popup').modal('show');
            });
        </script>
    {% endif %}


{% endblock contenu_page %}
