{% extends "portail/page.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load static %}
{% load embed %}


{% block styles %}
    {{ block.super }}
    <style>
        .card-individu .nav > li:first-child > a {
            border-left: 0px solid;
        }
        .card-individu .list-group a {
            border-radius: 0.25rem;
        }
        .card-individu {
            border-radius: 5px;
        }
    </style>
{% endblock %}

{% block contenu_page %}

    {# Texte d'introduction #}
    {% if parametres_portail.activites_intro %}
        <div class="div-intro" role="note" aria-label="{% trans "Information" %}">
            <i class="fa fa-info-circle margin-r-5" aria-hidden="true"></i>{{ parametres_portail.activites_intro }}
        </div>
    {% endif %}

    {% if activites_ouvertes_inscription %}
        <p>
            <a title="{% trans "Inscrire un individu à une nouvelle activité" %}" href="{% url 'portail_inscrire_activite' %}" class="btn btn-success mb-2" type="button"
                aria-label="{% blocktrans %}Inscrire un individu à une nouvelle activité{% endblocktrans %}"
            >
                <i class="fa fa-plus me-2" aria-hidden="true"></i>
                {% blocktrans %}Inscrire à une nouvelle activité{% endblocktrans %}
            </a>
        </p>
    {% endif %}

    {% if demandes_inscriptions_attente %}
        <div class="card card-individu bg-warning">

            <!-- Nom de l'individu -->
            <div class="user-block m-0" style="padding: .6rem 1rem;">
                <span class=""><b><i class="fa fa-hourglass-half margin-r-5"></i> Demandes d'inscription en attente de traitement</b></span>
            </div>

            <div class="p-2 bg-warning">
                <div>
                    <table class="table table-bordered table-sm mb-0 table-warning">
                        <thead>
                            <tr class="text-center">
                                <th>Individu à inscrire</th>
                                <th>Activité souhaitée</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for demande in demandes_inscriptions_attente %}
                                <tr class="text-center">
                                    <td>{{ demande.individu.prenom }}</td>
                                    <td>{{ demande.nom_activite }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    {% endif %}

    {% for individu in liste_individus %}
        <div class="card card-individu mb-4">

            <!-- Nom de l'individu -->
            {% embed 'portail/titre_individu.html' %}
                {% block src_photo %}{{ individu.Get_photo }}{% endblock %}
                {% block prenom_individu %}{{ individu.prenom }}{% endblock %}
                {% block infos %}
                    <span>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                        {{ individu.inscriptions|length }} inscription{{ individu.inscriptions|length|pluralize }}
                    </span>
                {% endblock %}
            {% endembed %}

            <!-- Liste des activités -->
            <div class="bg-body-secondary p-2">
                <div>
                    <table class="table table-bordered table-sm mb-0"  style="background-color: #FFFFFF;">
                        <thead>
                            <tr class="text-center">
                                <th>{% trans "Activité" %}</th>
                                <th>{% trans "Groupe" %}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for inscription in individu.inscriptions %}
                                <tr class="text-center">
                                    <td>{{ inscription.activite.nom }}</td>
                                    <td>{{ inscription.groupe.nom }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% for demande in demandes_inscriptions_attente|get_item:individu.pk %}
                        demande={{ demande }}
                    {% endfor %}
                </div>
            </div>

        </div>

    {% endfor %}

{% endblock contenu_page %}
