{% extends "portail/page.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load static %}
{% load embed %}


{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'lib/glightbox/css/glightbox.min.css' %}">
{% endblock styles %}


{% block contenu_page %}

    {% trans "Photo sans titre" as photo_sans_titre %}

    {# Texte d'introduction #}
    <div class="div-intro" role="note" aria-label="{% trans "Information" %}">
        <i class="fa fa-info-circle margin-r-5" aria-hidden="true"></i>{% blocktrans %}Cliquez sur les photos pour les agrandir.{% endblocktrans %}
    </div>

    {# Album #}
    {% embed 'core/box.html' with box_titre=True %}
        {% block box_theme %}card-outline card-lightblue{% endblock %}
        {% block box_titre %}{{ album.titre }}{% endblock %}
        {% block box_contenu %}
            {{ album.description|safe }}

            <ul class="list-unstyled d-flex flex-wrap gap-2 mb-0">
                {% for photo in photos %}
                    <li>
                        <a href="{{ photo.fichier.url }}" class="glightbox" data-gallery="gallery" data-title="{{ photo.titre|default:photo_sans_titre }}">
                            <img class="img-fluid img-thumbnail" style="max-height: 150px;" src="{{ photo.fichier.url }}" alt="{{ photo.titre|default:photo_sans_titre }}">
                        </a>
                    </li>
                {% empty %}
                    <li class="text-muted">{% trans "Album vide" %}</li>
                {% endfor %}
            </ul>

        {% endblock box_contenu %}
    {% endembed %}

{% endblock contenu_page %}


{% block scripts %}
    {{ block.super }}
    <script src="{% static 'lib/glightbox/js/glightbox.min.js' %}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            GLightbox({ selector: '.glightbox' });
        });
    </script>
{% endblock scripts %}
