{% load i18n %}
{% load static %}

<div class="card mb-4 {% if article.couleur_fond %}bg-{{ article.couleur_fond }}{% endif %}" style="margin-top: 1px;">
    {% if article.Get_anciennete <= 3 %}
        <div class="ribbon-wrapper ribbon-lg">
            <div class="ribbon bg-warning">{% trans "Nouveau" %}</div>
        </div>
    {% endif %}
    {% if article.image %}
        <img class="card-img-top" src="{{ article.image.url }}"/>
    {% endif %}
    {% if article.image_article %}
        <img class="card-img-top" src="{{ article.image_article.image.url }}"/>
    {% endif %}
    <div class="card-body pl-3 pr-3 pt-3 pb-1">
        <h5 class="card-title">{{ article.titre }}</h5>
        <p class="card-text">{{ article.texte|safe }}</p>
        {% if article.document %}
            <p class="mb-1"><small><a href="{{ article.document.url }}" style="text-decoration: none;" target="_blank" title="{% trans "Cliquez ici pour ouvrir le document dans un nouvel onglet" %}"><i class="fa fa-link margin-r-5"></i>{{ article.document_titre }}</a></small></p>
        {% endif %}
        {% if article.album %}
            <p class="mb-1"><small><a href="{% url 'portail_album' code=article.album.code %}" style="text-decoration: none;" title="{% trans "Cliquez ici pour accéder à l'album" %}"><i class="fa fa-photo margin-r-5"></i>{% blocktrans %}Accéder à l'album{% endblocktrans %} '{{ article.album.titre }}'</a></small></p>
        {% endif %}
        {% if article.sondage %}
            <p class="mb-1"><small><a href="{% url 'portail_sondage' code=article.sondage.code %}" style="text-decoration: none;" title="{% trans "Cliquez ici pour accéder au formulaire" %}"><i class="fa fa-file-text-o margin-r-5"></i>{% blocktrans %}Accéder au formulaire{% endblocktrans %} '{{ article.sondage.titre }}'</a></small></p>
        {% endif %}
    </div>
    <div class="card-footer pl-3 pr-3 pb-1 pt-0 text-right">
        <span style="color: #cecece;font-size: 70%;">{% blocktrans %}Publié le{% endblocktrans %} {{ article.date_debut|date:'d/m/Y' }} {% trans "par" %} {% firstof article.auteur.get_short_name article.auteur %}</span>
    </div>
</div>
