{% extends "portail/page.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load static %}
{% load embed %}

{% block contenu_page %}
    {% embed 'core/box.html' %}
        {% block box_theme %}card-outline card-lightblue{% endblock %}
        {% block box_titre %}{{ box_titre }}{% endblock %}
        {% block box_introduction %}{{ box_introduction|safe }}{% endblock %}
        {% block box_contenu %}
            <div class="mb-3">{% blocktrans %}Une fois le paiement effectué, merci de cliquer sur le bouton ci-dessous pour rafraîchir la page. Si le paiement n'a pas fonctionné, merci de cliquer sur le bouton annuler.{% endblocktrans %} </div>
            <div class="d-flex justify-content-between">
            <div><a type="button" class="btn btn-primary" href="{% url 'portail_facturation' %}" title="{% trans "Rafraichir la page" %}"><i class="fa fa-fw fa-refresh"></i> {% blocktrans %}Rafraîchir la page{% endblocktrans %}</a></div>
            <div><button type="button" class="btn btn-danger" onclick="window.history.back();" title="{% trans "Annuler" %}"><i class="fa fa-fw fa-times"></i> {% blocktrans %}Annuler{% endblocktrans %}</button></div>
        {% endblock %}
    {% endembed %}

{% endblock %}
