{% extends "portail/page.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load embed %}


{% block contenu_page %}

    {# Texte d'introduction #}
    {% if parametres_portail.cotisations_intro %}
        <div style="margin-bottom: 20px;">
            <i class="fa fa-info-circle margin-r-5"></i>{{ parametres_portail.cotisations_intro }}
        </div>
    {% endif %}

    {# Liste des cotisations à fournir #}
    {% embed 'core/box.html' with box_titre=True %}
        {% block box_theme %}card-outline card-lightblue{% endblock %}
        {% block box_titre %}Adhésions à fournir{% endblock %}
        {% block box_contenu %}
            {% if cotisations_fournir %}
                <p>Les adhésions suivantes marquées d'une croix rouge sont manquantes :</p>
                <ul class="list-unstyled">
                    {% for cotisation in cotisations_fournir %}
                        <li>{% if cotisation.valide %}<i class='fa fa-check fa-fw text-green'></i>{% else %}<i class='fa fa-close fa-fw text-red'></i>{% endif %} {{ cotisation.label }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                Aucune adhésion manquante.
            {% endif %}
        {% endblock box_contenu %}
    {% endembed %}

    {# Liste des adhésions #}
    {% embed 'core/box.html' with box_titre=True %}
        {% block box_theme %}card-outline card-lightblue{% endblock %}
        {% block box_titre %}Liste des dernières adhésions{% endblock %}
        {% block card_body_classe %}p-0{% endblock %}
        {% block box_contenu %}

            {# Liste des adhésions #}
            <div style="display: block;overflow-x: auto;white-space: nowrap;">
                {% if liste_cotisations %}
                    <table class="table projects mb-0">
                        <thead>
                            <tr class="text-center">
                                <th>Du</th>
                                <th>Au</th>
                                <th>Intitulé</th>
                                <th>N°</th>
                                <th>Bénéficiaire</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for cotisation in liste_cotisations %}
                                <tr class="text-center">
                                    <td>{{ cotisation.date_debut|date:'d/m/Y' }}</td>
                                    <td>{{ cotisation.date_fin|date:'d/m/Y' }}</td>
                                    <td>{{ cotisation.prestation.label }}</td>
                                    <td>{{ cotisation.numero|default:"" }}</td>
                                    <td>{% if cotisation.individu %}{{ cotisation.individu.prenom }}{% else %}Famille{% endif %}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <div style="padding: 12px;">Aucune adhésion</div>
                {% endif %}
            </div>

        {% endblock box_contenu %}
        {% block box_conclusion %}{{ box_conclusion|safe }}{% endblock %}
    {% endembed %}

{% endblock contenu_page %}
