{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    {% block meta %}
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Noethys">
    {% endblock meta %}

    <title>Noethysweb | Désinscription</title>

    {% block styles %}
        {% include 'core/styles.html' %}
    {% endblock %}

    {% block scripts %}
        {% include 'core/scripts.html' %}
    {% endblock %}

    {% block extra_head %}
    {% endblock %}

</head>

<body class="hold-transition login-page">

    <section class="content">
        <div class="error-page">
            <div class="text-center">
                {% if resultat == True %}
                    {% if valeur %}
                        <p>Vous ne souhaitez plus recevoir nos mails groupés ?</p>
                        <a class="btn btn-primary" href="{% url 'confirmation_desinscription' valeur %}" title="Cliquez ici pour confirmer votre désinscription"><i class="fa fa-check margin-r-5"></i>Cliquez ici pour confirmer votre désinscription</a>
                    {% else %}
                        <h3><i class="fa fa-check text-success"></i> Désinscription validée</h3><p>Vous ne recevrez plus nos emails groupés.</p>
                    {% endif %}
                {% else %}
                    <h3><i class="fa fa-close text-danger"></i> Demande non valide</h3><p>Votre dossier n'a pas pu être identifié ou vous êtes déjà désinscrit. <br>Veuillez contacter l'organisateur.</p>
                {% endif %}
            </div>
        </div>
    </section>

</body>

</html>
