<style>
    #table-prestations td, #table-prestations th {
        vertical-align: middle;
        text-align: center;
    }
</style>

<table id="table-prestations" class="table table-bordered">
    <thead>
        <tr>
            <th>Date</th>
            <th>Individu</th>
            <th>Activité</th>
            <th>Intitulé</th>
            <th>Montant</th>
        </tr>
    </thead>
    <tbody>
        {% for prestation in prestations %}
            <tr>
                <td>{{ prestation.date|date:"d/m/Y"|capfirst }}</td>
                <td>{{ prestation.individu }}</td>
                <td>{{ prestation.activite }}</td>
                <td>{{ prestation.label }}</td>
                <td>{{ prestation.montant|montant }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<ul>
    <li>Total de la facture : <b>{{ facture.total|montant }}</b></li>
    {% if parametres_portail.facturation_afficher_solde_facture %}
        <li>Total déjà réglé : <b>{{ facture.Get_regle_actuel|montant }}</b></li>
        <li>Solde actuel : <b>{{ facture.solde_actuel|montant }}</b></li>
    {% endif %}
</ul>
