{% load static i18n %}

{% block scripts %}
    <style>
        .bouton-recherche {
            background: rgba(255, 255, 255, 0.2) !important;
            border-color: transparent !important;
            margin-left: 0px !important;
        }
        .champ-recherche {
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
        }
        @media (min-width: 768px) {
            #recherche_collapse {
                display: none;
            }
        }


    </style>
{% endblock %}


<header class="main-header">
    <!-- Logo -->
    <a href="{% block logo_href %}/{% endblock %}" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini">
            <img src="{% static "images/logo_blanc.png" %}" style="max-height: 25px;padding-bottom: 2px;" alt="Logo Noethys"> Noethys<sup style="font-size: 11px;"> web</sup>
        </span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg">
            <img src="{% static "images/logo_blanc.png" %}" style="max-height: 20px;padding-bottom: 2px;" alt="Logo Noethys"> Noethys<sup style="font-size: 11px;"> web</sup>
        </span>
    </a>

    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>

        <div class="collapse navbar-collapse pull-left" id="navbar-collapse">

            {# Champ de recherche #}
            <form id="form_recherche1" action="{% url 'rechercher' %}" method="GET" class="navbar-form navbar-left" role="search">
                {% csrf_token %}
                <div class="input-group">
                    <input id="navbar-search-input" type="text" title="Recherchez une commande, un individu, une famille, un payeur, une adresse..." name="champ_recherche" class="form-control champ-recherche" placeholder="Rechercher...">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-primary bouton-recherche" aria-label="Rechercher">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </form>

            <ul class="nav navbar-nav">

                {# Historique des recherches #}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Historique des recherches"><i class="fa fa-history"></i></a>
                    <ul class="dropdown-menu" role="menu">
                        {% for item in request.session.historique_recherche %}
                            <li class="dropdown-item"><a href="{{ item.url }}">{{ item.label }}</a></li>
                        {% empty %}
                            <li class="dropdown-item"><a>Historique vide</a></li>
                        {% endfor %}
                        <li class="dropdown-divider"></li>
                        <li class="dropdown-item"><a href="{% url 'historique' %}">Ouvrir l'historique complet</a></li>
                    </ul>
                </li>

                {# Actions rapides #}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Actions rapides"><i class="fa fa-star-o"></i></a>
                    <ul class="dropdown-menu" role="menu">
                        <h6 class="dropdown-header"><strong>Individus</strong></h6>
                        <li><a href="{% url 'famille_ajouter' %}">Ajouter une famille</a></li>
                        <li class="dropdown-divider"></li>
                        <h6 class="dropdown-header"><strong>Consommations</strong></h6>
                        <li><a href="{% url 'edition_liste_conso' %}">Editer une liste des consommations</a></li>
                        <li><a href="{% url 'gestionnaire_conso' %}">Pointer des consommations</a></li>
                        <li><a href="{% url 'liste_attente' %}">Consulter la liste d'attente</a></li>
                        <li class="dropdown-divider"></li>
                        <h6 class="dropdown-header"><strong>Facturation</strong></h6>
                        <li><a href="{% url 'factures_generation' %}">Générer des factures</a></li>
                        <li><a href="{% url 'rappels_generation' %}">Générer des lettres de rappel</a></li>
                        <li class="dropdown-divider"></li>
                        <h6 class="dropdown-header"><strong>Règlements</strong></h6>
                        <li><a href="{% url 'depots_reglements_liste' %}">Déposer des règlements</a></li>
                    </ul>
                </li>

            </ul>

        </div>


        <div class="navbar-custom-menu">

            <ul class="nav navbar-nav">

                {# Recherche #}
                <li class="dropdown messages-menu" id="recherche_collapse">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-search"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header bg-light-blue">
                            <form id="form_recherche2" action="{% url 'rechercher' %}" method="GET" class="">
                                {% csrf_token %}
                                <div class="input-group">
                                    <input id="champ-recherche2" type="text" title="Recherchez une commande, un individu, une famille, un payeur, une adresse..." name="champ_recherche" class="form-control champ-recherche" placeholder="Rechercher...">
                                    <span class="input-group-btn">
                                        <button type="submit" class="btn btn-primary bouton-recherche" aria-label="Rechercher">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>
                            </form>
                        </li>
                        <li>
                            <ul class="menu">
                                {% for item in request.session.historique_recherche %}
                                    <li><a href="{{ item.url }}" style="color: #444;">{{ item.label }}</a></li>
                                {% empty %}
                                    <li><a>Historique vide</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li class="footer"><a href="{% url 'historique' %}">Ouvrir l'historique complet</a></li>
                    </ul>
                </li>

                {# Utilisateur en cours #}
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="{% static "images/user.png" %}" class="user-image" alt="User Image">
                        <span class="hidden-xs">{% firstof request.user request.user.get_full_name request.user.get_short_name %}</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="user-header">
                            <img src="{% static "images/user.png" %}" class="img-circle" alt="User Image">
                            <p>
                                {% firstof request.user request.user.get_full_name request.user.get_short_name %}
                                <small>Dernière connexion le {{ request.user.last_login }}</small>
                                <small>Utilisateur depuis {{ request.user.date_joined|date:"j F Y" }}</small>
                            </p>
                        </li>

                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="pull-left">
                                <a href="#" class="btn btn-default btn-flat">Profil</a>
                            </div>
                            <div class="pull-right">
                                <a href="{% url 'deconnexion' %}" class="btn btn-default btn-flat"><i class="fa fa-power-off margin-r-5"></i>Déconnexion</a>
                            </div>
                        </li>

                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>
