{% extends "portail/fiche.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load static %}
{% load embed %}


{% block detail_fiche %}
    <div class="col-md-9">
        {% embed 'core/box.html' %}
            {% block box_theme %}card-outline card-lightblue{% endblock %}
            {% block box_titre %}{{ box_titre }}{% endblock %}
            {% block box_introduction %}{{ box_introduction|safe }}{% endblock %}
            {% block box_contenu %}

                {% if assurance_manquante %}
                    {% embed "individus/alerte.html" with titre_uniquement=True titre="<i class='icon fa fa-warning text-danger'></i> Assurance obligatoire"%}
                    {% endembed %}
                {% endif %}

                <div class="">
                    {% if liste_assurances %}
                        <table class="table table-bordered">
                            <thead>
                                <tr class="text-center">
                                    <th>{% blocktrans %}Date de début{% endblocktrans %}</th>
                                    <th>{% blocktrans %}Date de fin{% endblocktrans %}</th>
                                    <th>{% trans "Assureur" %}</th>
                                    <th>N° {% trans "contrat" %}</th>
                                    <th style="width: 90px;">{% trans "Actions" %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for assurance in liste_assurances %}
                                    <tr class="text-center">
                                        <td>{{ assurance.date_debut|date:'d/m/Y' }}</td>
                                        <td>{{ assurance.date_fin|date:'d/m/Y' }}</td>
                                        <td>{{ assurance.assureur }}</td>
                                        <td>{{ assurance.num_contrat }}</td>
                                        <td>
                                            <a type="button" class="btn btn-primary btn-xs" href="{% url 'portail_individu_assurances_modifier' idrattachement=rattachement.pk idassurance=assurance.pk %}" title="{% trans "Modifier" %}"><i class="fa fa-fw fa-pencil"></i></a>
                                            <a type="button" class="btn btn-danger btn-xs" href="{% url 'portail_individu_assurances_supprimer' idrattachement=rattachement.pk idassurance=assurance.pk %}" title="{% trans "Supprimer" %}"><i class="fa fa-fw fa-trash"></i></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <b>{% blocktrans %}Aucune assurance enregistrée.{% endblocktrans %}</b>
                    {% endif %}
                </div>
                <div class="pull-right">
                    <a class="btn btn-default" href="{% url 'portail_individu_assurances_importer' idrattachement=rattachement.pk %}" title="{% trans "Importer des assurances depuis une autre fiche" %}"><i class="fa fa-download margin-r-5"></i>{% blocktrans %}Importer les assurances d'une autre fiche{% endblocktrans %}</a>
                    <a class="btn btn-primary" href="{% url 'portail_individu_assurances_ajouter' idrattachement=rattachement.pk %}" title="{% trans "Ajouter une assurance" %}"><i class="fa fa-plus margin-r-5"></i>{% blocktrans %}Ajouter une assurance{% endblocktrans %}</a>
                </div>

            {% endblock box_contenu %}
            {% block box_conclusion %}{{ box_conclusion|safe }}{% endblock %}
        {% endembed %}
    </div>
{% endblock %}
