{% extends "portail/fiche.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load static %}
{% load embed %}


{% block detail_fiche %}
    <div class="col-md-9">
        {% embed 'core/box.html' %}
            {% block box_theme %}card-outline card-lightblue{% endblock %}
            {% block box_titre %}{{ box_titre }}{% endblock %}
            {% block box_introduction %}{{ box_introduction|safe }}{% endblock %}
            {% block box_contenu %}

                <div class="">
                    {% if liste_contacts %}
                        <table class="table table-bordered">
                            <thead>
                                <tr class="text-center">
                                    <th>{% trans "Nom" %}</th>
                                    <th>{% trans "Prénom" %}</th>
                                    <th>{% trans "Lien" %}</th>
                                    <th>{% trans "Autorisations" %}</th>
                                    <th style="width: 90px;">{% trans "Actions" %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for contact in liste_contacts %}
                                    <tr class="text-center">
                                        <td>{{ contact.nom }}</td>
                                        <td>{{ contact.prenom }}</td>
                                        <td>{{ contact.lien }}</td>
                                        <td>{{ contact.Get_autorisations|safe }}</td>
                                        <td>
                                            <a type="button" class="btn btn-primary btn-xs" href="{% url 'portail_individu_contacts_modifier' idrattachement=rattachement.pk idcontact=contact.pk %}" title="{% trans "Modifier" %}"><i class="fa fa-fw fa-pencil"></i></a>
                                            <a type="button" class="btn btn-danger btn-xs" href="{% url 'portail_individu_contacts_supprimer' idrattachement=rattachement.pk idcontact=contact.pk %}" title="{% trans "Supprimer" %}"><i class="fa fa-fw fa-trash"></i></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <b>{% blocktrans %}Aucun contact enregistré.{% endblocktrans %}</b>
                    {% endif %}
                </div>
                <div class="pull-right">
                    <a class="btn btn-default" href="{% url 'portail_individu_contacts_importer' idrattachement=rattachement.pk %}" title="{% trans "Importer des contacts depuis une autre fiche" %}"><i class="fa fa-download margin-r-5"></i>{% blocktrans %}Importer les contacts d'une autre fiche{% endblocktrans %}</a>
                    <a class="btn btn-primary" href="{% url 'portail_individu_contacts_ajouter' idrattachement=rattachement.pk %}" title="{% trans "Ajouter un contact" %}"><i class="fa fa-plus margin-r-5"></i>{% blocktrans %}Ajouter un contact{% endblocktrans %}</a>
                </div>

            {% endblock box_contenu %}
            {% block box_conclusion %}{{ box_conclusion|safe }}{% endblock %}
        {% endembed %}
    </div>
{% endblock %}
