{% extends "portail/fiche.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load static %}
{% load embed %}


{% block detail_fiche %}
    <div class="col-md-9">
        <div class="card card-outline card-lightblue">

            <div class="card-header">
                <h2 class="card-title">{{ box_titre }}</h2>
            </div>

            <div class="card-body">

                {% if box_introduction %}
                    <p>{{ box_introduction|safe }}</p>
                {% endif %}

                {% if assurance_manquante %}
                    {% embed "individus/alerte.html" with titre_uniquement=True titre="<i class='icon fa fa-warning text-danger'></i> Assurance obligatoire"%}
                    {% endembed %}
                {% endif %}

                <div class="">
                    {% if liste_vaccinations %}
                        <table class="table table-bordered align-middle" aria-label="{% trans "Liste des vaccinations" %}">
                            <thead>
                                <tr class="text-center">
                                    <th scope="col">{% blocktrans %}Type de vaccin{% endblocktrans %}</th>
                                    <th scope="col">{% trans "Date" %}</th>
                                    <th scope="col" style="width: 90px;">{% trans "Actions" %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for vaccin in liste_vaccinations %}
                                    <tr class="text-center">
                                        <td>{{ vaccin.type_vaccin }}</td>
                                        <td>{{ vaccin.date|date:'d/m/Y' }}</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm"
                                               href="{% url 'portail_individu_vaccinations_modifier' idrattachement=rattachement.pk idvaccin=vaccin.pk %}"
                                               title="{% trans "Modifier" %} {{ vaccin.type_vaccin }}"
                                               aria-label="{% trans "Modifier" %} {{ vaccin.type_vaccin }}">
                                                <i class="fa fa-pencil" aria-hidden="true"></i>
                                                <span style="display: none;">{% trans "Modifier" %}</span>
                                            </a>
                                            <a class="btn btn-danger btn-sm"
                                               href="{% url 'portail_individu_vaccinations_supprimer' idrattachement=rattachement.pk idvaccin=vaccin.pk %}"
                                               title="{% trans "Supprimer" %} {{ vaccin.type_vaccin }}"
                                               aria-label="{% trans "Supprimer" %} {{ vaccin.type_vaccin }}">
                                                <i class="fa fa-trash" aria-hidden="true"></i>
                                                <span style="display: none;">{% trans "Supprimer" %}</span>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <b class="fw-bold">{% blocktrans %}Aucune vaccination enregistrée.{% endblocktrans %}</b>
                    {% endif %}
                </div>
                <div class="d-flex justify-content-end gap-2 mt-3">
                    <a class="btn btn-primary"
                       href="{% url 'portail_individu_vaccinations_ajouter' idrattachement=rattachement.pk %}"
                       aria-label="{% trans "Ajouter une vaccination" %}">
                        <i class="fa fa-plus me-2" aria-hidden="true"></i>{% blocktrans %}Ajouter une vaccination{% endblocktrans %}
                    </a>
                </div>
            </div>
            {% if box_conclusion %}
                <div class="card-footer">
                    {{ box_conclusion|safe }}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
