{% extends "portail/fiche.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load static %}
{% load embed %}


{% block detail_fiche %}
    <div class="col-md-9">
        <div class="card card-outline card-lightblue">

            <div class="card-header">
                <h2 class="card-title">{{ box_titre }}</h2>
            </div>

            <div class="card-body">

                {% if box_introduction %}
                    <p>{{ box_introduction|safe }}</p>
                {% endif %}

                <div class="">
                    {% if liste_contacts %}
                        <table class="table table-bordered align-middle" aria-label="{% trans "Liste des contacts" %}">
                            <thead>
                                <tr class="text-center">
                                    <th scope="col">{% trans "Nom" %}</th>
                                    <th scope="col">{% trans "Prénom" %}</th>
                                    <th scope="col">{% trans "Lien" %}</th>
                                    <th scope="col">{% trans "Autorisations" %}</th>
                                    <th scope="col" style="width: 90px;">{% trans "Actions" %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for contact in liste_contacts %}
                                    <tr class="text-center">
                                        <td>{{ contact.nom }}</td>
                                        <td>{{ contact.prenom }}</td>
                                        <td>{{ contact.lien }}</td>
                                        <td>{{ contact.Get_autorisations_b5|safe }}</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm"
                                               href="{% url 'portail_individu_contacts_modifier' idrattachement=rattachement.pk idcontact=contact.pk %}"
                                               title="{% trans "Modifier" %} {{ contact.prenom }}"
                                               aria-label="{% trans "Modifier" %} {{ contact.prenom }}">
                                                <i class="fa fa-pencil" aria-hidden="true"></i>
                                                <span style="display: none;">{% trans "Modifier" %}</span>
                                            </a>
                                            <a class="btn btn-danger btn-sm"
                                               href="{% url 'portail_individu_contacts_supprimer' idrattachement=rattachement.pk idcontact=contact.pk %}"
                                               title="{% trans "Supprimer" %} {{ contact.prenom }}"
                                               aria-label="{% trans "Supprimer" %} {{ contact.prenom }}">
                                                <i class="fa fa-trash" aria-hidden="true"></i>
                                                <span style="display: none;">{% trans "Supprimer" %}</span>
                                            </a>

                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <b class="fw-bold">{% blocktrans %}Aucun contact enregistré.{% endblocktrans %}</b>
                    {% endif %}
                </div>
                <div class="d-flex justify-content-end gap-2 mt-3">
                    <a class="btn btn-primary"
                       href="{% url 'portail_individu_contacts_ajouter' idrattachement=rattachement.pk %}"
                       aria-label="{% trans "Ajouter un contact" %}">
                        <i class="fa fa-plus me-2" aria-hidden="true"></i>{% blocktrans %}Ajouter un contact{% endblocktrans %}
                    </a>
                    <a class="btn btn-secondary"
                       href="{% url 'portail_individu_contacts_importer' idrattachement=rattachement.pk %}"
                       aria-label="{% trans "Importer des contacts depuis une autre fiche" %}">
                        <i class="fa fa-download me-2" aria-hidden="true"></i>{% blocktrans %}Importer des contacts depuis une autre fiche{% endblocktrans %}
                    </a>
                </div>

            </div>
            {% if box_conclusion %}
                <div class="card-footer">
                    {{ box_conclusion|safe }}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
