{% extends "core/base_login.html" %}
{% load i18n %}
{% load static %}

{% block titre_contenu %}
    {% trans "Connexion" %}
{% endblock titre_contenu %}

{% block contenu_page %}

    <form name="LoginForm" method="post">
        {% csrf_token %}

        {% if form.errors %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}

        <div class="form-group has-feedback input-group ligne">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <i class="fa fa-fw fa-user"></i>
                </span>
            </div>
            {{ form.username }}
        </div>

        <div class="form-group has-feedback input-group ligne">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <i class="fa fa-fw fa-lock"></i>
                </span>
            </div>
            {{ form.password }}
            <div class="input-group-append">
                <span class="input-group-text">
                    <a id="id_afficher_mdp" href="" title="Afficher ou masquer le mot de passe"><i id="id_eye" class="fa fa-fw fa-eye-slash" aria-hidden="true"></i></a>
                </span>
            </div>
        </div>

        {% if form.captcha.errors %}
            <div class="alert alert-danger">
                {% blocktrans %}Vous devez recopier le code de sécurité ci-dessous{% endblocktrans %}
            </div>
        {% endif %}

        <div class="ligne">
            {{ form.captcha }}
        </div>

        <button name="login" id="login" class="btn btn-block btn-primary login-btn mb-4" type="submit">{% blocktrans %}Se connecter{% endblocktrans %}</button>

    </form>

    {# Mot de passe oublié #}
    {% if parametres_portail.connexion_adresse_exp %}
        <a class="forgot-password-link" href="{% url 'reset_password' %}">{% blocktrans %}Mot de passe oublié ?{% endblocktrans %}</a>
    {% endif %}

    {# Pas de codes d'accès #}
    <p class="login-card-footer-text"><a href="#" class="forgot-password-link" data-toggle="modal" data-target="#model_pas_codes">{% blocktrans %}Pas de codes d'accès ?{% endblocktrans %}</a></p>

    {# Modal : Pas de codes d'accès #}
    <div class="modal" id="model_pas_codes">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">{% blocktrans %}Pas de codes d'accès ?{% endblocktrans %}</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    {% blocktrans %}Contactez directement l'organisme{% endblocktrans %} '{{ organisateur.nom }}' {% blocktrans %}pour recevoir vos codes d'accès{% endblocktrans %}.
                </div>
            </div>
        </div>
    </div>

{% endblock contenu_page %}
