<p>
    <span>Déclaration éditée le 27 juin 2026</span>.
</p>
<p>
    <span>{ORGANISATEUR_NOM}</span>
    s’engage à rendre son service accessible, conformément à
    l’article 47 de la loi n° 2005-102 du 11 février 2005.
</p>
<p>
    Cette déclaration d’accessibilité s’applique au portail famille Noethysweb
    (<span>{URL_PORTAIL}</span>).
</p>

<strong>État de conformité</strong>
<p>
    Le portail famille Noethysweb de {ORGANISATEUR_NOM} est
    <strong><span data-printfilter="lowercase">non conforme</span></strong>
    avec le <abbr title="Référentiel général d’amélioration de l’accessibilité">RGAA</abbr>.
    <span>Le site n’a encore pas été audité (Les développements sont en phase de test).<br></span>
</p>

<strong>Amélioration et contact</strong>
<p>
    Si vous n’arrivez pas à accéder à un contenu ou à un service,
    vous pouvez contacter le gestionnaire du portail
    pour être orienté vers une alternative accessible ou obtenir le
    contenu sous une autre forme.
</p>
<ul class="basic-information feedback h-card">
    <li>
        Adresse&nbsp;: <span>{ORGANISATEUR_NOM} {ORGANISATEUR_RUE} {ORGANISATEUR_CP} {ORGANISATEUR_VILLE}</span>
    </li>
</ul>

<strong>Voie de recours</strong>
<p>
    Cette procédure est à utiliser dans le cas suivant&nbsp;: vous avez
    signalé au responsable du site internet un défaut
    d’accessibilité qui vous empêche d’accéder à un contenu ou à un
    des services du portail et vous n’avez pas obtenu de réponse
    satisfaisante.
</p>
<p>Vous pouvez&nbsp;:</p>
<ul>
    <li>
        Écrire un message au
        <a href="https://formulaire.defenseurdesdroits.fr/">Défenseur des droits</a>
    </li>
        <li>
        Contacter
        <a href="https://www.defenseurdesdroits.fr/saisir/delegues">le délégué du Défenseur des droits dans votre région</a>
    </li>
        <li>
        Envoyer un courrier par la poste (gratuit, ne pas mettre de timbre)&nbsp;:<br>
        Défenseur des droits<br>
        Libre réponse 71120 75342 Paris CEDEX 07
    </li>
</ul>