<h6>Préambule</h6>

<p>
Ce portail est édité par {ORGANISATEUR_NOM}. Son utilisation est exclusivement réservée aux usagers des activités de cet organisateur et ceux qui en ont accepté les modalités de fonctionnement ainsi que les clauses des présentes conditions générales d’utilisation.
</p>

<h6>Article 1 – Définitions</h6>

<p>
Pour la compréhension et l’interprétation des présentes conditions générales d’utilisation, les termes suivants auront la signification ci-après :
</p>

<ul>
    <li>Organisateur : Désigne {ORGANISATEUR_NOM}, gestionnaire des activités et éditeur du portail.</li>
    <li>Utilisateur : Désigne la personne physique, majeure et capable, utilisant les services proposés par l’organisateur.</li>
    <li>Données personnelles : Désigne les informations personnelles que l’utilisateur a communiqué lors de son inscription auprès de l’organisateur.</li>
    <li>Compte personnel : Désigne l’espace privé réservé à chaque utilisateur, accessible uniquement avec un code identifiant fourni par l’organisateur et un mot de passe personnalisable.</li>
</ul>

<h6>Article 2 – Objet des conditions générales</h6>

<p>
Les présentes conditions générales ont pour objet de définir les termes et conditions de l’utilisation du portail fourni par l’organisateur.
</p>

<h6>Article 3 – Acceptation des présentes conditions générales d’utilisation</h6>

<p>
L’utilisateur déclare avoir pris connaissance et avoir accepté expressément et de manière inconditionnelle les présentes conditions générales d’utilisation en vigueur au jour du premier accès au portail.
</p>
<p>
L’organisateur se réserve à tout moment le droit de modifier tout ou partie des présentes conditions générales d’utilisation. Il appartient en conséquence à l’utilisateur de se référer régulièrement à la dernière version des conditions générales d’Utilisation disponible en permanence sur le portail. Tout usage des services après modification des conditions générales d’utilisation, vaut acceptation par l’utilisateur des nouvelles conditions générales d’utilisation.
</p>

<h6>Article 4 – Accès au compte personnel</h6>

<p>
L’utilisation du portail nécessite une inscription préalable de l’utilisateur de l’organisateur. L’utilisateur reçoit alors un code identifiant et un mot de passe provisoire qui lui permettent d’accéder à son compte personnel.

<p>
L’identifiant unique assure la traçabilité des opérations de connexion, réservation, consultation ou modification des données.
</p>
<p>
Lors de la première connexion, il est demandé à l’utilisateur de créer obligatoirement un mot de passe personnalisé qui remplace le mot de passe provisoire fourni par l’organisateur. Ce mot de passe est chiffré et demeure donc inaccessible pour l’organisateur. L’utilisateur peut également modifier ce mot de passe à tout moment depuis la rubrique Gestion du compte du portail ou peut demander une réinitialisation du mot de passe à l’organisateur.
</p>
<p>
Les codes d’accès sont personnels et confidentiels. L’utilisateur est seul responsable de la préservation et de la confidentialité de son mot de passe et, par conséquent, des conséquences d’une divulgation involontaire à quiconque. Toute utilisation d’un compte à partir du mot de passe attribué à l’utilisateur est présumée comme émanant exclusivement de l’utilisateur. L'utilisateur a l’obligation de notifier à l’organisateur sans délai toute compromission de la confidentialité de son mot de passe ou toute utilisation par un tiers dont il aurait connaissance. L’organisateur ne pourra être tenu responsable de toute perte ou dommage survenu en raison du manquement aux obligations de confidentialité incombant à l’utilisateur.
</p>

<h6>Article 5 – Sécurité</h6>

<p>
Tout accès frauduleux au portail est interdit et sanctionné pénalement. L’utilisateur s’engage à ne pas perturber le bon fonctionnement du portail. Tout acte malveillant entraînera notamment une suspension immédiate de l’accès au compte personnel.
</p>
<p>
L’utilisateur doit informer l’utilisateur de toute défaillance du portail.
</p>
<p>
L’organisateur fait les meilleurs efforts, conformément aux règles de l’art, pour sécuriser le portail, mais il ne saurait en garantir la sécurité absolue. Le portail est hébergé sur un serveur situé en France. Les caractéristiques de sécurisation suivantes sont mises en œuvre : Adresse avec certificat SSL, anti-DDoS, pare-feu, antivirus, transferts SFTP/SSH, chiffrement AES des mots de passe et de toutes les données personnelles, journalisation des accès, sauvegarde quotidienne de la base de données.
</p>
<p>
Toute violation ou fuite des données sera notifiée aux utilisateurs et à la CNIL dans les 48h suivant la découverte.
</p>

<h6>Article 6 – Risques liés à l’usage d’internet</h6>

<p>
L’utilisateur déclare bien connaître les caractéristiques d’internet et reconnaît en particulier qu’il s’agit d’un réseau ouvert non maîtrisable par l’organisateur et que les échanges de données ne bénéficient que d’une fiabilité relative. L’organisateur ne peut totalement garantir que les informations échangées via le portail ne seront pas interceptées par des tiers, et que la confidentialité des échanges sera garantie.
</p>

<h6>Article 7 – Responsabilités</h6>

<p>
L’utilisateur s’engage à n’utiliser le portail et plus particulièrement son compte personnel que dans les conditions définies par les présentes conditions générales d’utilisation, à ne pas accéder aux comptes personnels tiers, et à ne commettre aucun acte malveillant pouvant mettre en cause la sécurité informatique du Portail Internet.
</p>
<p>
L’organisateur propose ce portail « en l’état » conformément aux règles de l’art. Sauf faute ou négligence prouvée de l’organisateur, les atteintes à la confidentialité des données de l’utilisateur, les dommages directs ou indirects résultant de l’utilisation du portail, toute perturbation du portail, l’usage frauduleux du portail, ou la divulgation volontaire ou involontaire des codes d’accès par des tiers, ne sauraient engager la responsabilité de l’organisateur.
</p>

<h6>Article 8 – Disponibilité</h6>

<p>
L’organisateur s’efforce de maintenir une accessibilité continue au service. Néanmoins, celui-ci peut suspendre cet accès sans préavis, notamment pour des raisons de maintenance et de mise à jour. L’organisateur ne saurait être tenu responsable en cas de dommages tels que pertes financières, manque à gagner, trouble de quelque nature que ce soit résultant d’une indisponibilité ou dysfonctionnement du Portail.
</p>

<h6>Article 9 – Traitement des données personnelles</h6>

<p>
L’organisateur effectue un traitement informatisé des données des utilisateurs dans le respect du Règlement Général de Protection des Données, le nouveau règlement européen qui s’inscrit dans la continuité de la Loi Française Informatique et Libertés de 1978.
</p>

<p>
Les données collectées :<br>
La création du compte personnel nécessite la communication par l’utilisateur de données personnelles à l’organisateur. Ces données sont utilisées pour la création du compte personnel et pour le bon fonctionnement des services proposés à l’utilisateur.
</p>
<p>
Pourquoi ces données et à quel titre :<br>
En fonction des besoins des services auxquels est inscrit l’utilisateur, il pourra notamment lui être demandé son identité, ses coordonnées, etc… Les informations demandées peuvent être utilisées dans le cadre des activités de l’organisateur pour identifier l’utilisateur, le contacter ou adapter les activités en fonction de son profil.
</p>
<p>
Qui a accès à ces données :<br>
Les données personnelles des utilisateurs sont destinées à un usage interne uniquement. Seules les personnes habilitées par l’organisateur peuvent les consulter. Les données collectées ne sont ni échangées, ni vendues, ni cédées à quelque tiers que ce soit.
</p>
<p>
Durée de conservation des données :<br>
Les données personnelles sont conservées pendant le temps nécessaire à l'accomplissement de la finalité pour laquelle elles ont été collectées.
</p>
<p>
Droit de consultation des données :<br>
L’utilisateur bénéficie d’un droit d’accès, de rectification ou de suppression des données qui le concernent. Dans un souci de confidentialité et de protection des données personnelles, l’organisateur doit s’assurer de l’identité du demandeur. Aussi, toute demande devra être accompagnée de la copie d’un titre d’identité signé. La demande doit être adressée à l’organisateur par voie postale à : {ORGANISATEUR_NOM} {ORGANISATEUR_RUE} {ORGANISATEUR_CP} {ORGANISATEUR_VILLE}.
</p>

<h6>Article 10 – Cookies</h6>

<p>
Lorsque l’utilisateur visite le portail, des cookies sont installés sur le disque dur de son ordinateur. Ces cookies sont indispensables au bon fonctionnement technique du portail afin de permettre l’ouverture de la connexion. La plupart des navigateurs internet sont paramétrés par défaut pour accepter l'installation des cookies. L’utilisateur a la possibilité de désactiver l’utilisation des cookies en sélectionnant les paramètres appropriés dans son navigateur, néanmoins il est informé qu’une telle désactivation pourrait empêcher le bon fonctionnement du portail.
</p>

<h6>Article 11 – Droits de propriété intellectuelle</h6>

<p>
L'ensemble de ce portail relève de la législation française et internationale sur le droit d'auteur et la propriété intellectuelle. Tous les droits de reproduction sont réservés, y compris pour les documents téléchargeables et les représentations iconographiques et photographiques.
</p>

<h6>Article 12 – Support technique</h6>

<p>
En cas de problème, l’utilisateur est invité à contacter l’organisateur.
</p>