{% extends "portail/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load static %}

{% block page_titre %}{{ page_titre }}{% endblock page_titre %}

{% block styles %}
    {{ block.super }}
{% endblock styles %}

{% block page %}

    <main class="app-main" id="main" tabindex="-1">

        {% block content_header %}

            <div class="app-content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">
                                {{ page_titre }}
                            </h1>
                        </div>
                        <div class="col-sm-6">
                            <nav aria-label="Fil d'Ariane">
                                <ol class="breadcrumb float-sm-end">
                                    <li class="breadcrumb-item">
                                        <a href="{% url 'portail_accueil' %}" {% if breadcrumb|length == 1 and breadcrumb.0.code == "portail_accueil" %}aria-current="page"{% endif %}>
                                            <i class="fa fa-home" aria-hidden="true"></i> {% trans "Accueil" %}
                                        </a>
                                    </li>
                                    {% for item in breadcrumb %}
                                        {% if item.code and item.code != "portail_accueil" %}
                                            <li class="breadcrumb-item {% if forloop.last %}active{% endif %}" {% if forloop.last %}aria-current="page"{% endif %}>
                                                {% if forloop.last %}
                                                    {{ item.titre }}
                                                {% else %}
                                                    <a href="{{ item.GetUrl }}">{{ item.titre }}</a>
                                                {% endif %}
                                            </li>
                                        {% endif %}

                                    {% endfor %}
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>

        {% endblock %}

        <div class="app-content">
            <div class="container-fluid">

                {% block messages %}
                    {% include 'core/messages.html' %}
                {% endblock %}

                {% block contenu_page %}
                {% endblock contenu_page %}

            </div>
        </div>

    </main>
{% endblock page %}

{% block scripts %}
    {{ block.super }}
{% endblock scripts %}
