{% extends "portail/base_login.html" %}
{% load i18n %}
{% load static %}

{% block titre_contenu %}
    {% blocktrans %}Personnalisation du mot de passe{% endblocktrans %}
{% endblock titre_contenu %}

{% block contenu_page %}

<p class="d-flex align-items-center gap-2 mb-2">
    <i class="fa fa-check-circle text-success" aria-hidden="true"></i>
    <span>{% blocktrans %}Votre nouveau mot de passe a bien été enregistré.{% endblocktrans %}</span>
</p>

<p class="mb-5">
    {% blocktrans %}Cliquez sur le bouton ci-dessous pour accéder au portail.{% endblocktrans %}
</p>

<div class="d-grid">
    <a class="btn btn-primary"
       href="{% url 'portail_accueil' %}">
        <i class="fa fa-fw fa-sign-in me-1" aria-hidden="true"></i>
        {% blocktrans %}Accéder au portail{% endblocktrans %}
    </a>
</div>

{% endblock contenu_page %}