{% extends "core/base_login.html" %}
{% load i18n %}
{% load static %}

{% block titre_contenu %}
    {% blocktrans %}Réinitialiser votre mot de passe{% endblocktrans %}
{% endblock titre_contenu %}

{% block contenu_page %}

    <p><i class="fa fa-check-circle margin-r-5 text-success"></i> {% blocktrans %}Votre nouveau mot de passe a bien été enregistré.{% endblocktrans %}</p>
    <p>{% blocktrans %}Vous pouvez vous connecter dès à présent en cliquant sur le bouton ci-dessous{% endblocktrans %} :</p>
    <br>
    <p class="text-center">
        <a type="button" class="btn btn-primary" title="Aller à la page de connexion" href="{% url 'portail_connexion' %}">{% blocktrans %}Aller à la page de connexion{% endblocktrans %}</a>
    </p>

{% endblock contenu_page %}