{% extends "core/base_login.html" %}
{% load i18n %}
{% load static %}

{% block titre_contenu %}
    {% blocktrans %}Personnalisation du mot de passe{% endblocktrans %}
{% endblock titre_contenu %}

{% block contenu_page %}

    <p><i class="fa fa-check-circle margin-r-5 text-success"></i> {% blocktrans %}Votre nouveau mot de passe a bien été enregistré.{% endblocktrans %}</p>
    <p>{% blocktrans %}Cliquez sur le bouton ci-dessous pour accéder au portail.{% endblocktrans %}</p>

    <a type="button" class="btn btn-block btn-primary login-btn mb-4" title="{% trans "Accéder au portail" %}" href="{% url 'portail_accueil' %}">{% blocktrans %}Accéder au portail{% endblocktrans %}</a>

{% endblock contenu_page %}