{% extends "core/base_login.html" %}
{% load static %}

{% block titre_contenu %}
    Personnalisation du mot de passe
{% endblock titre_contenu %}

{% block contenu_page %}

    <p class="small">Lors d'une première connexion ou après l'expiration d'un mot de passe, il est nécessaire de personnaliser votre accès. Veuillez saisir le mot de passe de votre choix :</p>

    <form method="post">
        {% csrf_token %}

        {% if form.errors %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}

        {% if form.new_password1.errors %}
            {% for error in form.new_password1.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}

        {% if form.new_password2.errors %}
            {% for error in form.new_password2.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}

        <div class="form-group has-feedback">
            {{ form.new_password1 }}
        </div>

        <div class="form-group has-feedback">
            {{ form.new_password2 }}
        </div>

        <div class="form-group has-feedback">
            {{ form.check_conditions }} <span class="small">J'accepte les conditions d'utilisation</span>
        </div>
        <button class="btn btn-block btn-primary login-btn mb-4" type="submit">Valider</button>

    </form>

    <a class="forgot-password-link" href="{% url 'portail_deconnexion' %}" title="Se déconnecter">Se déconnecter</a>

{% endblock contenu_page %}