{% extends "core/base_login.html" %}
{% load i18n %}
{% load static %}

{% block titre_contenu %}
    {% blocktrans %}Réinitialiser votre mot de passe{% endblocktrans %}
{% endblock titre_contenu %}

{% block contenu_page %}

    <p>{% blocktrans %}Un mail vous a été envoyé. Vous devrez cliquer sur le lien indiqué dans l'Email.{% endblocktrans %}</p>
    <p>{% blocktrans %}Si vous n'avez toujours pas reçu le mail dans quelques minutes, pensez à regarder dans vos indésirables.{% endblocktrans %}</p>

{% endblock contenu_page %}