{% extends "core/base_login.html" %}
{% load static %}

{% block titre_contenu %}
    Réinitialiser votre mot de passe
{% endblock titre_contenu %}

{% block contenu_page %}

    <p><i class="fa fa-check-circle margin-r-5 text-success"></i> Votre nouveau mot de passe a bien été enregistré.</p>
    <p>Vous pouvez vous connecter dès à présent en cliquant sur le bouton ci-dessous :</p>
    <br>
    <p class="text-center">
        <a type="button" class="btn btn-primary" title="Aller à la page de connexion" href="{% url 'portail_connexion' %}">Aller à la page de connexion</a>
    </p>

{% endblock contenu_page %}