{% extends "core/base_login.html" %}
{% load i18n %}
{% load static %}

{% block titre_contenu %}
    {% blocktrans %}Personnalisation du mot de passe{% endblocktrans %}
{% endblock titre_contenu %}

{% block contenu_page %}

    <p class="small">{% blocktrans %}Lors d'une première connexion ou après l'expiration d'un mot de passe, il est nécessaire de personnaliser votre accès. Veuillez saisir le mot de passe de votre choix{% endblocktrans %} :</p>

    <form method="post">
        {% csrf_token %}

        {% if form.errors %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}

        {% if form.new_password1.errors %}
            {% for error in form.new_password1.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}

        {% if form.new_password2.errors %}
            {% for error in form.new_password2.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}

        <div class="form-group has-feedback">
            {{ form.new_password1 }}
        </div>

        <div class="form-group has-feedback">
            {{ form.new_password2 }}
        </div>

        {% if form.secquest %}
            <p class="small">{% blocktrans %}Pour des raisons de sécurité, répondez à la question suivante{% endblocktrans %} : {{ form.secquest.label }}</p>
            <div class="form-group has-feedback">
                {{ form.secquest }}
            </div>
        {% endif %}

        <div class="form-group has-feedback">
            {{ form.check_conditions }} <span class="small">{% blocktrans %}J'accepte les{% endblocktrans %} <a href="#" data-toggle="modal" data-target="#modal_conditions">{% blocktrans %}conditions d'utilisation{% endblocktrans %}</a></span>
        </div>
        <button class="btn btn-block btn-primary login-btn mb-4" type="submit">{% trans "Valider" %}</button>

    </form>

    <a class="forgot-password-link" href="{% url 'portail_deconnexion' %}" title="{% trans "Se déconnecter" %}">{% blocktrans %}Se déconnecter{% endblocktrans %}</a>

    {# Modal : Conditions d'utilisation #}
    <div class="modal" id="modal_conditions">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">{% blocktrans %}Conditions d'utilisation{% endblocktrans %}</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div style="font-size: 13px;">
                        {{ texte_conditions|safe }}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock contenu_page %}
