{% load i18n %}
{% autoescape off %}
{% trans "Bonjour" %},

{% blocktranslate %}Vous recevez ce message car vous avez demandé une réinitialisation de votre mot de passe sur le portail{% endblocktranslate %} {{ site_name }}.

{% translate "Rendez-vous sur la page suivante pour saisir un nouveau mot de passe :" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}

{% blocktranslate %}L'administrateur de{% endblocktranslate %} {{ site_name }}

{% endautoescape %}
