
    {# Commandes #}
    <div class="commandes_grille d-print-none d-flex flex-wrap">
        <button type="button" id="enregistrer" title="Enregistrer" class='btn btn-primary btn-sm' style="margin-right: 5px;"><i class="fa fa-check margin-r-5"></i>Enregistrer</button>
        <a type="button" id="annuler" class="btn btn-danger" href="{% url 'portail_reservations' %}" style="margin-right: 5px;"><i class="fa fa-ban margin-r-5"></i>Annuler</a>
        <a id="imprimer" onclick="window.print();" target="_blank" class="btn btn-default" style="margin-right: 5px;"><i class="fa fa-print margin-r-5"></i>Imprimer</a>
        <button type="button" id="traitement_par_lot" class="btn btn-default btn-sm" onclick="$('#modal_traitement_lot').modal('show');" title="Traitement par lot"><i class="fa fa-calendar-check-o"></i> Appliquer une semaine-type</button>
    </div>
