{% load i18n %}

    {# Commandes #}
    <div class="commandes_grille d-print-none d-flex flex-wrap">
        <button type="button" id="enregistrer" name="bouton_enregistrer" title="{% trans "Enregistrer" %}" class='btn btn-primary btn-sm' style="margin-right: 5px;"><i class="fa fa-check margin-r-5"></i>{% trans "Enregistrer" %}</button>
        <button type="button" id="annuler" name="bouton_annuler" title="{% trans "Annuler" %}" class="btn btn-danger" style="margin-right: 5px;"><i class="fa fa-ban margin-r-5"></i>{% trans "Annuler" %}</button>
{#        <a id="imprimer" onclick="window.print();" target="_blank" class="btn btn-default" style="margin-right: 5px;"><i class="fa fa-print margin-r-5"></i>Imprimer</a>#}
        <button type="button" id="appliquer_semaine_type" class="btn btn-default btn-sm" onclick="$('#modal_appliquer_semaine_type').modal('show');" title="{% trans "Appliquer une semaine-type" %}"><i class="fa fa-calendar-check-o"></i> {% blocktrans %}Appliquer une semaine-type{% endblocktrans %}</button>
    </div>
