{% extends "portail/page.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load static %}
{% load embed %}

{% block contenu_page %}
    {% embed 'core/box.html' %}
        {% block box_theme %}card-outline card-lightblue{% endblock %}
        {% block box_titre %}{{ box_titre }}{% endblock %}
        {% block box_introduction %}{{ box_introduction|safe }}{% endblock %}
        {% block box_contenu %}

            <dt>{% blocktrans %}Nom d'utilisateur{% endblocktrans %}</dt>

            {% if request.user.famille %}
                <dd>{% firstof request.user.famille %}</dd>
            {% else %}
                <dd>{% firstof request.user.individu %}</dd>
            {% endif %}

            <dt>{% blocktrans %}Dernière connexion{% endblocktrans %}</dt>
            <dd>{{ request.user.last_login }}</dd>

            <dt>{% blocktrans %}Utilisateur depuis{% endblocktrans %}</dt>
            <dd>{{ request.user.date_joined|date:"j F Y" }}</dd>

        {% endblock %}
    {% endembed %}

    {% embed 'core/box.html' %}
        {% block box_theme %}card-outline card-lightblue{% endblock %}
        {% block box_titre %}{% blocktrans %}Mot de passe{% endblocktrans %}{% endblock %}
        {% block box_contenu %}
            <dd><a type='button' class='btn btn-primary' href="{% url 'portail_profil_password_change' %}"><i class="fa fa-pencil margin-r-5"></i>{% blocktrans %}Modifier le mot de passe{% endblocktrans %}</a></dd>
        {% endblock %}
    {% endembed %}

{% endblock %}

