{% extends "portail/page.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load static %}
{% load embed %}

{% block contenu_page %}
    {% embed 'core/box.html' %}
        {% block box_theme %}card-outline card-lightblue{% endblock %}
        {% block box_titre %}{{ box_titre }}{% endblock %}
        {% block box_introduction %}{{ box_introduction|safe }}{% endblock %}
        {% block box_contenu %}

            {{ texte_validateurs }}

            <form method="post">
                {% csrf_token %}

                {% if form.errors %}
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}


                {% if form.new_password1.errors %}
                    {% for error in form.new_password1.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}

                {% if form.new_password2.errors %}
                    {% for error in form.new_password2.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}

                <div class="form-group has-feedback">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <span class="fa fa-lock"></span>
                            </div>
                        </div>
                        {{ form.new_password1 }}
                    </div>
                </div>

                <div class="form-group has-feedback">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <span class="fa fa-lock"></span>
                            </div>
                        </div>
                        {{ form.new_password2 }}
                    </div>
                </div>

                <div class="pull-right">
                    <button type="submit" title="Valider" class='btn btn-primary' value="Valider"><i class="fa fa-check margin-r-5"></i>{% trans "Valider" %}</button>
                    <a class="btn btn-danger" href="{% url 'portail_profil' %}"><i class='fa fa-ban margin-r-5'></i>{% trans "Annuler" %}</a>
                </div>

            </form>

        {% endblock %}
    {% endembed %}
{% endblock %}


