{% extends "portail/page.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load static %}
{% load embed %}


{% block styles %}
    {{ block.super }}
{% endblock %}

{% block contenu_page %}

    {# Texte d'introduction #}
    {% if parametres_portail.reglements_intro %}
        <div style="margin-bottom: 20px;">
            <i class="fa fa-info-circle margin-r-5"></i>{{ parametres_portail.reglements_intro }}
        </div>
    {% endif %}

  {% embed 'core/box.html' with box_titre=True %}
    {% block box_theme %}card-outline card-lightblue{% endblock %}
    {% block box_titre %}{% blocktrans %}Liste des règlements{% endblocktrans %}{% endblock %}
    {% block box_contenu %}

        <div style="display: block;overflow-x: auto;white-space: nowrap;">

            {% if reglements_grouped %}
                {% for famille_nom, reglements in reglements_grouped.items %}
             <div class="card card-famille mb-4" style="background-color: #e6e6e6;border-radius: 0.5rem;">

                        <div class="card-header">
                            <h5 class="mb-0"> Famille: {{ famille_nom }}</h5> <!-- Afficher le nom de la famille -->
                        </div>
                    <div class="card card-individu mb-4"  style="margin-inline: 0.5rem; ">

                    <table class="table table-bordered">
                        <thead>
                            <tr class="text-center">
                                <th>{% trans "Date" %}</th>
                                <th>{% trans "Mode" %}</th>
                                <th>N°</th>
                                <th>{% trans "Montant" %}</th>
                                {% if parametres_portail.reglements_afficher_encaissement %}
                                    <th>{% trans "Encaissé" %}</th>
                                {% endif %}
                                {% if parametres_portail.reglements_autoriser_telechargement_recu and parametres_portail.reglements_modele_impression_recu %}
                                    <th style="width: 90px;">{% trans "Actions" %}</th>
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for reglement in reglements %}
                                <tr class="text-center">
                                    <td>{{ reglement.date|date:'d/m/Y' }}</td>
                                    <td>{{ reglement.mode }}</td>
                                    <td>{% if reglement.numero_piece %}****{{ reglement.numero_piece|slice:"-3:" }}{% endif %}</td>
                                    <td>{{ reglement.montant|montant }}</td>
                                    {% if parametres_portail.reglements_afficher_encaissement %}
                                        <td>
                                            {% if reglement.depot %}
                                                <span class="badge badge-pill bg-success">{{ reglement.depot.date|date:'d/m/Y' }}</span>
                                            {% else %}
                                                <span class="badge badge-pill bg-danger">Non</span>
                                            {% endif %}
                                        </td>
                                    {% endif %}
                                    {% if parametres_portail.reglements_autoriser_telechargement_recu and parametres_portail.reglements_modele_impression_recu %}
                                        <td>
                                            <button data-idreglement="{{ reglement.pk }}" class="btn btn-primary btn-xs bouton_imprimer_recu" title="{% trans "Télécharger le reçu" %}"><i class="fa fa-fw fa-download"></i></button>
                                        </td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    </div>
                                               </div>

                {% endfor %}
            {% else %}
                {% blocktrans %}Aucun règlement.{% endblocktrans %}
            {% endif %}

        </div>

    {% endblock box_contenu %}
    {% block box_conclusion %}{{ box_conclusion|safe }}{% endblock %}
{% endembed %}

{% endblock contenu_page %}
