{% extends "portail/page.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load embed %}


{% block styles %}
    {{ block.super }}
{% endblock %}

{% block contenu_page %}

    {# Texte d'introduction #}
    {% if parametres_portail.reservations_intro %}
        <div style="margin-bottom: 20px;">
            <i class="fa fa-info-circle margin-r-5"></i>{{ parametres_portail.reservations_intro }}
        </div>
    {% endif %}


<div class="card card-solid">
    <div class="card-body pb-0">
        <div class="row">

            {# Fiche famille #}
            <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
                <div class="card bg-light d-flex flex-fill">

                    {# Ruban d'état #}
                    <div class="ribbon-wrapper ribbon-lg">
                        <div class="ribbon bg-warning">Incomplet</div>
                    </div>

                    <div class="card-header text-muted border-bottom-0">
                        Fiche famille
                    </div>
                    <div class="card-body pt-0">
                        <div class="row">
                            <div class="col-6">
                                <h2 class="lead"><b>Données de la famille</b></h2>
                            </div>
                            <div class="col-6 text-center">
                                <img src="{% static 'images/personne.png' %}" alt="user-avatar" class="img-circle img-fluid" style="max-height: 80px">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="small text-warning"><i class="fa fa-lg fa-exclamation-triangle"></i> Fiche incomplète</div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="text-right">
                            <a href="{% url 'portail_famille_caisse' %}" class="btn btn-xs btn-primary" title="Ouvrir">
                                <i class="fa fa-search margin-r-5"></i> Accéder à la fiche
                            </a>
                        </div>
                    </div>
                </div>
            </div>


            {# Fiches individuelles #}
            {% for rattachement in rattachements %}
                <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
                    <div class="card bg-light d-flex flex-fill">

                        {# Ruban d'état #}
                        <div class="ribbon-wrapper ribbon-lg">
                            <div class="ribbon bg-success">Complet</div>
                        </div>

                        <div class="card-header text-muted border-bottom-0">
                            Fiche {{ rattachement.get_categorie_display|lower }}
                        </div>
                        <div class="card-body pt-0">
                            <div class="row">
                                <div class="col-6">
                                    <h2 class="lead"><b>{{ rattachement.individu.Get_nom }}</b></h2>
                                </div>
                                <div class="col-6 text-center">
                                    <img src="{{ rattachement.individu.Get_photo }}" alt="user-avatar" class="img-circle img-fluid" style="max-height: 80px">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="small text-success"><i class="fa fa-lg fa-check-circle"></i> Fiche complétée</div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="text-right">
                                <a href="{% url 'portail_individu_identite' idrattachement=rattachement.pk %}" class="btn btn-xs btn-primary" title="Ouvrir">
                                    <i class="fa fa-search margin-r-5"></i> Accéder à la fiche
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
</div>

{% endblock contenu_page %}
