{% extends "core/base_login.html" %}
{% load i18n %}
{% load static %}

{% block titre_contenu %}
    {% blocktrans %}Réinitialiser votre mot de passe{% endblocktrans %}
{% endblock titre_contenu %}

{% block contenu_page %}

    <p class="small">{% blocktrans %}Saisissez votre identifiant et votre adresse Email puis cliquez sur Envoyer pour recevoir immédiatement un mail de réinitialisation.{% endblocktrans %}</p>

    <form name="reset_password" method="post">
        {% csrf_token %}

        {% if form.errors %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}

        <div class="form-group has-feedback input-group ligne">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <i class="fa fa-fw fa-user"></i>
                </span>
            </div>
            {{ form.identifiant }}
        </div>

        <div class="form-group has-feedback input-group ligne">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <i class="fa fa-fw fa-envelope"></i>
                </span>
            </div>
            {{ form.email }}
        </div>

        {% if form.captcha.errors %}
            <div class="alert alert-danger">
                {% blocktrans %}Vous devez recopier le code de sécurité ci-dessous{% endblocktrans %}
            </div>
        {% endif %}

        <div class="form-group">
            {{ form.captcha }}
        </div>

        <button name="login" id="login" class="btn btn-block btn-primary login-btn mb-4" type="submit" title="{% trans "Cliquez ici pour envoyer votre demande de réinitialisation du mot de passe" %}">{% trans "Envoyer" %}</button>

    </form>

    <a class="forgot-password-link" href="{% url 'portail_connexion' %}" title="{% trans "Revenir à la page de connexion" %}">{% blocktrans %}Revenir à la page de connexion{% endblocktrans %}</a>

{% endblock contenu_page %}