{% extends "portail/page.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load static %}
{% load embed %}

{% block styles %}
    {{ block.super }}
{% endblock %}

{% block contenu_page %}
    <p>
		<a id="retour_factures" href="{% url 'portail_facturation' %}"><i class="fa fa-arrow-circle-o-left"></i> {% blocktrans %}Revenir à la page de la facturation{% endblocktrans %}</a>
	</p>

	{% if etat == "cancel" %}
        <div class="alert alert-danger alert-dismissible">
            <h6><i class="icon fa fa-ban"></i> {% blocktrans %}Vous avez annulé avant d'avoir procédé au paiement !{% endblocktrans %}</h6>
            {% blocktrans %}Vous pouvez revenir à la page des factures.{% endblocktrans %}
        </div>
	{% endif %}

	{% if etat == "error" %}
        <div class="alert alert-danger alert-dismissible">
            <h6><i class="icon fa fa-ban"></i> {% blocktrans %}Une erreur a été rencontrée par la plate-forme de paiement !{% endblocktrans %}</h6>
            {% blocktrans %}Vous pouvez revenir à la page des factures.{% endblocktrans %}
        </div>
	{% endif %}

	{% if etat == "refused" %}
        <div class="alert alert-danger alert-dismissible">
            <h6><i class="icon fa fa-ban"></i> {% blocktrans %}Votre paiement a été refusé !{% endblocktrans %}</h6>
            {% blocktrans %}Vous pouvez revenir à la page des factures.{% endblocktrans %}
        </div>
	{% endif %}

	{% if etat == "success" %}
        <div class="alert alert-success alert-dismissible">
            <h6><i class="icon fa fa-check"></i> {% blocktrans %}Votre paiement a bien été enregistré !{% endblocktrans %}</h6>
            {% blocktrans %}Vous pouvez revenir à la page des factures.{% endblocktrans %}
        </div>
	{% endif %}

{% endblock contenu_page %}
