{% load static %}

<aside class="app-sidebar bg-body-secondary"
    data-bs-theme="dark" aria-label="Menu latéral">

    <!-- Logo -->
    <div class="sidebar-brand css-dependent-flex" hidden>
        <span class="brand-link" tabindex="-1">
            <img src="{% static 'images/logo_blanc.png' %}" alt="" role="presentation"
                 class="brand-image brand-image-deco" aria-hidden="true">
            <span class="brand-text text-white brand-text-deco" aria-hidden="true">
                Noethysweb
            </span>
        </span>
    </div>

    <!-- Zone scrollable de la sidebar -->
    <div class="sidebar-wrapper">
        <div class="sidebar-content">

            <!-- Logo de l'organisateur -->
            <div class="organisateur">
                {% if organisateur.logo %}
                    <div class="image css-dependent" hidden>
                        <img src="{{ organisateur.logo.url }}" class="rounded" alt="Logo de {{ organisateur.nom }}">
                    </div>
                {% endif %}
                <div class="info" aria-hidden="true">
                    <span>{{ organisateur.nom }}</span>
                    <span class="visually-hidden">Nom de l'organisateur :</span>
                </div>
            </div>

            <nav class="mt-2" id="navigation" tabindex="-1" aria-label="Menu de navigation principal">

                <span id="sidebar-menu-title" class="visually-hidden">
                    {{ menu_principal.titre }}
                </span>

                <ul class="nav sidebar-menu flex-column" data-lte-toggle="treeview" data-accordion="false">

                    {% for child in menu_principal.GetChildren %}
                        {% if child.toujours_afficher or child.HasChildren %}
                            <li class="nav-item">
                                <a class="nav-link {% if child in breadcrumb %} active{% endif %}"
                                   {% if child.code %}href="{% url child.code %}"{% endif %}
                                    {% if child in breadcrumb %}aria-current="page"{% endif %}
                                >
                                    <i class="nav-icon {{ child.icone }}" aria-hidden="true"></i>
                                    <p>{{ child.titre }}</p>
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}

                </ul>
            </nav>

        </div>
    </div>

</aside>
