{% load i18n %}
{% load static %}

<div class="card alert-default-secondary p-0 card_approbation">
    <table class="table no-border m-1">
        <tbody>
            <tr>
                <td class="p-1">
                    <div id="div_{{ id }}" class="custom-control custom-checkbox">
                        <input type="checkbox" name="{{ name }}" class="checkboxinput custom-control-input" id="{{ id }}">
                        <label for="{{ id }}" class="custom-control-label" style="font-size: 13px;">
                            {% if unite_consentement %}
                                {% blocktrans %}J'ai lu et j'accepte les conditions décrites dans le document{% endblocktrans %} '{{ unite_consentement.type_consentement.nom }}'.
                            {% endif %}
                            {% if rattachement %}
                                {% blocktrans %}Je certifie exact les renseignements de la fiche de{% endblocktrans %} {{ rattachement.individu.Get_nom }}.
                            {% endif %}
                            {% if famille %}
                                {% blocktrans %}Je certifie exact les renseignements de la fiche famille. {{famille}}{% endblocktrans %}
                            {% endif %}
                        </label>
                        {% if unite_consentement %}
                            <small class="form-text text-muted">{% blocktrans %}Document mis à jour le{% endblocktrans %} {{ unite_consentement.date_debut|date:'d/m/Y' }}</small>
                        {% endif %}
                    </div>
                </td>
                {% if unite_consentement and unite_consentement.document %}
                    <td class="text-right py-0 pt-1">
                        <a href="{{ unite_consentement.document.url }}" style="text-decoration: none;" target="_blank" class="btn btn-light btn-xs" title="{% trans "Cliquez ici pour ouvrir le document dans un nouvel onglet" %}"><i class="fa fa-search"></i></a>
                    </td>
                {% endif %}
            </tr>
        </tbody>
    </table>
</div>
